{%extends "base(Home).html"%}
{% load static %}
{% block head_block %}
 
  <link rel="stylesheet" href="https://static.searchhomesindia.com/css/dashboard.css">
<style>
    #header1 {top: 0px!important;}
    .maintopwrap{margin-top: 75px;}
</style>
  {% endblock %}
  {%block body_block%}
  <div class="maindashwrap">
    <div class="maintopwrap">

      <div class="dashrightwrap">
        <!-- swiper-pagination 1 start================================== -->
        <div class="swiper mySwiper">
          <div class="header__center">High Demand Projects</div>
          <div class="swiper-wrapper">
            {% for property in sell_properties %}
            <div class=" swiper-slide">
              <a href="{% url 'property_detail' property.slug %}"> <img src="{{ property.Property_Image.url }}" loading="lazy" alt="{{ property.PropertyName }}"></a>
              <h5>{{ property.PropertyName }}</h5>
              <p>{{ property.PropertyAddress }}</p>
              <h6>{{ property.Property_Price }}</h6>
            </div><!-- end section -->
            {% endfor %}
          </div>
          <div class=" nextbut swiper-button-next"></div>
          <div class=" prevbut swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
        <!-- swiper-pagination 1 end================================== -->
        <!-- swiper-pagination 2 start================================== -->
        <div class="swiper mySwiper1">
          <div class="header__center">Luxury Homes/Villa</div>
          <div class="swiper-wrapper">
            {% for property in trending_properties %}
            <div class=" swiper-slide">
              <a href="{% url 'property_detail' property.slug %}"> <img src="{{ property.Property_Image.url }}" loading="lazy" alt="{{ property.PropertyName }}"></a>
              <h5>{{ property.PropertyName }}</h5>
              <p>{{ property.PropertyAddress }}</p>
              <h6>{{ property.Property_Price }}</h6>
            </div><!-- end section -->
            {% endfor %}
          </div>
          <div class=" nextbut swiper-button-next"></div>
          <div class=" prevbut swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
        <!-- swiper-pagination 2 end================================== -->

        <section class="trendingprop" id="trending">
          <div class="header__center">Trending Rental properties</div>
          <div class="swiper11 mySwiper13">
            <div class="swiper-wrapper s13">
              {% for property in trending_properties_rental  %}
                <div class=" swiper-slide">
                  <a href="{% url 'rental_property_detail' property.slug %}"> 
                    {% if property.project_cover_img %}
                      <img src="{{ property.project_cover_img.url }}" loading="lazy" alt="{{ property.r_property_name }}">
                    {% else %}
                        <img src="https://static.searchhomesindia.com/images/noimage.webp" loading="lazy" alt="No images">
                    {% endif %}
                  </a>
                  <h5>{{ property.r_property_name }}</h5>
                  <p>{{ property.address }}</p>
                  <h6>{{ property.min_price_filter }}</h6>
                </div>
              {% endfor %}
            </div>
            <div class="nextbut swiper-button-next"></div>
            <div class="prevbut swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
        </section>
      </div>
      <div class="dashleftwrap">

        <header class="dashheader">
          <div class="headwrap" id="up3">
            <button id="dashsellbutn" class="dashbutton activeded" type="submit"> Sell</button>
            <button id="dashrentbutn" type="submit" class="dashbutton">Rent/Lease</button>
            <button id="dashpgbutn" type="submit" class="dashbutton">Pg/Co-live</button>
            <button id="dashcontactbutn" type="submit" class="dashbutton">Custumers Contacts</button>
          </div>
        </header>

        <div class="dashcontain_sell" id="dashsell">
          <table>
            <thead class="table-headers">
              <th>Posted Property Name</th>
            </thead>

            <tbody>
              {% for property in user_properties %}
              <tr>
                <td class="Firsttd">{{ property.project_society_name }}</td>
                <th class="mobile-header">S. no.</th>
                <td>{{ forloop.counter }}</td>
                <th class="mobile-header">Property Type</th>
                <td>{{ property.apartment_type }}</td>
                <th class="mobile-header">Property Status</th>
                <td>{{ property.status }}</td>
                <th class="mobile-header">Property City</th>
                <td>{{ property.project_city }}</td>
                <th class="mobile-header">Edit/Delete</th>
                <td>
                  <a href="{% url 'edit_property' property.slug %}">  <button type="button" class="editdel" >Edit</button></a>
                  <a href="{% url 'delete_property' property.slug %}">  <button type="button" class="editdel1" >Delete</button></a>
                </td>
              </tr>
              {% empty %}
              <tr>
                  <td class="dashmainheading" colspan="5">No properties found.</td>
              </tr>
              {% endfor %}

            </tbody>

          </table>

        </div>

        <div class="dashcontain_rent" id="dashrent" style="display: none;">
          <table>
            <thead>
              <tr class="table-headers">
                <th>Rented Property Name</th>
              </tr>
            </thead>

            <tbody>
              {% for property in user_rental_properties %}
              <tr>
                <td class="Firsttd">{{property.r_property_name}}</td>
                <th class="mobile-header">S. no.</th>
                <td>{{ forloop.counter }}</td>
                <th class="mobile-header">Property Type</th>
                <td>{{ property.total_rooms }}</td>
                <th class="mobile-header">Facing</th>
                <td>{{ property.facing }}</td>
                <th class="mobile-header">property City</th>
                <td>{{ property.project_city }}</td>
                <th class="mobile-header">Edit/Delete</th>
                <td>
                  <a href="{% url 'edit_rental_property' property.slug %}">  <button type="button" class="editdel" >Edit</button></a>
                  <a href="{% url 'delete_property' property.slug %}"><button type="button" class="editdel1" >Delete</button></a>
                </td>
              </tr>
              {% empty %}
                  <tr>
                      <td colspan="5">No properties found.</td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="dashcontain_pg" id="dashpg" style="display: none;">
          <table>
            <thead>
              <tr class="table-headers">
                <th>Pgs Property Name</th>
              </tr>
            </thead>

            <tbody>
              {% for property in user_pg_properties %}
                <tr>
                  <td class="Firsttd">{{ property.pg_property_name }}</td>
                  <th class="mobile-header">S. no.</th>
                  <td>{{ forloop.counter }}</td>
                  <th class="mobile-header">Sharing Type</th>
                  <td>{{ property.sharing_type }} Sharing</td>
                  <th class="mobile-header">Food Availability</th>
                  <td>{{ property.food_availability }}</td>
                  <th class="mobile-header">Property City</th>
                  <td>{{ property.project_city }}</td>
                  <th class="mobile-header">Edit/Delete</th>
                  <td>
                    <a href="{% url 'edit_pg_property' property.slug %}">  <button type="button" class="editdel" >Edit</button></a>
                    <a href="{% url 'delete_property' property.slug %}"><button type="button" class="editdel1" >Delete</button></a>
                  </td>
                </tr>
              {% empty %}
                  <tr>
                      <td colspan="5">No properties found.</td>
                  </tr>
              {% endfor %} 
            </tbody>
          </table>
        </div>

        <div class="dashcontain_contact" id="dashcontact" style="display: none;">
          <table>
            <thead>
              <tr class="table-headers">
                <th>User Contacts Data</th>
              </tr>
            </thead>

            <tbody>
              {% for property in user_contact_data %}
                <tr>
                  <td class="Firsttd">{{ property.property_Name }}</td>
                  <th class="mobile-header">Custumer Name</th>
                  <td>{{ property.name }}</td>
                  <th class="mobile-header">Number</th>
                  <td>{{ property.phone }} </td>
                  <th class="mobile-header">Email</th>
                  <td>{{ property.email }}</td>
                  <th class="mobile-header">Message</th>
                  <td>{{ property.message }}</td>
                </tr>
              {% empty %}
                  <tr>
                      <td colspan="5">No Contacts found.</td>
                  </tr>
              {% endfor %} 
            </tbody>
          </table>
        </div>

      </div>

    </div>

  </div>

  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
  <script src="https://static.searchhomesindia.com/js/swiper-bundle1.js"></script>
  <script src="https://static.searchhomesindia.com/js/dashboard.js"></script>

{% endblock %} 