{%extends "base(Home).html"%}
{% load static %}
{% block head_block %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure your home legal guidance with Search Homes India</title>
    <meta name="title" content="Secure your home legal guidance with Search Homes India">
    <meta name="description" content="Search Homes India provides specialized legal services for real estate transactions, offering complete counsel tailored to specific nuances and requirements.">
    <meta name="keywords" content="Legal assistance, legal services, Transaction Lawyer, Legal Counsel, Support, Advice">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://static.searchhomesindia.com/css/shiservices.css">
    <style>
        #header1 {top: 0px!important;}
        #home_decore_main{margin-top: 65px;}
    </style>
{% endblock %}
{%block body_block%}
    <main id="home_decore_main">
        <div class="homebanner">
            <img src="https://static.searchhomesindia.com/images/legalassistance_lap.jpg" alt="HomeDecor_LaptopImg" id="HomeDecor_LaptopImg">
            <img src="https://static.searchhomesindia.com/images/legalassistance_mob.png" alt="HomeDecor_MobileImg" id="HomeDecor_MobileImg">
            <button type="button" class="Bannerbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">I'm
                interested</button>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt-3">
                    <div class="topline">
                        <h1>
                            Why Legal Assistance is Crucial
                        </h1>
                        <h6>
                            Legal assistance ensures compliance, mitigates risks, and protects your interests in real estate transactions. Search Homes India offers tailored legal counsel for smooth and secure property transactions.
                        </h6>
                    </div>
                </div>

                <div class="col-lg-12 mt-4">
                    <div class="stephead">
                        <h2>
                            Our Services
                        </h2>
                    </div>
                    <div class="benefitbox">
                        <div class="row" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <div class="col-lg-4">
                                ✔️ Title verification <br>
                                ✔️ Document Review <br>
                                ✔️ Due Diligence<br>
                                ✔️ Property Registration<br>
                                ✔️ Legal Compliance<br>
                                ✔️ Dispute Resolution<br>
                                ✔️ Rectification Deed<br>
                                ✔️ Drafting of Sale Agreement<br>
                                ✔️ Tan Assistance<br>
                                ✔️ Procurement of Encumbrance Certificate for the last 20 years<br>
                                ✔️ Bescom Transfer<br>
                                ✔️ Lease Agreement<br>
                                ✔️ Family Tree Approved copy<br>
                                ✔️ Procurement of Family Tree<br>
                                ✔️ Drafting and adjudication of POA<br>
                                ✔️ Physical Verification of property
                            </div>
                            <div class="col-lg-4">
                                ✔️ Procurement of RTC Mutation<br>
                                ✔️ Will Deed<br>
                                ✔️ Release Deed<br>
                                ✔️ Only E-Stamping<br>
                                ✔️ Mother Deed Procurement<br>
                                ✔️ SRO Assistance<br>
                                ✔️ Tax Name Change<br>
                                ✔️ Tax Assessment<br>
                                ✔️ Review Of The Sale Agreement<br>
                                ✔️ Advocate Consultation<br>
                                ✔️ Reviewing the Sale Deed <br>
                                ✔️ BWSSB (Water Board) <br>
                                ✔️ Gift Deed <br>
                                ✔️ Drafting of the Sale Deed <br>
                                ✔️ Khata Transfer <br>
                                ✔️ Amalgamation of Khatas <br>
                                ✔️ Govt Guidance Value Documented <br>
                                ✔️ Govt Guidance Value verbal <br>
                               
                            </div>
                            <div class="col-lg-4">
                                ✔️ Amalgamation of Deeds <br>
                                ✔️ Review of MOU <br>
                                ✔️ Supplementary Agreement <br>
                                ✔️ Drafting and registration Of GPA <br>
                                ✔️ Drafting of Tri-Party Agreement and Notary <br>
                                ✔️ Form 26QB for Purchaser/Seller <br>
                                ✔️ Form-15CA/Form-16CB <br>
                                ✔️ Discharge Deed <br>
                                ✔️ LTE Certificate <br>
                                ✔️ GST Registration<br>
                                ✔️ Registering the Trademark <br>
                                ✔️ Trademark Registration <br>
                                ✔️ Physical Consultation <br>
                                ✔️ Sale Deed Certified Copy Manual <br>
                                ✔️ BDA Plan Certified Copy <br>
                                ✔️ Sale Deed Certified Copy Electronic
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-12 mt-5">
                    <button type="button" class="Bannerbtn1 " data-bs-toggle="modal"
                    data-bs-target="#exampleModal" style="margin-left: 25%;">Contact Us For Services</button>
                </div>

                <div class="col-lg-12 mt-5">

                    <div class="stephead">
                        <h2>
                            Why Choose Search Homes India?
                        </h2>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="homeloansteps">
                                <div class="homeloanstepleft">
                                    <img src="https://static.searchhomesindia.com/images/expertise.svg" alt="Expertise">
                                </div>
                                <div class="homeloanstepright">
                                    <p>Expertise</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="homeloansteps">
                                <div class="homeloanstepleft">
                                    <img src="https://static.searchhomesindia.com/images/Transparency.svg" alt="Transparency">
                                </div>
                                <div class="homeloanstepright">
                                    <p>Transparency</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="homeloansteps">
                                <div class="homeloanstepleft">
                                    <img src="https://static.searchhomesindia.com/images/personalised.svg" alt="Personalised">
                                </div>
                                <div class="homeloanstepright">
                                    <p>Personalized Service</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="homeloansteps">
                                <div class="homeloanstepleft">
                                    <img src="https://static.searchhomesindia.com/images/peace.svg" alt="Peace">
                                </div>
                                <div class="homeloanstepright">
                                    <p>Peace of Mind</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 mt-5">
                    <div class="row">
                        <div class="col-lg-6 text-left">
                            <div class="leftcontent">
                                <h3>Get Started Today!</h3>
                                <p>Protect your investment with Search Homes India. Contact us today to learn more about
                                    our legal assistance services.</p>
                                <button type="button" class="Bannerbtn1" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">I'm interested</button>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="rightcontentimg">
                                <img src="https://static.searchhomesindia.com/images/legal_sideimg.svg" alt="Inteior-svg-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="homedecor_footer d-flex align-items-center justify-content-center text-center">
            <h2>Legal Expertise for Your Perfect Property Purchase with Us!</h2>
            <div class="homedecor_footer_line1"></div>
            <div class="homedecor_footer_line2"></div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Reach Out To Us</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="form" id="form" method="post" enctype="multipart/form-data" action="{% url 'legal_assistance_view' %}">
                            {% csrf_token %}
                            <div class="form-input">
                                <label>Name</label>
                                <input type="text" class="input" name="name" required>
                            </div>
                            <div class="form-input">
                                <label>Phone Number</label>
                                <input type="number" class="input" name="phone_number" required>
                            </div>
                            <div class="form-input">
                                <label>Email</label>
                                <input type="email" class="input" name="email" required>
                            </div>
                            <div class="textarea">
                                <label>Enter Our Services/Plans</label>
                                <textarea name="our_services"></textarea>
                            </div>
                            <button class="submit" type="submit">Submit</button>
                        </form> 
                    </div>

                </div>
            </div>
        </div>
    </main>
{% endblock %} 