{%extends "base(Home).html"%}
{% load static %}

{% block head_block %}
<title>Calculate Your Loan To Buy Properties In Bangalore</title>
<meta name="keyword" content="properties in bangalore, properties near me,top builders in bangalore, buy house in bangalore, best builders in bangalore, best apartments in bangalore, flats for sale near me">
<meta name= "description" content = "Search Homes India Pvt Ltd allows calculating your loan to purchase the properties in Bangalore with the support from experts and budget at your convenient">
{% endblock %}

{%block body_block%}

<!--===== PAGE TITLE =====-->
<div class="page-title page-main-section parallaxie" style="background-image: url(../static/images/city.jpg);">
    <div class="container padding-bottom-top-120 text-uppercase text-center">
      <div class="main-title">
        <h1>Loan Calculator</h1>
        <h5>10 Years Of Experience!</h5>
        <div class="line_4"></div>
        <div class="line_5"></div>
        <div class="line_6"></div>
        <a href="/" title="Home">home</a><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span><!--<a href="#.">Loan Calculator</a>--> </div>
    </div>
  </div>
  <!--===== #/PAGE TITLE =====--> 
  
  
  <!--===== Loan Calculator =====-->
  <section id="loan-calculator">
    <div class="container">
      <div class="row text-center">
      
        <div class="col-md-3 col-sm-2 col-xs-12"></div>
          
        <div class="col-md-9 col-sm-8 col-xs-12">
  
          <div class="calc">
          
          <div class="row">
            <div class="col-md-12 text-center bottom40">
              <h2 class="text-uppercase bottom10">Loan <span class="color_red" style="color: gray;">Calculator</span></h2>
              <div class="text-center seprator">
              <div class="line_4"></div>
              <div class="line_5"></div>
              <div class="line_6"></div>
              </div>
              <p>We have Properties in these Areas View a list of Featured Properties.</p>
            </div>
          </div>
        
          <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2">
                <label for="amount" class="fa fa-usd"></label>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <input type="text" id="amount" name="amount" placeholder="Loan Amount">
            </div>
           
          </div>
          
          <div class="row  p-b-30  p-t-30">  
            <div class="col-md-2 col-sm-2 col-xs-2">
              <label for="amount" class="fa fa-calendar"></label>
            </div>
            
            <div class="col-md-10 col-sm-10 col-xs-10">
              <input type="text" id="months" placeholder="Months">
            </div>
          </div>
          
          <div class="row">  
            <div class="col-md-2 col-sm-2 col-xs-2">
              <label for="amount" class="fa fa-calendar"></label>
            </div>
              
            <div class="col-md-10 col-sm-10 col-xs-10">
                <input type="text" id="years" placeholder="Years">
            </div>
          </div>
          
          <div class="row  p-b-30  p-t-30">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <label for="amount" class="fa interest"></label>
            </div>
            
            <div class="col-md-10 col-sm-10 col-xs-10">
              <input type="text" id="interest" placeholder="Interest Rate">
            </div>
            
            </div>
            
           
           <div class="row  p-b-30  p-t-30">
            <div class="col-md-12">
              <button class="btn" onclick="myFunction()">Calculate</button>
            </div>
           </div>
           
           <div class="row">
            <div class="col-md-12">
              <p id="output">Monthly Payment</p>
            </div>
           </div>
           
           <div class="row">
            <div class="col-md-12">
              <a href="#." class="reset" title="reset">Reset</a>
            </div>
           </div>
           
          </div>
        </div>
        
        <div class="col-md-3 col-sm-2 col-xs-12"></div>
        
      </div>
    </div>
  </section>
  <!--===== #/Loan Calculator =====--> 
  
  {% endblock %}  