{%extends "base(Home).html"%}
{% load static %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'css/SellerDetMain2.css' %}">
<style>
   #header1 {top: 0px!important;}
    .insidecontain{margin-top: 65px;}
    .active, .btnsss:hover {
   background: transparent!important;
   }
   .image-item{
    border: 2px solid grey;
    margin-right: 10%;
   }
   .image-update a{
      font-size: 14px;
   }
   @media only screen and (max-width:768px) {
      .image-update a{
      font-size: 7px;
      }
   }
</style>
{% endblock %}
{%block body_block%}

<div class="maincontent">

   <div class="col-lg-12" style="width: 100%; position: fixed; background-color: #fff!important;z-index: 999; left: 0px;">
      <div class="progress-bar mx-auto">
          <div class="progresstop">
              <div class="title">
                  Progress bar
              </div>
          </div>
          <div class="progressbottom">

              <div class="step">
                  <p class="progresp">
                      Basic Details
                  </p>
                  <div class="bullet progres1">
                      <span>1</span>
                  </div>
                  <div class="check"></div>
              </div>
              <div class="step">
                  <p>
                      Essential Detail
                  </p>
                  <div class="bullet">
                      <span>2</span>
                  </div>
                  <div class="check"></div>
              </div>
              <div class="step">
                  <p>
                      Images
                  </p>
                  <div class="bullet">
                      <span>3</span>
                  </div>
                  <div class="check"></div>
              </div>
              <div class="step">
                  <p>
                      Submit
                  </p>
                  <div class="bullet">
                      <span>4</span>
                  </div>
                  <div class="check"></div>
              </div>
          </div>
      </div>
  </div>

  <div class="container" style="background-size:100%; background-repeat: no-repeat;">
   <div class="row">
       <div class="col-lg-12" style="margin-top: 150px;">
    
     <div class="rightprogress mx-auto">
      <div class="form-outer">
         <form method="post" enctype="multipart/form-data" id="submit_propertyid">
            {% csrf_token %}

            <div class="page slide-page" id="page1dets">
               <div class="titlee">
                  Basic Details
               </div>
               <div class="field">
                  <div class="label">
                     I am <span class="req">*</span>
                  </div>
                  <label for="id_u_property_type_1"> Owner</label>
                  <input type="radio" name="u_property_type" value="owner" required id="id_u_property_type_1"
                      class="iamradio"  {% if property.u_property_type == 'owner' %} checked {% endif %}>
                  <label for="id_u_property_type_2" id="fielabs">Agent</label>
                  <input type="radio" name="u_property_type" value="agent" required id="id_u_property_type_2"
                      class="iamradio" {% if property.u_property_type == 'agent' %} checked {% endif %}>
                  <label for="id_u_property_type_3" id="fielabs">Builder</label>
                  <input type="radio" name="u_property_type" value="builder" required
                      id="id_u_property_type_3" class="iamradio" {% if property.u_property_type == 'builder' %} checked {% endif %}>

               </div>
               <div class="field">
                  <div class="label">
                     Here to <span class="req">*</span>
                  </div>
                  <label for="sell">Sell</label>
                  <input type="radio" name="hereto" value="sell" class="iamradio" disabled>
                  <label for="Rent/Lease" id="fielabs">Rent/Lease</label>
                  <input type="radio" name="hereto" value="Rent/Lease" required class="iamradio" checked>
                  <label for="Pg/Colive" id="fielabs">Pg/Co-live</label>
                  <input type="radio" name="hereto" value="Pg/Colive" class="iamradio" disabled>
               </div>
               <div class="field">
                  <div class="label">
                     Enter City <span class="req">*</span>
                  </div>
                  <select name="project_city" id="id_project_city" required>

                     <option value="bengaluru" {% if property.project_city == 'bengaluru' %} selected {% endif %}>Bengaluru</option>
           
                     <option value="chennai" {% if property.project_city == 'chennai' %} selected {% endif %}>Chennai</option>
           
                     <option value="mumbai" {% if property.project_city == 'mumbai' %} selected {% endif %}>Mumbai</option>
           
                     <option value="hyderabad" {% if property.project_city == 'hyderabad' %} selected {% endif %}>Hyderabad</option>
           
                     <option value="delhi" {% if property.project_city == 'delhi' %} selected {% endif %}>Delhi</option>
           
                     <option value="pune" {% if property.project_city == 'pune' %} selected {% endif %}>Pune</option>
           
                     <option value="allindia" {% if property.project_city == 'allindia' %} selected {% endif %}>All India</option>
           
                   </select>
               </div>

               <div class="field">
                  <div class="label">
                     Enter Locality <span class="req">*</span>
                  </div>
                  <input type="text" placeholder="Enter Locality" name="landmark" maxlength="100" required
                     id="id_landmark" value="{{ property.landmark }}">
               </div>

               <div class="field">
                  <div class="label">
                     Property/Society Name <span class="req">*</span>
                  </div>
                  <input type="text" placeholder="Society name" name="r_property_name" maxlength="40" required
                     id="id_r_property_name" value="{{ property.r_property_name }}">
               </div>

               <div class="field">
                  <div class="label">
                     Apartment/Bhk Type <span class="req">*</span>
                  </div>
                  <select name="total_rooms" required id="id_total_rooms">
                     <option value="" {% if property.total_rooms == '' %} selected {% endif %}>Apartment Type</option>

                     <option value="1RK" {% if property.total_rooms == '1RK' %} selected {% endif %}>1 RK</option>

                     <option value="1BHK" {% if property.total_rooms == '1BHK' %} selected {% endif %}>1 BHK</option>

                     <option value="2BHK" {% if property.total_rooms == '2BHK' %} selected {% endif %}>2 BHK</option>

                     <option value="3BHK" {% if property.total_rooms == '3BHK' %} selected {% endif %}>3 BHK</option>

                     <option value="4BHK" {% if property.total_rooms == '4BHK' %} selected {% endif %}>4 BHK</option>

                     <option value="5BHK" {% if property.total_rooms == '5BHK' %} selected {% endif %}>5 BHK</option>

                     <option value="villa" {% if property.total_rooms == 'villa' %} selected {% endif %}>Villa</option>

                     <option value="commercialspace" {% if property.total_rooms == 'commercialspace' %} selected {% endif %}>Commercial Space</option>

                  </select>
               </div>

               <div class="field">
                  <div class="label">
                     Available from <span class="req">*</span>
                  </div>
                  <select name="available_from" required id="id_available_from">
                     
                     <option value="" {% if property.available_from == '' %} selected {% endif %}>Available from</option>

                     <option value="immediate" {% if property.available_from == 'immediate' %} selected {% endif %}>Immediate</option>

                     <option value="within15days" {% if property.available_from == 'within15days' %} selected {% endif %}>With In 15 Days</option>

                     <option value="within1month" {% if property.available_from == 'within1month' %} selected {% endif %}>With In 1 Month</option>

                     <option value="morethan1month" {% if property.available_from == 'morethan1month' %} selected {% endif %}>More Than 1 Month</option>

                  </select>
               </div>

               <div class="field">
                  <div class="label">
                     Furnished Status <span class="req">*</span>
                  </div>

                <select name="furnished_status" id="id_furnished_status" required>

                 <option value="furnished" {% if property.furnished_status == 'furnished' %} selected {% endif %}>Furnished</option>

                 <option value="semi-furnished" {% if property.furnished_status == 'semi-furnished' %} selected {% endif %}>Semi-Furnished</option>

                 <option value="unfurnished" {% if property.furnished_status == 'unfurnished' %} selected {% endif %}>Unfurnished</option>

             </select>

               </div>

               <div class="field">
                  <div class="label">
                     Available for <span class="req">*</span>
                  </div>
                  <select name="available_for" required id="id_available_for">

                     <option value="" {% if property.available_for == '' %} selected {% endif %}>Available for</option>

                     <option value="family" {% if property.available_for == 'family' %} selected {% endif %}>Family</option>

                     <option value="bachelors" {% if property.available_for == 'bachelors' %} selected {% endif %}>Bachelors</option>

                     <option value="familybachelors" {% if property.available_for == 'familybachelors' %} selected {% endif %}>Family/Bachelors</option>

                     <option value="company-guests" {% if property.available_for == 'company-guests' %} selected {% endif %}>Company Guests</option>

                     <option value="commercial" {% if property.available_for == 'commercial' %} selected {% endif %}>Commercial</option>

                  </select>
               </div>

               <div class="field">
                  <div class="label">
                     Age of Construction
                  </div>
                  <input type="number" placeholder="Age of Construction" name="age_of_construction" min="0" value="{{ property.age_of_construction }}" id="id_age_of_construction">
               </div>

               <div class="field">
                  <a href="#page2dets"><button type="button" class="firstNext next" id="page1next">Next</button></a>
               </div>
               
            </div>

            <div class="page" id="page2dets" style="display: none;">
               <br><br><br><br><br><br>
               <div class="titlee">
                  Essential Details:
               </div>

               <div class="field">
                  <div class="label">
                     Min. Pricing(/month) <span class="req">*</span>
                  </div>
                  <input type="number" placeholder=" Min. Pricing" value="{{ property.min_price_filter }}" name="min_price_filter" step="0.01" required id="id_min_price_filter">
               </div>

               <div class="field">
                  <div class="label">
                     Max. Pricing(/month)
                  </div>
                  <input type="number" placeholder="Max. Pricing" name="max_price_filter" step="0.01"
                     id="id_max_price_filter" value="{{ property.max_price_filter }}">
               </div>

               <div class="field">
                  <div class="label">
                     Security Deposit <span class="req">*</span>
                  </div>
                  <input type="number" placeholder="Security Deposit" name="security_deposit" step="0.01" required
                     id="id_security_deposit" value="{{ property.security_deposit }}">
               </div>

               <div class="field">
                  <div class="label">
                     Maintenance Cost
                  </div>
                  <input type="number" placeholder="Security Deposit" name="maintenance_cost" step="0.01"
                     id="id_maintenance_cost" value="{{ property.maintenance_cost }}">
               </div>

               <div class="field">
                  <div class="label">
                     Floor No. <span class="req">*</span>
                  </div>
                  <input type="number" placeholder="Floor No." name="floor_number" min="0" required
                     id="id_floor_number" value="{{ property.floor_number }}">
               </div>

               <div class="field">
                 <div class="label">
                     Notice Period
                 </div>
                 <input type="number" placeholder="Notice Period" name="notice_period" min="0" id="id_notice_period" value="{{ property.notice_period }}">
              </div>

               <div class="field">
                  <div class="label">
                     Amenities
                  </div>
                  <input type="text" placeholder="Amenities" name="amenities" maxlength="300" id="id_amenities" value="{{ property.amenities }}">
               </div>

               <div class="field">
                  <div class="label">
                   Lifts <span class="req">*</span>
                  </div>
                  <select name="lifts" id="id_lifts" required>

                    <option value="" {% if property.lifts == '' %} selected {% endif %}>Select</option>

                    <option value="yes" {% if property.lifts == 'yes' %} selected {% endif %}>YES</option>

                    <option value="no" {% if property.lifts == 'no' %} selected {% endif %}>No</option>

                </select>
               </div>

               <div class="field">
                  <div class="label">
                     Facing <span class="req">*</span>
                  </div>
                  <select name="facing" required id="id_facing">
                     <option value="" {% if property.facing == '' %} selected {% endif %}>Select facing</option>

                     <option value="north" {% if property.facing == 'north' %} selected {% endif %}>North</option>

                     <option value="south" {% if property.facing == 'south' %} selected {% endif %}>South</option>

                     <option value="east" {% if property.facing == 'east' %} selected {% endif %}>East</option>

                     <option value="west" {% if property.facing == 'west' %} selected {% endif %}>West</option>
                  </select>
               </div>

               <div class="field">
                  <div class="label">
                     Ac Rooms <span class="req">*</span>
                  </div>
                  <select name="ac_rooms" required id="id_ac_rooms">
                     <option value="" {% if property.ac_rooms == '' %} selected {% endif %}> Ac Rooms</option>
           
                     <option value="yes" {% if property.ac_rooms == 'yes' %} selected {% endif %}>YES</option>
           
                     <option value="no" {% if property.ac_rooms == 'no' %} selected {% endif %}>NO</option>
           
                   </select>
               </div>

               <div class="field">
                  <div class="label">
                     Power Backup <span class="req">*</span>
                  </div>
                  <select name="power_backup" required id="id_power_backup">

                     <option value="" {% if property.power_backup == '' %} selected {% endif %}>Select Type</option>

                     <option value="yes" {% if property.power_backup == 'yes' %} selected {% endif %}>YES</option>

                     <option value="no" {% if property.power_backup == 'no' %} selected {% endif %}>NO</option>

                  </select>
               </div>

               <div class="field">
                  <div class="label">
                     Description
                  </div>
                  <textarea name="discription" placeholder="For Good Response describe"
                     id="id_discription" >{{ property.discription }}</textarea>
               </div>

               <div class="field">
                  <div class="label">
                     Address <span class="req">*</span>
                  </div>
                  <input type="text" placeholder="Address & pincode" name="address" maxlength="255" required
                     id="id_address" value="{{ property.address }}">
               </div>

               <div class="field btns">
                  <a href="#page1dets"> <button type="button" class="prev-1 prev" id="page2prev">Previous</button>
                  </a>
                  <a href="#page3dets"> <button type="button" class="next-1 next" id="page2next">Next</button>
                  </a>
               </div>

            </div>

            <div class="page" id="page3dets" style="display: none;">
               <br><br><br><br><br><br>
               <div class="titlee">
                  For Better Response Uploads Images
               </div>
               <div class="field">
                 <div class="label">
                     Cover Image
                 </div>
                 {% if property.get_cover_img_url %}
                    <img src="{{ property.get_cover_img_url }}" alt="Current Image">
                 {% else %}
                    <!-- Display a placeholder image or a message when no image is present -->
                    <span>No cover image available</span>
                 {% endif %}
                 <!-- Input field to upload a new image -->
                 <input type="file" name="project_cover_img" accept="image/*" id="id_project_cover_img" style="margin-left: 5%;">
              </div>

              {{ form.image_formset.management_form }}
               <div class="image-container">
                  {% for form in form.image_formset %}
                     <div class="image-item">
                           <div class="label">
                              Image-{{ forloop.counter }}
                           </div>
                           <div class="image-preview">
                              {% if form.instance.image %}
                                 <img src="{{ form.instance.image.url }}" alt="Current Image" style="width: 50%;">
                              {% else %}
                                 <span>No image available</span>
                              {% endif %}
                           </div>
                           <div class="image-details">
                              <div class="image-type">
                                 {{ form.image_type }}
                              </div>
                              <div class="image-update">
                                 {{ form.image }}
                              </div>
                              <div class="image-actions">
                                 {{ form.DELETE }}
                                 {{ form.id }}
                              </div>
                           </div>
                     </div><br>
                  {% endfor %}
                 </div>

               <div class="field btns">
                  <a href="#page2dets"><button type="button" class="prev-2 prev" id="page3prev">Previous</button></a>
                  <a href="#page4dets"><button type="button" class="next-2 next" id="page3next">Next</button>
                  </a>
               </div>

            </div>

            <div class="page" id="page4dets" style="display: none;">
               <br><br>
               <div class="lastpagewrap">
                  <input type="checkbox" required>
                  <label for="confirm">Confirm and Submit</label>
               </div>
               <div class="field btns finalpage">
                  <a href="#page3dets">
                     <button type="button" class="prev-3 prev" id="page4prev">Previous</button>
                  </a>
                  <button type="submit" class="submit" id="submit_buttonid">Submit</button>
               </div>
            </div>

         </form>
      </div>
     </div>
     </div>
     </div>
   </div>
   
</div>

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="{% static 'js/SellerDetMain2.js' %}"></script>

{% endblock %}