{%extends "base(Home).html"%}
{% load static %}
{% block head_block %}

    <title>Term and Conditions- Search Homes India Pvt Ltd</title>
    <meta name="description" content="Explore Search Homes India Terms & Conditions for transparent real estate dealings. Clear guidelines for a secure and seamless experience.">
    <meta name="keywords" content="search homes india term & condition, term & condition of search homes india platform, term & condition real estate">
    <link rel="stylesheet" href="https://static.searchhomesindia.com/css/terms.css">
    <style>
        #header1 {top: 0px!important;}.Privacymain{margin-top: 65px;}.margin-t2{margin-top: 2%;}.margin-b2{margin-bottom: 2%;}
    </style>
{% endblock %}
{%block body_block%}

    <main class="Privacymain">
        <div class="conatiner">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="privacytop">
                        <img src="https://static.searchhomesindia.com/images/terms.webp" alt="">
                    </div>
                    <div class="privacyheading">
                        <h1>Terms & Conditions</h1>
                        <div class="btline-1"></div>
                        <div class="btline-2"></div>
                        <div class="btline-3"></div>
                    </div>
                    <div class="privacypara">
                        <ul>
                            <li>
                                <p>
                                    These Terms of Use ("Terms") govern your use of the Search Homes India website ("the website") provided by 
                                    Search Homes India Private Limited ("Company," "We," "Us"). By accessing or using the website, you agree to 
                                    be bound by these Terms.
                                </p>

                            </li>

                            <li>
                                <h2>1.	Acceptance of Terms</h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                        By using the website, you acknowledge that you have read, understood, and agree to be bound by these 
                                        Terms of Use. If you do not agree to these Terms, please refrain from using the application.
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>2.	Applicability</h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                        These Terms are applicable to all users, including both registered and 
                                        unregistered users of the website. By using the website, you consent to the collection and use of your
                                        information as described in our Privacy Policy.
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>3.	User Conduct</h2>
                                <ol>
                                    <li class="margin-t2 margin-b2"><b>a.</b> You agree to use the website only for lawful purposes and in accordance with these Terms. You may not use the website in any manner that could damage,
                                         disable, overburden, or impair the website or interfere with any other party's use and enjoyment of the website.</li>
                                    <li class="margin-t2 margin-b2"><b>b.</b>	You agree not to upload, post, transmit, or otherwise make available any content that is harmful, threatening, abusive, 
                                        harassing, defamatory, obscene, vulgar, or otherwise objectionable.</li>
                                </ol>
                            </li>

                            <li>
                                <h2>4.	 User Accounts </h2>
                                <ol class="margin-t2 margin-b2">
                                    <li><b>a.</b>	To access certain features of the website, you may be required to create an account. 
                                        You agree to provide accurate and complete information when creating an account.</li>
                                    <li class="margin-t2 margin-b2"><b>b.</b>	You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account. 
                                            You agree to notify us immediately of any unauthorized use of your account or any other breach of security.</li>
                                        
                                </ol>
                            </li>

                            <li>
                                <h2>5.	Use of Content </h2>
                                <ol>
                                    <li class="margin-t2 margin-b2"><b>a.</b>	All content provided on the website, including text, graphics, images, and information, is the property of the website or
                                         its licensors and is protected by copyright and other intellectual property laws.</li>
                                    <li class="margin-t2 margin-b2">
                                        <b>b.</b>	You may access and use the content for personal, non-commercial use only. You may not modify, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer,
                                         or sell any content obtained from the website without the express written consent of the website. 
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>6.	RENTAL AGREEMENT</h2>
                                <ol>
                                    <li><b>a.</b>  When availing rental agreement services from us, users and property owners shall provide necessary personal information for successful registration.</li>
                                    <li class="margin-t2"><b>b.</b>  For the purposes of this agreement, users and property owners undertake:
                                    <ol type="a" class="margin-b2">
                                        <li>i.	Not to hold Search Homes India liable for disputes arising between them.</li>
                                        <li>ii.	Not to hold Search Homes India liable for any loss or damage resulting from fraudulent, negligent acts, or prohibited conduct by another user.</li>
                                        <li>iii.	To bear registration or stamp duty charges on rental agreements as per applicable law and not hold Search Homes India liable for penalties due to insufficient charges.</li>
                                        <li>iv.	To disclose additional information as required for completing the registration process to third parties and/or Search Homes India.</li>
                                    </ol>
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>7.	DISCLAIMER</h2>
                                <ol type="A">
                                    <li>
                                        a.	The information and opinions provided on the website pertaining to the offered services are intended as general guidelines. Any exchange of property or information on the website does not constitute an offer or recommendation from us. 
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        b.	The content on the website should not be considered legal, financial, or real estate advice for users. "Search Homes India" strongly advises users to conduct independent research and seek professional advice before making legal, financial, or real estate decisions. Measurements, prices, 
                                        and locations provided are approximate, and "Search Homes India" disclaims any responsibility for errors, omissions, or misunderstandings in such particulars.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        c.	Users engage with the services at their own risk and discretion. We make no express or implied representations or warranties to users, including but not limited to merchantability and fitness for a particular purpose.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        d.	Users acknowledge assuming certain risks when interacting with other users, persons, or third-party service providers on the website. Users are solely responsible for assessing specific requirements related to such interactions.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        e.	We explicitly disclaim any liability arising from content/listings posted on the website, provided by users or third parties, or any deficiency in service caused by third-party service providers.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        f.	The website and services are not warranted to meet user expectations or requirements.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        g.	We are not responsible for the accuracy or reliability of third-party reports, market information, studies, or analyses on the wesbite or external web links mentioned.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        h.	We do not have an obligation to physically meet or conduct background verifications of users. The terms "genuine verified owner" and "genuine verified tenants/buyers" are based on algorithmic processes with limitations. 
                                        The company accepts user information in good faith and is not responsible for user bona fides.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        i.	We are not liable for damages, expenses, costs, or losses resulting from a user's engagement in prohibited conduct or availing services from third-party service providers.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        j.	We are not liable for indemnifying, refunding, or reimbursing users for losses incurred due to the suspension or deactivation of user accounts.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        k.	We are not liable for third-party fees, costs, charges, or expenses incurred by users for accessing the website or availing services. Disputes between users and third parties are to be resolved outside the website without recourse to "Search Homes India."
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        l.	We do not govern the use of cookies or tracking technologies by third-party service providers on the website. We assume no responsibility for user receipt or use of tailored advertisements.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        m.	 We are not liable for non-performance, defective, or late performance of services due to acts of God, war, civil unrest, governmental actions, riots, revolutions, natural disasters, strikes, or industrial actions for a specified period, as outlined in the agreement.
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>8.	GRANT OF RIGHTS TO SEARCH HOMES INDIA'S FINANCE PARTNERS:</h2>
                                <ol type="I">
                                    <li class="margin-t2 margin-b2">
                                        <b>a.</b> Despite any provisions in this agreement and in our Privacy Policy, the User grants Search Homes India the authorization to share any and all information provided by the User in connection with the use of the website to avail the products and/or services of Search Homes India's finance partners.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        <b>b.</b> Upon clicking the "Apply Now/Submit" tab:
                                        <ol>
                                            <li class="margin-t2 margin-b2">
                                                i.	The User hereby agrees and authorizes Search Homes India's finance partners to contact and communicate with the User via emails, phone calls, or SMS on the mobile number provided on the website or through any other communication mode to verify the details provided during registration or use of the website.
                                            </li>
                                            <li class="margin-t2 margin-b2">
                                                ii.	The User confirms the desire to receive information about various offers and promotional schemes related to products/services offered by Search Homes India's finance partners/its group companies through the mentioned communication modes.
                                            </li>
                                            <li class="margin-t2 margin-b2">
                                                iii. The User acknowledges that the laws related to unsolicited communication under the "National Do Not Call Registry" (the "NDNC Registry") as laid down by the Telecom Regulatory Authority of India do not apply to communication/calls/SMS received from Search Homes India's finance partners, its group companies, employees, representatives, and/or agents.
                                            </li>
                                            <li class="margin-t2 margin-b2">
                                                iv.	The User grants authorization to Search Homes India's finance partners to exchange and share all information and 
                                                details provided by the User on the website with third parties, including but not limited to Search Homes India's finance partners' 
                                                group companies, service providers, financial institutions, credit bureaus, telecommunication companies, statutory bodies, etc., for customer verification, personalization of products or services, 
                                                credit rating, data enrichment, marketing, or promotion of services or related products of Search Homes India's finance partners or its associates and affiliates, or for enforcement of the User’s obligations. 
                                                The User agrees not to hold Search Homes India's finance partners (or any of its group companies or its/their employees/agents/representatives) liable for the use/sharing of the information as stated above.
                                            </li>
                                            <li class="margin-t2 margin-b2">
                                                v.	The User understands and agrees that, as part of this application form, submission of documents to the satisfaction of Search Homes India's finance partners and acceptance of the loan terms and conditions prescribed by Search Homes India's finance partners is
                                                 required for the products and/or services applied by the User. <br>
                                                <p style="font-family: cursive;">
                                                    "I, as a subscriber/User of the services offered through the web portal of Search Homes India, hereby expressly authorize Search Homes India and any of their business associates to call/SMS my/our registered phone numbers 
                                                    (as provided by me/us to Search Homes India). I hereby state that such authorization shall override the national Do-Not-Disturb Registry ("DND"), even if the phone numbers in question are registered under DND list of the national Consumer preference registry 
                                                    (NCPR/NDNC). I also undertake that I/We will not make any complaints to NDNC for any calls received from Search Homes India services/products and shall indemnify Search Homes India and any of its business associates for having engaged in any such practice. I realize, acknowledge, 
                                                    and expressly authorize Search Homes India to make the initial communication (via Call/SMS/E-mail/WhatsApp) for the purposes of confirmation of my credentials provided by me. I hereby authorize Search Homes India and its business associates to continue contacting me via any of the modes of 
                                                    communication listed above until such time as I expressly opt-out/unsubscribe from the service offered by Search Homes India. Until such time, Search Homes India and its business associates shall have all rights to continue communicating with me, and I shall completely indemnify them against
                                                     any liability that may arise as a result of such authorization to communicate. Such indemnification shall extend to court cases and suits and all 
                                                    lawyer/advocate fees, even if the dispute is never subjected to judicial scrutiny.”
                                                </p>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>9.	REAL ESTATE REGULATORY AUTHORITY</h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                        <b>a.</b>	For the purposes of this Agreement and services related thereto, it is assumed that Users are aware of the rules and regulations regarding the Real Estate Regulatory Authority (RERA) of the concerned state in India. Search Homes India recommends Users to periodically visit the relevant RERA website for updates 
                                        and information regarding any property listed on the website before finalizing any deal or transaction.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        <b>b.</b> Search Homes India does not endorse or advertise any property listed on the website and shall not be held liable for listing any property on its website that is in violation of the rules under RERA of the concerned state. Additionally, Users should not assume any connection or relation between Search Homes India and the parties listing 
                                        their properties on the website.
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>10.	Privacy</h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                        Your use of the website is subject to our Privacy Policy, which governs the collection, storage, and use of your information. By using the website, 
                                        you consent to the collection and use of your information as described in our Privacy Policy.
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>11.	Cookies</h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                        The website may use cookies to enhance your user experience. By using the website, you consent to the use of cookies in accordance with our Cookie Policy.
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>12.	Security</h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                        We take reasonable measures to protect the security of your information. However, we cannot guarantee the security of your information transmitted to the website. You acknowledge and agree that any transmission of information is at your own risk.
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>13.	Disclaimer of Warranties </h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                        <b>a.</b>	The website is provided "as is" and "as available" without any warranties of any kind, express or implied. We do not warrant that the website will be uninterrupted or error-free, or that any defects will be corrected.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        <b>b.</b>	We make no representations or warranties about the accuracy, reliability, completeness, or timeliness of the information provided on the website.
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>14.	Limitation of Liability </h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                        <b>a.</b>	To the fullest extent permitted by law, the website shall not be liable for any direct, indirect, incidental, special, consequential, or punitive damages arising out of or in any way related to your use of the website.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        <b>b.</b>	In no event shall the website’s total liability to you exceed the amount paid by you, if any, for accessing or using the website.
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>15.	Indemnification</h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                        You agree to indemnify and hold harmless Search Homes India and its affiliates, officers, directors, employees, agents, licensors, and suppliers from and against any claims, actions, or demands, including without limitation reasonable legal and accounting fees,
                                         arising or resulting from your use of the website or your breach of these Terms.
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>16.	 Changes to Terms</h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                        We reserve the right to amend or update these Terms at any time without prior notice. 
                                        Any changes to these Terms will be effective immediately upon posting on the website. Your continued use of the website following the posting of any changes constitutes acceptance of those changes.
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>17.	Contact Information </h2>
                                <ol>
                                    <li>
                                        If you have any questions or concerns about these Terms, please contact us at <span style="color: blue;">contact@searchhomesindia.com</span>. <br>
                                        By using Search Homes India website, you acknowledge that you have read, understood, and agree to be bound by these Terms of Use. <br><b>Last updated: 08-04-2024</b>
                                    </li>
                                </ol>
                            </li>


                        </ul>
                    </div>

                    <div class="privacybtm">
                        <h5>Get in touch with us</h5>
                        <div class="row">
                            <div class="col-lg-5 mx-auto">
                                <div class="privacycontact">
                                    <div class="priconwrap1"><i class="ShiIcons1 icon_mail"></i></div>
                                    <div class="priconwrap2">
                                        <h6>Mail us at</h6>
                                        <a href="">
                                            <p>contact@searchhomesindia.com</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 mx-auto">
                                <div class="privacycontact">
                                    <div class="priconwrap1"><i class="ShiIcons icon_phonecall"></i></div>
                                    <div class="priconwrap2">
                                        <h6>WhatsApp No.</h6>
                                        <a href="">
                                            <p>+91-6360016550</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}