{%extends "base(Home).html"%}
{% load static %}

{% block head_block %}
<title>Real Estate Consultant in Bangalore That Deal With Properties</title>
<meta name="keyword" content="real estate consultant in bangalore, house brokers near me, real estate agents in bangalore, real estate broker in bangalore, real estate agents near me, real estate consultant near me">
<meta name= "description" content = "Search Homes India Pvt Ltd is the real estate consultant in Bangalore that deal with properties in Bangalore that grant the best service in buying assets">
{% endblock %}

{%block body_block%}

<!--===== PAGE TITLE =====-->
<div class="page-title page-main-section parallaxie" style="background-image: url(../static/images/a.jpg);">
  <div class="container padding-bottom-top-120 text-uppercase text-center">
    <div class="main-title">
      <h1>Terms & Conditions</h1>
      <!-- <h5>10 Years Of Experience!</h5>
      <div class="line_4"></div>
      <div class="line_5"></div>
      <div class="line_6"></div> -->
      <a href="/" title="Home">home</a><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
      <!--<a href="#.">Term & Condition</a>-->
    </div>
  </div>
</div>
<!--===== #/PAGE TITLE =====-->


<!--===== Term & Condition =====-->
<section id="term-condition" class="padding">
  <div class="container">
    <!--===== Term & Condition =====-->

    <!-- <div class="row">
      <div class="col-md-12 bottom40">
        <h2 class="text-uppercase">Terms & <span>Conditions</span></h2>
        <div class="line_1"></div>
        <div class="line_2"></div>
        <div class="line_3"></div>
      </div>
    </div> -->

    <div class="row bottom40">
      <div class="col-md-12">
        <div class="term-condition">
          <h3>What are we particular about?</h3>
          <p>Searchhomesindia.com acts only as a medium for advertisement / information content. Therefore, the
            Purchasers are hereby advised to try to their own due diligence mainly to verify the ownership of title over
            the property and any encumbrances over the Properties, is to shield one against pre-existing claims over the
            property. </p>
        </div>
      </div>
    </div>


    <div class="row">

      <div class="col-md-6">
        <div class="term-condition bg_light">
          <h3>Why use Search Homes India?</h3>
          <p>The primary objective of a due diligence is therefore to collect information. The extent and sort of due
            diligence to be undertaken by the purchaser's will rely on the following: i. the danger profile and business
            objectives of the purchaser/ lessee; ii. the kind of real asset involved; iii. nature of the real estate
            transaction (i.e., whether it's a buying deal, long- term/ short-term lease, mortgage or financing of the
            important property); iv. the time-frame for completion of the transaction; and v. Whether the purchaser is
            staring at obtaining third party financing either pre-transaction or post-transaction. </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="term-condition bg_light">
          <h3>What Search Homes India does?</h3>
          <p>Search Home India Pvt. Ltd. don 't in any way facilitate and can't be deemed to be facilitating any
            transaction between the vendors and also the Purchaser of our website. The small print displayed on our
            website are for information purposes only.Information regarding assets projects which incorporates the
            property, project detail, listings, floor area, location, price etc. and are either third party content or
            sourced from public sources. </p>
        </div>
      </div>

    </div>


    <div class="row bottom40 top40">
      <div class="col-md-12">
        <div class="term-condition">
          <h3>What we provide?</h3>
          <p>Nothing contained herein shall be deemed to constitute any form of legal advice, solicitation, marketing,
            offer of sale, invitation to supply, invitation to accumulate etc. by Searchhomesindia.com Users of this
            website are hereby advised to exercise due diligence and to independently validate and verify all
            information about any property / project before deciding to buy the identical or taking the other action.
          </p>
        </div>
      </div>
    </div>


    <div class="row bottom40">
      <div class="col-md-12">
        <div class="term-condition">
          <h3>How can Users trust us?</h3>
          <p>Information on this website doesn 't guarantee that the developer / project is registered under the
            important Estate (Regulation and Development) Act, 2016 or is compliant with the identical, and therefore
            the same should even be verified independently. The significance of a due diligence exercise lies in
            following each of the above detailed steps, the absence of even one amongst which could render the method
            inadequate to handle the concerns of the purchasers.</p>
        </div>
      </div>
    </div>


  </div>
</section>
<!--===== #/Term & Condition =====-->

{% endblock %}