{%extends "base(Home).html"%}
{% load static %}

{% block head_block %}
<title>Customer Review Of Real Estate Consultant in Bangalore</title>
<meta name="keyword" content="real estate consultant in bangalore, real estate agents near me, real estate broker near me, real estate agents in Bangalore, real estate broker in bangalore, house brokers near me">
<meta name= "description" content = "From the customer review of Search Homes India Pvt Ltd, get to know about the best services of real estate consultant in Bangalore">
{% endblock %}

{%block body_block%}

<!--===== PAGE TITLE =====-->
<div class="page-title page-main-section parallaxie" style="background-image: url(../static/images/15.gif);">
    <div class="container padding-bottom-top-120 text-uppercase text-center">
        <div class="main-title">
            <h1>Testimonial</h1>
            <h5>10 Years Of Experience!</h5>
            <div class="line_4"></div>
            <div class="line_5"></div>
            <div class="line_6"></div>
            <a href="/" title="Home">home</a><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span><!--<a href="#">Testimonial</a>--> </div>
    </div>
</div>
<!--===== #/PAGE TITLE =====-->


<!--===== TESTINOMIAL =====-->
<section id="testinomila_page" class="padding">
  <div class="container">
    <div class="row bottom40">
      <div class="col-md-12">
        <h2 class="text-uppercase">Customer <span>Feedback</span></h2>
        <div class="line_1"></div>
         <div class="line_2"></div>
         <div class="line_3"></div>
      </div>
    </div>
    <div id="js-grid-masonry" class="cbp">
      <div class="cbp-item">
        <div class="cbp-caption-defaultWrap">
          <div class="testinomial_wrap">
            <div class="testinomial_text blue_dark  text-center">
              <p>I'm so grateful to meet Mangesh from search homes India Pvt Ltd in the process of buying first property. I'm so happy with the services recommended by him. First house is dream house for each one of us. Meeting him was really fortunate which helped us to turn our dream come true in purchase of the first property where our majority of the expectations met.I would definitely recommend  'Search Homes Pvt Ltd' to everyone who are searching to buy dream home.</p>
              <img src="https://static.searchhomesindia.com/images/quote.png" alt="quote" class="quote">
            </div>
            <div class="testinomial_pic">
              <!-- <img src="images/testinomils.png" alt="testinomial" width="59"> -->
              <h4 class="color">Nikhil Ingale</h4>
              <span class="post_img">( Bangalore  )</span>
            </div>
          </div>
        </div>
      </div>
     
      <div class="cbp-item">
        <div class="cbp-caption-defaultWrap">
          <div class="testinomial_wrap">
            <div class="testinomial_text blue_dark  text-center">
              <p>There are many consultants in the property market specially in Bangalore but Search homes is definitely one of “the best” because I personally believe that employee drives the company to the next level.I would like to take this opportunity to thanks “Pankaj” for keeping his commitment, passion, and his 24x7 support starting from suggesting PLSH, site visits, floor selection, TDS filling, and seamless handover. His relationship building skills are naturally awesome.</p>
              <img src="https://static.searchhomesindia.com/images/quote.png" alt="quote" class="quote">
            </div>
            <div class="testinomial_pic">
             <!--  <img src="images/testinomils.png" alt="testinomial" width="59"> -->
              <h4 class="color">Yogesh Tiwari</h4>
              <span class="post_img">( Bangalore  )</span>
            </div>
          </div>
        </div>
      </div>
     
      <div class="cbp-item">
        <div class="cbp-caption-defaultWrap">
          <div class="testinomial_wrap">
            <div class="testinomial_text blue_dark  text-center">
              <p>I would highly recommend Search Homes to anyone looking to buy a property/land/apartment in Bangalore, they are highly efficient and professional group, Pankaj has always put our interest first and that's what is different from other property consultants, I have also referred them to my friends and they were extremely happy with the entire process, right from prestige, brigade and many others.they have always got fast handover to us and friends, always got referrals on time.</p>
              <img src="https://static.searchhomesindia.com/images/quote.png" alt="quote" class="quote">
            </div>
            <div class="testinomial_pic">
              <!-- <img src="images/testinomils.png" alt="testinomial" width="59"> -->
              <h4 class="color">Subrat sahoo</h4>
              <span class="post_img">( Bangalore )</span>
            </div>
          </div>
        </div>
      </div>
     
      <div class="cbp-item">
        <div class="cbp-caption-defaultWrap">
          <div class="testinomial_wrap">
            <div class="testinomial_text blue_dark  text-center">
              <p>I have booked flat from Brigade from their channel partner Search Homes India Pvt Ltd, I feel their service is very good and full fill all the promises which they made along with gave me 1% of the flat cost.</p>
              <img src="https://static.searchhomesindia.com/images/quote.png" alt="quote" class="quote">
            </div>
            <div class="testinomial_pic">
            <!--   <img src="images/testinomils.png" alt="testinomial" width="59"> -->
              <h4 class="color">Jagannath Das</h4>
              <span class="post_img">( Bangalore  )</span>
            </div>
          </div>
        </div>
      </div>
     
      <div class="cbp-item">
        <div class="cbp-caption-defaultWrap">
          <div class="testinomial_wrap">
            <div class="testinomial_text blue_dark  text-center">
              <p>Today I got my cash back money as promised while purchasing the flat.Service was really nice.Pankaj Singh who helped me to finalize the flat and get the cash back money. I will recommend you</p>
              <img src="https://static.searchhomesindia.com/images/quote.png" alt="quote" class="quote">
            </div>
            <div class="testinomial_pic">
              <!-- <img src="images/testinomils.png" alt="testinomial" width="59"> -->
              <h4 class="color">Tarun das</h4>
              <span class="post_img">( Bangalore  )</span>
            </div>
          </div>
        </div>
      </div>
     
      <div class="cbp-item">
        <div class="cbp-caption-defaultWrap">
          <div class="testinomial_wrap">
            <div class="testinomial_text blue_dark  text-center">
              <p>Have good experience while buying a home good suggestion has been given by the team and iam totally satisfied and happy with the services what they provide I strongly recommend.</p>
              <img src="https://static.searchhomesindia.com/images/quote.png" alt="quote" class="quote">
            </div>
            <div class="testinomial_pic">
              <!-- <img src="images/testinomils.png" alt="testinomial" width="59"> -->
              <h4 class="color">Rahul kumar</h4>
              <span class="post_img">( Bangalore )</span>
            </div>
          </div>
        </div>
      </div>
     
     
     
     
     
     
    </div>
  </div>
</section>
<!--===== #/TESTINOMIAL =====--> 



  {% endblock %}
  