{%extends "base(Home).html"%}
{% load static %}
{% block head_block %}
<title>Post Unlimited Property For Sell And Rent | Free</title>
<meta name="description" content="Free Opportunities In Real Estate. List your properties for Sale or Rent at No Cost. Easy, Quick, & Hassle-Free Process Awaits You At Search Homes India.">
<meta name="keywords" content="real estate portal, real estate platform, property listing, free property posting, list property for free, search homes india, real estate listings">

<link rel="stylesheet" href="https://static.searchhomesindia.com/css/intlTelInput.css">
<link rel="stylesheet" href="https://static.searchhomesindia.com/css/LoginForm.css">
<script src="https://static.searchhomesindia.com/js/intlTellinput.min.js"></script>
<style>
    #header1 {top: 0px!important;
        border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 
                0 1px 2px rgba(0, 0, 0, 0.06);
    transition: box-shadow 0.3s ease;
}
    .firstsect{margin-top: 65px;}
    dl, ol, ul {list-style: auto!important;}
</style>
{% endblock %}
{% block body_block %}
<div class="PropEnterForm">
    <!-- ============login form for all start============ -->
    <section class="firstsect forlogin">
        <div class="coverimg">
            <img src="https://static.searchhomesindia.com/images/Banner1.webp" alt="">
        </div>
        <!-- <div class="coverimg1 mobile">
            <img src="https://static.searchhomesindia.com/images/Banner2M.jpg" alt="">
        </div> -->
        <div class="EnterFormWrap  EnterWrapMobile">
            <div class="brand-logo"><img src="https://static.searchhomesindia.com/images/shi_logo_small.png" alt=""></div>
            <div class="EnterForm1">
                <div class="Formheading">
                    <h5>Login / Register :-</h5>
                </div>
               <!-- ==========contact from start============= -->
                <div class="Frommid2">
                    <h6 class="Formmidhead">Enter Phone Number :-</h6>
                    <div class="mid3buttss" id="phoneFormContainer">
                            <form id="phoneForm" method="post" action="{% url 'login_with_otp' %}">
                            {% csrf_token %}

                                {{ phone_form.as_p }}
                                <input type="submit" class="phonebtn" value="Get OTP">
                            </form>
                    </div>
                </div>
               <!-- ==========Enter OTP from start============= -->

                <div class="Frommid2" id="otpFormContainer" style="display: none;">
                    <h6 class="Formmidhead">Verify OTP:-</h6>
                    <div class="mid3buttss">
                        <form id="phoneForm" method="post" action="{% url 'login_with_otp' %}">
                        {% csrf_token %}

                            {{ otp_form.as_p }}  
                            <input type="submit" class="phonebtn" value="Verify OTP">
                        </form>
                    </div>
                </div>


                <div id="successPopup" class="popup" style="display: none;">
                    <!-- This will be the success message popup -->
                </div>

                <!-- <div class="formbttm"><Button type="submit">Login</Button></div> -->
                <p style="font-weight: 600; text-align: center; margin-top: 10px; ">Start Searching And Posting
                    Property Now</p>
            </div>
        </div>
    </section>
    <!-- ============login form for all end============ -->

    <!-- ============how to fill for all start============ -->
    <section class="scndsect">
        <div class="header__center headerforall">How it works</div>
        <div class="container">
            <div class="row howwork">
                <div class="col-lg-12 howworkinn">
                    <div class="leftimgs "><img src="https://static.searchhomesindia.com/images/steps1.png" alt=""></div>
                    <div class="rightimgs">
                        <h6><b>Sign Up</b></h6>
                            <ul>
                                <li>Register with your phone number today!</li>
                                <li>Verify your account using the one-time password (OTP) sent to your phone.</li>
                            </ul>
                    </div>
                </div>
            </div>
            <div class="row howwork">
                <div class="col-lg-12 howworkinn">
                    <div class="leftimgs "><img src="https://static.searchhomesindia.com/images/steps2.png" alt=""></div>
                    <div class="rightimgs">
                        <h6><b>Share Property Details</b></h6>
                        <ul>
                            <li>Provide property Type, Location, Rooms, Amenities - All Included!</li>
                            <li>Great pictures, Great Results- Upload Your Property Photos & Shine</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row howwork">
                <div class="col-lg-12 howworkinn">
                    <div class="leftimgs"><img src="https://static.searchhomesindia.com/images/steps3.png" alt=""></div>
                    <div class="rightimgs">
                        <h6><b>Review & Submit</b></h6>
                        <ul>
                            <li>Carefully review the details of your listing.</li>
                            <li>Accept the terms and conditions</li>
                            <li>Click "Submit" and await confirmation. Congratulations, Your property is now listed!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ============how to fill for all end============ -->

    <!-- ============FndQ for all start============ -->
    <section class="thirdsect">
        <div class="header__center headerforall">Frequently Asked Question</div>
        <div class="accordwrap">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false"
                            aria-controls="flush-collapseOne">
                            <i class="ShiIcons3 icon_thumG"></i> What types of properties can I post?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">You can post residential properties for rent, lease, or sale, including flats, houses, and plots.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false"
                            aria-controls="flush-collapseTwo">
                            <i class="ShiIcons3 icon_thumG"></i> Is listing a property free, and is there a limit?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Yes, a listing is free and you can post unlimited properties.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            <i class="ShiIcons3 icon_thumG"></i>What details are required for a listing?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Provide property type, location, size, number of bedrooms/bathrooms, amenities, descriptions, and high-quality photos.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                            <i class="ShiIcons3 icon_thumG"></i>How many photos can I upload?
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">You can upload up to 6 photos.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive">
                            <i class="ShiIcons3 icon_thumG"></i>Can I edit my listing after submission?
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Yes, log in to your account to edit your listing anytime.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSix" aria-expanded="false"
                            aria-controls="flush-collapseSix">
                            <i class="ShiIcons3 icon_thumG"></i>How is my personal information protected?
                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Your contact details are kept confidential, and communication is done through a secure platform. Please review the privacy policy for more information.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ============FndQ for all start============ -->

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script>
        const homeURL = "{% url 'home' %}";
        $(document).ready(function() {
            function displayPopup(message) {
                const popup = $('<div class="popup">' + message + '</div>');
                $('#successPopup').html(popup);
                $('#successPopup').fadeIn('slow').delay(3000).fadeOut('slow');
            }
    
            $('#phoneForm').submit(function(e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function(response) {
                        if (response && response.sent) {
                            console.log("OTP sent successfully");
                            $('#phoneFormContainer').hide();
                            $('#otpFormContainer').show();
                            displayPopup('OTP sent successfully');
                        } else {
                            console.log("No response or 'sent' is false");
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error("AJAX request failed:", status, error);
                    }
                });
            });
    
            $('#otpForm').submit(function(e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function(response) {
                        if (response && response.verified) {
                            console.log("Login successful");
                            displayPopup('Login successful');
                            setTimeout(function() {
                                window.location.href = homeURL;
                            }, 1000); // Redirect after 1 second
                        } else {
                            console.log("No response or 'verified' is false");
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error("AJAX request failed:", status, error);
                    }
                });
            });
        });
    </script>
    <script src="https://static.searchhomesindia.com/js/LoginForm.js"></script>
    <script>
        const phoneInputField = document.querySelector("#phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
            "{% static 'js/utils.js' %}",
            initialCountry: "in",
        });
    </script>

{% endblock %}
