{% extends "base(Home).html" %}
{% load static %}
{% block head_block %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListingPage</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/listing.css'%}">
    <style>
        .ShiIcons.icon_broucher {
    background-position: -291px 1px;
  }
      </style>
{% endblock %}
{%block body_block%}

<!-- laptop property listing=======/ -->
<div class="container property-listing">
  <div class="row">
        {% if properties %}
            {% for property in properties %}
                {% if property.r_property_type == 'sell' %}
            <!-- ===============sell listing start==============-->
                    <div class="col-lg-9 propleft-listing" >
                    <div class="left-listing">
                    <div class="left-listsection">
                        <div class="swiper8 mySwiper10 "> 
                        <div class="swiper-wrapper s10">
                    {% if property.PropertyName %}
                            <div class=" swiper-slide ss10">
                                <a href="#."> 
                                <img src="{% static 'images/e4_500.png' %}" loading="lazy" alt="No images"> 
                                </a>
                            </div>  
                    {% elif property.project_society_name %}
                        {% for image in property.images.all %}
                            <div class=" swiper-slide ss10">
                            <a href="#."> 
                                <img src="{{ image.image.url }}" loading="lazy" title="{{ image.image_type }}" alt="{{ image.image_type }}"> 
                            </a>
                            </div>      
                        {% endfor %}
                    {% else %}
                        <div class=" swiper-slide ss10">
                            <a href="#."> 
                            <img src="{% static 'Images/e4_500.png' %}" loading="lazy" alt="No images"> 
                            </a>
                        </div>  
                    {% endif %}
                        </div>
                        <div class=" nextbut1 swiper-button-next"></div>
                        <div class=" prevbut1 swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <div class="right-listsection">
                        <div class="right-top">
                        <div class="rt1">
                            <h4>
                                {% if property.PropertyName %}
                                <span>{{ property.PropertyName }}</span>
                                {% elif property.project_society_name %}
                                <span>{{ property.project_society_name }}</span>
                                {% else %}
                                <span>On Request</span>                               
                                {% endif %}
                            </h4>
                            <div class="rt1inline">
                            <i class="ShiIcons icon_location"></i>
                            <h6 style="margin-left: 5px; font-weight: 500;">
                                {% if property.city %}
                                <span>{{ property.city }}</span>
                                {% elif property.project_city %}
                                <span>{{ property.project_city }}</span>
                                {% else %}
                                <span>On Request</span>
                                {% endif %}
                            </h6>
                            <p>
                                {% if property.locality %}
                                <span>{{ property.locality }}</span>
                                {% elif property.landmark %}
                                <span>{{ property.landmark }}</span>
                                {% else %}
                                <span>On Request</span>
                                {% endif %}
                            </p>
                            </div>
                        </div>
                        <div class="rt2">
                        <i type="submit" class="ShiIcons icon_share" ></i>
                        <button class="rt2butt" type="button">save</button>
                        <div class="greenbanner" >
                            <h6>For Sale</h6>
                        </div>
                        <!-- <div class="redbanner" >
                            <h6>Sold out</h6>
                        </div> -->
                        </div>
                        </div>
                        <div class="right-middle">
                        <div class="rm-box">
                            <div class="rm-row">
                            <div class="rm-col">
                                <h6>Apartment Type</h6>
                                <!-- <p>3bhk/2bath</p> -->
                                {% if property.BHK %}
                                <p>{{ property.BHK }}</p>
                                {% elif property.apartment_type %}
                                <p>{{ property.apartment_type }}</p>
                                {% else %}
                                <p>On Request</p>
                                {% endif %}
                            </div> <span class="vermid">|</span>
                            <div class="rm-col">
                                <h6>Status</h6>
                                <!-- <p>Ready to move</p> -->
                                {% if property.status %}
                                <p>{{ property.status }}</p>
                                {% elif property.status %}
                                <p>{{ property.status }}</p>
                                {% else %}
                                <p>On Request</p>
                                {% endif %}
                            </div> <span  class="vermid">|</span>
                            <div class="rm-col">
                                <h6>Super area</h6>
                                <!-- <p>1205 sqft</p> -->
                                {% if property.super_area %}
                                <p>{{ property.super_area }} Sq. Ft.</p>
                                {% elif property.super_area %}
                                <p>{{ property.super_area }} Sq. Ft.</p>
                                {% else %}
                                <p>On Request</p>
                                {% endif %}
                            </div>
                            </div>
                            <div class="rm-row">
                            <div class="rm-col">
                                <h6>Furnising</h6>
                                <!-- <p>Furnished</p> -->
                                {% if property.furnished_status %}
                                <p>{{ property.furnished_status }} </p>
                                {% elif property.furnished_status %}
                                <p>{{ property.furnished_status }} </p>
                                {% else %}
                                <p>On Request</p>
                                {% endif %}
                            </div> <span  class="vermid">|</span>
                            <div class="rm-col">
                                <h6>Property Type</h6>
                                <!-- <p>Rera</p> -->
                                {% if property.property_type %}
                                <p>{{ property.property_type }} </p>
                                {% elif property.property_type %}
                                <p>{{ property.property_type }} </p>
                                {% else %}
                                <p>On Request</p>
                                {% endif %}
                            </div> <span  class="vermid">|</span>
                            <div class="rm-col rm-col1" >
                                <h6>ManyMore+...</h6>
                            </div>
                            </div>
                        </div>              
                        </div>
                        <div class="right-bottom">
                        <div class="rightprice" >
                            <h5>Price 
                                <!-- <strong style="margin-left: 5px;">₹ 50 Lakhs</strong> -->
                                {% if property.Property_Price %}
                                <strong style="margin-left: 5px;">{{ property.Property_Price }}</strong>
                                {% elif property.property_price %}
                                <strong style="margin-left: 5px;">{{ property.property_price }}</strong>
                                {% else %}
                                <strong style="margin-left: 5px;">On Request</strong>                               
                                {% endif %}
                            </h5>
                            <!-- <p>₹9,564 per sqft</p> -->
                        </div>   
                        <a href="{% url 'property_detail' property.slug %}"><button class="rbbutton" type="submit"><i class="ShiIcons icon_broucher"></i> View details</button></a>
                        <a href="#."><button class="rbbutton" type="submit"><i class="ShiIcons icon_phonecall2"></i> Contact owner</button></a>
                        <!-- <button class="rbbutton" type="submit" >Check loan eligibility</button>-->
                        </div>
                    </div>
                    </div>
                    </div>
            <!-- ===============sell listing end================ -->
                {% elif property.r_property_type == 'rental' %}
            <!-- ===============rental listing start=============-->
                    <div class="col-lg-9 propleft-listing" >
                        <div class="left-listing">
                        <div class="left-listsection">
                            <div class="swiper8 mySwiper10 "> 
                            <div class="swiper-wrapper s10">  
                        {% if property.images.all %}
                            {% for image in property.images.all %}
                            <div class=" swiper-slide ss10">
                            <a href="#."> 
                                <img src="{{ image.image.url }}" loading="lazy" title="{{ image.image_type }}" alt="{{ image.image_type }}"> 
                            </a>
                            </div>      
                            {% endfor %}
                        {% else %}
                            <div class=" swiper-slide ss10">
                                <a href="#."> 
                                <img src="{% static 'images/e4_500.png' %}" loading="lazy" alt="No images"> 
                                </a>
                            </div>  
                        {% endif %}
                            </div>
                            <div class=" nextbut1 swiper-button-next"></div>
                            <div class=" prevbut1 swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                            </div>
                        </div>
                
                        <div class="right-listsection">
                            <div class="right-top">
                            <div class="rt1">
                                <h4>
                                    {% if property.r_property_name %}
                                    <span>{{ property.r_property_name }}</span>
                                    {% else %}
                                    <span>On Request</span>                               
                                    {% endif %}
                                </h4>
                                <div class="rt1inline">
                                <i class="ShiIcons icon_location"></i>
                                <h6 style="margin-left: 5px; font-weight: 500;">
                                    {% if property.project_city %}
                                    <span>{{ property.project_city }}</span>
                                    {% else %}
                                    <span>On Request</span>
                                    {% endif %}
                                </h6>
                                <p>
                                    {%if property.landmark %}
                                    <span>{{ property.landmark }}</span>
                                    {% else %}
                                    <span>On Request</span>
                                    {% endif %}
                                </p>
                                </div>
                            </div>
                            <div class="rt2">
                            <i type="submit" class="ShiIcons icon_share" ></i>
                            <button class="rt2butt" type="button">save</button>
                            <div class="greenbanner" >
                                <h6>For Sale</h6>
                            </div>
                            <!-- <div class="redbanner" >
                                <h6>Sold out</h6>
                            </div> -->
                            </div>
                            </div>
                            <div class="right-middle">
                            <div class="rm-box">
                                <div class="rm-row">
                                <div class="rm-col">
                                    <h6>Apartment Type</h6>
                                    {% if property.total_rooms %}
                                    <p>{{ property.total_rooms }}</p>
                                    {% else %}
                                    <p>On Request</p>
                                    {% endif %}
                                </div> <span class="vermid">|</span>
                                <div class="rm-col">
                                    <h6>Available from</h6>
                                    {% if property.available_from %}
                                    <p>{{ property.available_from }}</p>
                                    {% else %}
                                    <p>On Request</p>
                                    {% endif %}
                                </div> <span  class="vermid">|</span>
                                <div class="rm-col">
                                    <h6>available for</h6>
                                    {% if property.available_for %}
                                    <p>{{ property.available_for }}</p>
                                    {% else %}
                                    <p>On Request</p>
                                    {% endif %}
                                </div>
                                </div>
                                <div class="rm-row">
                                <div class="rm-col">
                                    <h6>notice period</h6>
                                    {% if property.notice_period %}
                                    <p>{{ property.notice_period }} </p>
                                    {% else %}
                                    <p>On Request</p>
                                    {% endif %}
                                </div> <span  class="vermid">|</span>
                                <div class="rm-col">
                                    <h6>furnished_status</h6>
                                    {% if property.furnished_status %}
                                    <p>{{ property.furnished_status }} </p>
                                    {% else %}
                                    <p>On Request</p>
                                    {% endif %}
                                </div> <span  class="vermid">|</span>
                                <div class="rm-col rm-col1" >
                                    <h6>ManyMore+...</h6>
                                </div>
                                </div>
                            </div>              
                            </div>
                            <div class="right-bottom">
                            <div class="rightprice" >
                                <h5>Price 
                                    {% if property.min_price_filter %}
                                    <strong style="margin-left: 5px;">{{ property.min_price_filter }}</strong>
                                    {% else %}
                                    <strong style="margin-left: 5px;">On Request</strong>                               
                                    {% endif %}
                                </h5>
                                <!-- <p>₹9,564 per sqft</p> -->
                            </div>   
                            <a href="{% url 'rental_property_detail' property.slug %}"> <button class="rbbutton" type="submit"><i class="ShiIcons icon_broucher"></i> View details</button> </a>
                            <a href="#."><button class="rbbutton" type="submit"><i class="ShiIcons icon_phonecall2"></i> Contact owner</button></a>
                            <!-- <button class="rbbutton" type="submit" >Check loan eligibility</button>    -->
                            </div>
                        </div>
                        </div>
                        </div>
            <!-- ===============rental listing end==============-->
                {% elif property.r_property_type == 'pg' %}
            <!-- ===============pg listing start==============-->
                    <div class="col-lg-9 propleft-listing" >
                        <div class="left-listing">
                        <div class="left-listsection">
                            <div class="swiper8 mySwiper10 "> 
                            <div class="swiper-wrapper s10">  
                        {% if property.images.all %}
                            {% for image in property.images.all %}
                            <div class=" swiper-slide ss10">
                            <a href="#."> 
                                <img src="{{ image.image.url }}" loading="lazy" title="{{ image.image_type }}" alt="{{ image.image_type }}"> 
                            </a>
                            </div>      
                            {% endfor %}
                        {% else %}
                            <div class=" swiper-slide ss10">
                                <a href="#."> 
                                <img src="{% static 'images/e4_500.png' %}" loading="lazy" alt="No images"> 
                                </a>
                            </div>  
                        {% endif %}
                            </div>
                            <div class=" nextbut1 swiper-button-next"></div>
                            <div class=" prevbut1 swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                            </div>
                        </div>
                
                        <div class="right-listsection">
                            <div class="right-top">
                            <div class="rt1">
                                <h4>
                                    {% if property.pg_property_name %}
                                    <span>{{ property.pg_property_name }}</span>
                                    {% else %}
                                    <span>On Request</span>                               
                                    {% endif %}
                                </h4>
                                <div class="rt1inline">
                                <i class="ShiIcons icon_location"></i>
                                <h6 style="margin-left: 5px; font-weight: 500;">
                                    {% if property.project_city %}
                                    <span>{{ property.project_city }}</span>
                                    {% else %}
                                    <span>On Request</span>
                                    {% endif %}
                                </h6>
                                <p>
                                    {%if property.landmark %}
                                    <span>{{ property.landmark }}</span>
                                    {% else %}
                                    <span>On Request</span>
                                    {% endif %}
                                </p>
                                </div>
                            </div>
                            <div class="rt2">
                            <i type="submit" class="ShiIcons icon_share" ></i>
                            <button class="rt2butt" type="button">save</button>
                            <div class="greenbanner" >
                                <h6>For Sale</h6>
                            </div>
                            <!-- <div class="redbanner" >
                                <h6>Sold out</h6>
                            </div> -->
                            </div>
                            </div>
                            <div class="right-middle">
                            <div class="rm-box">
                                <div class="rm-row">
                                <div class="rm-col">
                                    <h6>sharing type</h6>
                                    {% if property.sharing_type %}
                                    <p>{{ property.sharing_type }}</p>
                                    {% else %}
                                    <p>On Request</p>
                                    {% endif %}
                                </div> <span class="vermid">|</span>
                                <div class="rm-col">
                                    <h6>Available from</h6>
                                    {% if property.available_from %}
                                    <p>{{ property.available_from }}</p>
                                    {% else %}
                                    <p>On Request</p>
                                    {% endif %}
                                </div> <span  class="vermid">|</span>
                                <div class="rm-col">
                                    <h6>available for</h6>
                                    {% if property.pg_for %}
                                    <p>{{ property.pg_for }}</p>
                                    {% else %}
                                    <p>On Request</p>
                                    {% endif %}
                                </div>
                                </div>
                                <div class="rm-row">
                                <div class="rm-col">
                                    <h6>food availability</h6>
                                    {% if property.food_availability %}
                                    <p>{{ property.food_availability }} </p>
                                    {% else %}
                                    <p>On Request</p>
                                    {% endif %}
                                </div> <span  class="vermid">|</span>
                                <div class="rm-col">
                                    <h6>security deposit</h6>
                                    {% if property.security_deposit %}
                                    <p>{{ property.security_deposit }} </p>
                                    {% else %}
                                    <p>On Request</p>
                                    {% endif %}
                                </div> <span  class="vermid">|</span>
                                <div class="rm-col rm-col1" >
                                    <h6>ManyMore+...</h6>
                                </div>
                                </div>
                            </div>              
                            </div>
                            <div class="right-bottom">
                            <div class="rightprice" >
                                <h5>Price 
                                    {% if property.min_price %}
                                    <strong style="margin-left: 5px;">{{ property.min_price }}</strong>
                                    {% else %}
                                    <strong style="margin-left: 5px;">On Request</strong>                               
                                    {% endif %}
                                </h5>
                                <!-- <p>₹9,564 per sqft</p> -->
                            </div>   
                           <a href="{% url 'pg_property_detail' property.slug %}" ><button class="rbbutton" type="submit"><i class="ShiIcons icon_broucher"></i> View details</button></a>
                           <a href="#."><button class="rbbutton" type="submit"><i class="ShiIcons icon_phonecall2"></i> Contact owner</button></a>
                            <!-- <button class="rbbutton" type="submit" >Check loan eligibility</button>    -->
                            </div>
                        </div>
                        </div>
                        </div>
            <!-- ===============pg listing end================ -->
                {% else %}
                <p>OHHHHHHHHHHH NO!! Nothing is found try somthing else</p>
                {% endif %}
            {% endfor %}
        {% else %}
             <p>No properties found</p>
        {% endif %}

  <div class="col-lg-3 propright-listing">
        <div class="prl1">
          <a href="#."><img src="{% static 'images/ad-sm-1.png' %}" alt=""></a>
        </div>           
        <div class="prl2">         
        <a href="#."><img src="{% static 'images/ad-md-2.png' %}" alt=""></a>
         </div>  
        <div class="prl3">
          <a href="#."><img src="{% static 'images/ad-lg-3.png' %}" alt=""></a>
        </div>
    </div>
  </div>

</div>
<!--laptop property listing end ====== -->


<!--mobile property listing start ========= -->
<div class="mobile-listing">
        {% if properties %}
            {% for property in properties %}
                {% if property.r_property_type == 'sell' %}
                <!-- ===============sell mobile listing start================ -->
                    <div class="mob-property" >
                        <div class="mob-top">
                            <div class="mob-top1">
                            <div class="swiper8 mySwiper10  swiper8A"> 
                            <div class="swiper-wrapper s10">
                        {% if property.images.all %}
                            {% for image in property.images.all %}
                            <div class=" swiper-slide ss10">
                            <a href="#."> 
                                <img src="{{ image.image.url }}" loading="lazy" title="{{ image.image_type }}" alt="{{ image.image_type }}"> 
                            </a>
                            </div>      
                            {% endfor %}
                        {% else %}
                            <div class=" swiper-slide ss10">
                                <a href="#."> 
                                <img src="{% static 'images/e4_500.png' %}" loading="lazy" alt="No images"> 
                                </a>
                            </div>  
                        {% endif %}
                            </div>
                            <div class=" nextbut1 swiper-button-next"></div>
                            <div class=" prevbut1 swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                            </div>
                            </div>
                            <div class="mob-top2">
                            <div class="rt11">
                                <h4>
                                    {% if property.PropertyName %}
                                    <span>{{ property.PropertyName }}</span>
                                    {% elif property.project_society_name %}
                                    <span>{{ property.project_society_name }}</span>
                                    {% else %}
                                    <span>On Request</span>                               
                                    {% endif %}
                                </h4>
                                <div class="rt1inline1">
                                <i class="ShiIcons icon_location"></i>
                                <h6 style="margin-left: 5px; margin-top:4px;font-weight: 500; font-size: 9px;">
                                    {% if property.city %}
                                    <span>{{ property.city }}</span>
                                    {% elif property.project_city %}
                                    <span>{{ property.project_city }}</span>
                                    {% else %}
                                    <span>On Request</span>
                                    {% endif %}
                                </h6>
                                <p style="font-size: 10px;">
                                {% if property.locality %}
                                <span>{{ property.locality }}</span>
                                {% elif property.landmark %}
                                <span>{{ property.landmark }}</span>
                                {% else %}
                                <span>On Request</span>
                                {% endif %}
                                </p>
                                </div>
                                <div class="rightprice1" >
                                <h5>Price 
                                    {% if property.Property_Price %}
                                    <strong style="margin-left: 5px;">{{ property.Property_Price }}</strong>
                                    {% elif property.property_price %}
                                    <strong style="margin-left: 5px;">{{ property.property_price }}</strong>
                                    {% else %}
                                    <strong style="margin-left: 5px;">On Request</strong>                               
                                    {% endif %}
                                </h5>
                                <!-- <p>₹9,564 per sqft</p> -->
                                </div> 
                            </div>
                            <div class="greenbanner1" >
                                <h6>For Sale</h6>
                            </div>
                            <!-- <div class="redbanner1" >
                                <h6>Sold out</h6>
                            </div> -->
                        </div>
                        </div>
                        <div class="mob-mid">
                            <div class="rm-row1">
                                <div class="rm-col1">
                                <h6>Apartment Type</h6>
                                {% if property.BHK %}
                                <p>{{ property.BHK }}</p>
                                {% elif property.apartment_type %}
                                <p>{{ property.apartment_type }}</p>
                                {% else %}
                                <p>On Request</p>
                                {% endif %}
                                </div> <span class="vermid1">|</span>
                                <div class="rm-col1">
                                <h6>Status</h6>
                                {% if property.status %}
                                <p>{{ property.status }}</p>
                                {% elif property.status %}
                                <p>{{ property.status }}</p>
                                {% else %}
                                <p>On Request</p>
                                {% endif %}
                                </div> <span  class="vermid1">|</span>
                                <div class="rm-col1">
                                <h6>Super area</h6>
                                {% if property.super_area %}
                                <p>{{ property.super_area }} Sq. Ft.</p>
                                {% elif property.super_area %}
                                <p>{{ property.super_area }} Sq. Ft.</p>
                                {% else %}
                                <p>On Request</p>
                                {% endif %}
                                </div><span  class="vermid1">|</span>
                                <div class="rm-col1">
                                <h6>Furnising</h6>
                                {% if property.furnished_status %}
                                <p>{{ property.furnished_status }} </p>
                                {% elif property.furnished_status %}
                                <p>{{ property.furnished_status }} </p>
                                {% else %}
                                <p>On Request</p>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="mob-bottom">
                        <a href="#."><button class="rbbutton1" type="submit"> Contact owner</button></a>
                        <a href="{% url 'property_detail' property.slug %}"><button class="rbbutton1" type="submit">View details</button></a>
                        <a href="#."><button class="rbbutton1" type="submit" >Check loan eligibility</button></a>
                        </div>
                    </div>
                <!-- ===============sell mobile listing end================ -->
                {% elif property.r_property_type == 'rental' %}
                <!-- ===============rental mobile listing start==============-->
                    <div class="mob-property" >
                        <div class="mob-top">
                            <div class="mob-top1">
                            <div class="swiper8 mySwiper10  swiper8A"> 
                            <div class="swiper-wrapper s10">
                        {% if property.images.all %}
                            {% for image in property.images.all %}
                            <div class=" swiper-slide ss10">
                            <a href="#."> 
                                <img src="{{ image.image.url }}" loading="lazy" title="{{ image.image_type }}" alt="{{ image.image_type }}"> 
                            </a>
                            </div>      
                            {% endfor %}
                        {% else %}
                            <div class=" swiper-slide ss10">
                                <a href="#."> 
                                <img src="{% static 'images/e4_500.png' %}" loading="lazy" alt="No images"> 
                                </a>
                            </div>  
                        {% endif %}
                            </div>
                            <div class=" nextbut1 swiper-button-next"></div>
                            <div class=" prevbut1 swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                            </div>
                            </div>
                            <div class="mob-top2">
                            <div class="rt11">
                                <h4>
                                    {% if property.r_property_name %}
                                    <span>{{ property.r_property_name }}</span>
                                    {% else %}
                                    <span>On Request</span>                               
                                    {% endif %}
                                </h4>
                                <div class="rt1inline1">
                                <i class="ShiIcons icon_location"></i>
                                <h6 style="margin-left: 5px; margin-top:4px;font-weight: 500; font-size: 9px;">
                                    {% if property.project_city %}
                                    <span>{{ property.project_city }}</span>
                                    {% else %}
                                    <span>On Request</span>
                                    {% endif %}
                                </h6>
                                <p style="font-size: 10px;">
                                    {%if property.landmark %}
                                    <span>{{ property.landmark }}</span>
                                    {% else %}
                                    <span>On Request</span>
                                    {% endif %}
                                </p>
                                </div>
                                <div class="rightprice1" >
                                <h5>Price 
                                    {% if property.min_price_filter %}
                                    <strong style="margin-left: 5px;">{{ property.min_price_filter }}</strong>
                                    {% else %}
                                    <strong style="margin-left: 5px;">On Request</strong>                               
                                    {% endif %}
                                </h5>
                                <!-- <p>₹9,564 per sqft</p> -->
                                </div> 
                            </div>
                            <div class="greenbanner1" >
                                <h6>For Sale</h6>
                            </div>
                            <!-- <div class="redbanner1" >
                                <h6>Sold out</h6>
                            </div> -->
                        </div>
                        </div>
                        <div class="mob-mid">
                            <div class="rm-row1">
                                <div class="rm-col1">
                                <h6>Apartment Type</h6>
                                {% if property.total_rooms %}
                                <p>{{ property.total_rooms }}</p>
                                {% else %}
                                <p>On Request</p>
                                {% endif %}
                                </div> <span class="vermid1">|</span>
                                <div class="rm-col1">
                                <h6>furnished status</h6>
                                {% if property.furnished_status %}
                                <p>{{ property.furnished_status }} </p>
                                {% else %}
                                <p>On Request</p>
                                {% endif %}
                                </div> <span  class="vermid1">|</span>
                                <div class="rm-col1">
                                <h6>available for</h6>
                                {% if property.available_for %}
                                <p>{{ property.available_for }}</p>
                                {% else %}
                                <p>On Request</p>
                                {% endif %}
                                </div><span  class="vermid1">|</span>
                                <div class="rm-col1">
                                <h6>available from</h6>
                                {% if property.available_from %}
                                <p>{{ property.available_from }}</p>
                                {% else %}
                                <p>On Request</p>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="mob-bottom">
                        <a href="#."><button class="rbbutton1" type="submit">Contact owner</button> </a>
                            <a href="{% url 'rental_property_detail' property.slug %}"><button class="rbbutton1" type="submit">View details</button> </a>
                        <a href="#."><button class="rbbutton1" type="submit" >Check loan eligibility</button></a>
                        </div>
                    </div>
                <!-- ===============rental mobile listing end================ -->
                {% elif property.r_property_type == 'pg' %}
                <!-- ===============pg  mobile listing start==============-->
                    <div class="mob-property" >
                        <div class="mob-top">
                            <div class="mob-top1">
                            <div class="swiper8 mySwiper10  swiper8A"> 
                            <div class="swiper-wrapper s10">
                        {% if property.images.all %}
                            {% for image in property.images.all %}
                            <div class=" swiper-slide ss10">
                            <a href="#."> 
                                <img src="{{ image.image.url }}" loading="lazy" title="{{ image.image_type }}" alt="{{ image.image_type }}"> 
                            </a>
                            </div>      
                            {% endfor %}
                        {% else %}
                            <div class=" swiper-slide ss10">
                                <a href="#."> 
                                <img src="{% static 'images/e4_500.png' %}" loading="lazy" alt="No images"> 
                                </a>
                            </div>  
                        {% endif %}
                            </div>
                            <div class=" nextbut1 swiper-button-next"></div>
                            <div class=" prevbut1 swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                            </div>
                            </div>
                            <div class="mob-top2">
                            <div class="rt11">
                                <h4>
                                    {% if property.pg_property_name %}
                                    <span>{{ property.pg_property_name }}</span>
                                    {% else %}
                                    <span>On Request</span>                               
                                    {% endif %}
                                </h4>
                                <div class="rt1inline1">
                                <i class="ShiIcons icon_location"></i>
                                <h6 style="margin-left: 5px; margin-top:4px;font-weight: 500; font-size: 9px;">
                                    {% if property.project_city %}
                                    <span>{{ property.project_city }}</span>
                                    {% else %}
                                    <span>On Request</span>
                                    {% endif %}
                                </h6>
                                <p style="font-size: 10px;">
                                    {%if property.landmark %}
                                    <span>{{ property.landmark }}</span>
                                    {% else %}
                                    <span>On Request</span>
                                    {% endif %}
                                </p>
                                </div>
                                <div class="rightprice1" >
                                <h5>Price 
                                    {% if property.min_price %}
                                    <strong style="margin-left: 5px;">{{ property.min_price }}</strong>
                                    {% else %}
                                    <strong style="margin-left: 5px;">On Request</strong>                               
                                    {% endif %}
                                </h5>
                                <!-- <p>₹9,564 per sqft</p> -->
                                </div> 
                            </div>
                            <div class="greenbanner1" >
                                <h6>For Sale</h6>
                            </div>
                            <!-- <div class="redbanner1" >
                                <h6>Sold out</h6>
                            </div> -->
                        </div>
                        </div>
                        <div class="mob-mid">
                            <div class="rm-row1">
                                <div class="rm-col1">
                                    <h6>sharing type</h6>
                                    {% if property.sharing_type %}
                                    <p>{{ property.sharing_type }}</p>
                                    {% else %}
                                    <p>On Request</p>
                                    {% endif %}
                                </div> <span class="vermid1">|</span>
                                <div class="rm-col1">
                                    <h6>available for</h6>
                                    {% if property.pg_for %}
                                    <p>{{ property.pg_for }}</p>
                                    {% else %}
                                    <p>On Request</p>
                                    {% endif %}
                                </div> <span  class="vermid1">|</span>
                                <div class="rm-col1">
                                    <h6>Available from</h6>
                                    {% if property.available_from %}
                                    <p>{{ property.available_from }}</p>
                                    {% else %}
                                    <p>On Request</p>
                                    {% endif %}
                                </div><span  class="vermid1">|</span>
                                <div class="rm-col1">
                                    <h6>food availability</h6>
                                    {% if property.food_availability %}
                                    <p>{{ property.food_availability }} </p>
                                    {% else %}
                                    <p>On Request</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="mob-bottom">
                        <a href="#."><button class="rbbutton1" type="submit"><i class="ShiIcons icon_phonecall2"></i> Contact owner</button> </a>
                            <a href="{% url 'pg_property_detail' property.slug %}" ><button class="rbbutton1" type="submit">
                                <i class="ShiIcons icon_broucher"></i> View details</button> </a>
                        <a href="#."><button class="rbbutton1" type="submit" >Check loan eligibility</button></a>
                        </div>
                    </div>
                <!-- ===============pg  mobile listing end==============-->
                {% else %}
                    <p>OHHHHHHHHHHH NO!! Nothing is found try somthing else</p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No properties found</p>
        {% endif %}
 
</div>
<!--mobile property listing end ======== -->
<script src="{% static 'js/mainswiper.js' %}"></script>
{% endblock %}