{%extends "base(Home).html"%}
{% load static %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'css/SellerDetMain2.css' %}">
<style>
   #header1{top:0!important}.insidecontain{margin-top:65px}.active,.btnsss:hover{background:0 0!important}
</style>
{% endblock %}
{%block body_block%}

<div class="maincontent">
    
    <div class="col-lg-12" style="width: 100%; position: fixed; background-color: #fff!important;z-index: 999; left: 0px;">
        <div class="progress-bar mx-auto">
            <div class="progresstop">
                <div class="title">
                    Progress bar
                </div>
            </div>
            <div class="progressbottom">

                <div class="step">
                    <p class="progresp">
                        Basic Details
                    </p>
                    <div class="bullet progres1">
                        <span>1</span>
                    </div>
                    <div class="check"></div>
                </div>
                <div class="step">
                    <p>
                        Essential Detail
                    </p>
                    <div class="bullet">
                        <span>2</span>
                    </div>
                    <div class="check"></div>
                </div>
                <div class="step">
                    <p>
                        Images
                    </p>
                    <div class="bullet">
                        <span>3</span>
                    </div>
                    <div class="check"></div>
                </div>
                <div class="step">
                    <p>
                        Submit
                    </p>
                    <div class="bullet">
                        <span>4</span>
                    </div>
                    <div class="check"></div>
                </div>  
            </div>
        </div>
    </div>

    <div class="container" style="background-size:100%; background-repeat: no-repeat;">
        <div class="row">
            <div class="col-lg-12" style="margin-top: 150px;">
        <div class="rightprogress mx-auto">
        <div class="form-outer">
            <form method="post" enctype="multipart/form-data" id="submit_propertyid">
                {% csrf_token %}

                <div class="page slide-page" id="page1dets">
                    <div class="titlee">
                        Basic Details
                    </div>
                    <div class="field">
                        <div class="label">
                            I am <span class="req">*</span>
                        </div>
                        <label for="id_u_property_type_1"> Owner</label>
                        <input type="radio" name="u_property_type" value="owner" required id="id_u_property_type_1"
                            class="iamradio" checked>
                        <label for="id_u_property_type_2" id="fielabs">Agent</label>
                        <input type="radio" name="u_property_type" value="agent" required id="id_u_property_type_2"
                            class="iamradio">
                        <label for="id_u_property_type_3" id="fielabs">Builder</label>
                        <input type="radio" name="u_property_type" value="builder" required id="id_u_property_type_3"
                            class="iamradio">
                    </div>
                    <div class="field">
                        <div class="label">
                            Here to <span class="req">*</span>
                        </div>
                        <label for="sell">Sell</label>
                        <input type="radio" name="hereto" value="sell" class="iamradio" style="cursor: no-drop;" disabled>
                        <label for="Rent/Lease" id="fielabs">Rent/Lease</label>
                        <input type="radio" name="hereto" value="Rent/Lease" class="iamradio" style="cursor: no-drop;" disabled>
                        <label for="Pg/Colive" id="fielabs">Pg/Co-live</label>
                        <input type="radio" name="hereto" value="Pg/Colive" required class="iamradio" checked>
                    </div>
                    <div class="field">
                        <div class="label">
                            Enter City <span class="req">*</span>
                        </div>
                        <select name="project_city" id="id_project_city" required>

                            <option value="bengaluru">Bengaluru</option>

                            <option value="chennai">Chennai</option>

                            <option value="mumbai">Mumbai</option>

                            <option value="hyderabad">Hyderabad</option>

                            <option value="delhi">Delhi</option>

                            <option value="pune">Pune</option>

                            <option value="allindia" selected>All India</option>

                        </select>
                    </div>

                    <div class="field">
                        <div class="label">
                            Enter Locality <span class="req">*</span>
                        </div>
                        <input type="text" placeholder="Enter Locality" name="landmark" maxlength="100" required
                            id="id_landmark">
                    </div>

                    <div class="field">
                        <div class="label">
                            Pg Property Name <span class="req">*</span>
                        </div>

                        <input type="text" placeholder="Pg name" name="pg_property_name" maxlength="100" required
                            id="id_pg_property_name">
                    </div>

                    <div class="field">
                        <div class="label">
                            Sharing Type <span class="req">*</span>
                        </div>
                        <select name="sharing_type" required id="id_sharing_type">
                            <option value="" selected>Select Type</option>

                            <option value="1">1</option>

                            <option value="2">2</option>

                            <option value="3">3</option>

                            <option value="4">4</option>

                            <option value="5">5</option>

                            <option value="0">All</option>

                        </select>
                    </div>
                    <div class="field">
                        <div class="label">
                            Status Type
                        </div>
                        <select name="available_from" id="id_available_from">

                            <option value="immediate" selected>Immediate</option>

                            <option value="within15days">With In 15 Days</option>

                            <option value="within1month">With In 1 Month</option>

                            <option value="morethan1month">More Than 1 Month</option>

                        </select>
                    </div>

                    <div class="field">
                        <div class="label">
                            Available for <span class="req">*</span>
                        </div>
                        <select name="pg_for" required id="id_pg_for">
                            <option value="" selected>Select Type</option>

                            <option value="girls">Girls</option>

                            <option value="boys">Boys</option>

                            <option value="colive">Co-live</option>

                        </select>
                    </div>

                    <div class="field">
                        <div class="label">
                            Food Availability <span class="req">*</span>
                        </div>
                        <select name="food_availability" id="id_food_availability" required>

                            <option value="veg" selected>Veg</option>

                            <option value="veg/non-veg">Veg/Non-Veg</option>

                            <option value="none">None</option>

                        </select>
                    </div>

                    <div class="field">
                        <a href="#page2dets"><button type="button" class="firstNext next"
                                id="page1next">Next</button></a>
                    </div>
                </div>

                <div class="page" id="page2dets" style="display: none;">
                    <br><br><br><br><br><br>
                    <div class="titlee">
                        Essential Details:
                    </div>

                    <div class="field">
                        <div class="label">
                            Min. Pricing <span class="req">*</span>
                        </div>
                        <input type="number" placeholder=" Min. Pricing" name="min_price" value="0" required
                            id="id_min_price">
                    </div>

                    <div class="field">
                        <div class="label">
                            Max. Pricing
                        </div>
                        <input type="number" placeholder="Max. Pricing" name="max_price" value="0"
                            id="id_max_price">
                    </div>

                    <div class="field">
                        <div class="label">
                            Security Deposit <span class="req">*</span>
                        </div>
                        <input type="number" placeholder="Security Deposit" name="security_deposit" value="0"
                            step="0.01" required id="id_security_deposit">
                    </div>

                    <div class="field">
                        <div class="label">
                            Maintenance cost
                        </div>
                        <input type="number" placeholder="maintenance cost" name="maintenance_cost" value="0" step="0.01" id="id_maintenance_cost">
                    </div>

                    <div class="field">
                        <div class="label">
                            Floor No.
                        </div>
                        <input type="number" placeholder="Floor No." name="floor_number" value="0" min="0" id="id_floor_number">
                    </div>

                    <div class="field">
                        <div class="label">
                            Lifts <span class="req">*</span>
                        </div>
                        <select name="lifts" required id="id_lifts">

                            <option value="" selected>Select</option>

                            <option value="yes">YES</option>

                            <option value="no">NO</option>

                        </select>
                    </div>

                    <div class="field">
                        <div class="label">
                            Ac Rooms <span class="req">*</span>
                        </div>
                        <select name="ac_rooms" required id="id_ac_rooms">

                            <option value="" selected>Select Type</option>

                            <option value="yes">YES</option>

                            <option value="no">NO</option>

                        </select>
                    </div>

                    <div class="field d-flex align-items-center amenitiesfield">
                        <div class="label">
                            Select Aminities
                        </div>
                                <label for="id_has_wifi">Wifi</label>
                                <input type="checkbox" name="has_wifi" id="id_has_wifi" class="iamradio1">
                                <label for="id_has_refrigerator">Refrigerator</label>
                                <input type="checkbox" name="has_refrigerator" id="id_has_refrigerator" class="iamradio1">
                                <label for="id_has_security">Security</label>
                                <input type="checkbox" name="has_security" class="iamradio1" id="id_has_security">
                    </div>

                     <div class="field d-flex align-items-center amenitiesfield">
                                <label for="id_has_parking">Parking</label>
                                <input type="checkbox" name="has_parking" id="id_has_parking" class="iamradio1">
                                <label for="id_has_gym">Gym</label>
                                <input type="checkbox" name="has_gym" id="id_has_gym" class="iamradio1">
                                <label for="id_has_washingmachine">WashingMachine</label>
                                <input type="checkbox" name="has_washingmachine" class="iamradio1" id="id_has_washingmachine">
                     </div>

                     <div class="field d-flex align-items-center amenitiesfield">
                                <label for="id_has_water">Water</label>
                                <input type="checkbox" name="has_water" id="id_has_water" class="iamradio1">
                                <label for="id_has_electricity">Electricity</label>
                                <input type="checkbox" name="has_electricity" id="id_has_electricity" class="iamradio1">
                                <label for="id_has_powerbackup">Power Backup</label>
                                <input type="checkbox" name="has_powerbackup" id="id_has_powerbackup" class="iamradio1">
                    </div>

                    <div class="field">
                        <div class="label">
                            Extra Amnities
                        </div>
                        <input type="text" placeholder="Extra Aminities" name="amenities" maxlength="300"
                            id="id_amenities">
                    </div>

                    <div class="field">
                        <div class="label">
                            Description <span class="req">*</span>
                        </div>
                        <textarea name="discription" placeholder="Few Good words" cols="40" rows="10" required
                            id="id_discription"></textarea>
                    </div>

                    <div class="field">
                        <div class="label">
                            Address <span class="req">*</span>
                        </div>
                        <input type="text" placeholder="Address & pincode" name="address" maxlength="255" required
                            id="id_address">
                    </div>
                    <div class="field btns">
                        <a href="#page1dets"> <button type="button" class="prev-1 prev" id="page2prev">Previous</button>
                        </a>
                        <a href="#page3dets"> <button type="button" class="next-1 next" id="page2next">Next</button>
                        </a>
                    </div>
                </div>

                <div class="page" id="page3dets" style="display: none;">
                    <br><br><br><br><br><br>
                    <div class="titlee">
                        For Better Response Uploads Images
                    </div>
                    <div class="field">
                        <div class="label">
                            Cover Image
                        </div>
                        <input type="file" name="project_cover_img" accept="image/*" id="id_project_cover_img">
                    </div>

                    <div class="field" id="imgfields">
                        <div class="label">
                            Image No.1
                            <input type="hidden" name="images-TOTAL_FORMS" value="5" id="id_images-TOTAL_FORMS"><input
                                type="hidden" name="images-INITIAL_FORMS" value="0" id="id_images-INITIAL_FORMS"><input
                                type="hidden" name="images-MIN_NUM_FORMS" value="0" id="id_images-MIN_NUM_FORMS"><input
                                type="hidden" name="images-MAX_NUM_FORMS" value="5" id="id_images-MAX_NUM_FORMS">
                        </div>
                        <ul class="imgno1">
                            <li class="img01flex1">
                                <select name="images-0-image_type" id="id_images-0-image_type">
                                    <option value="image_1">Image 1</option>

                                    <option value="image_2">Image 2</option>

                                    <option value="image_3">Image 3</option>

                                    <option value="image_4">Image 4</option>

                                    <option value="image_5">Image 5</option>

                                </select>
                                <input type="file" name="images-0-image" accept="image/*" id="id_images-0-image">

                            </li>
                            <li class="img01flex2">
                                <label for="id_images-0-DELETE">Delete:</label>
                                <input type="checkbox" name="images-0-DELETE" id="id_images-0-DELETE"><input
                                    type="hidden" name="images-0-id" id="id_images-0-id"><input type="hidden"
                                    name="images-0-property_pg" id="id_images-0-property_pg">

                            </li>
                        </ul>
                    </div>

                    <div class="field" id="imgfields">
                        <div class="label">
                            Image No.2
                        </div>
                        <ul class="imgno1">
                            <li class="img01flex1">
                                <select name="images-1-image_type" id="id_images-1-image_type">
                                    <option value="image_1">Image 1</option>

                                    <option value="image_2">Image 2</option>

                                    <option value="image_3">Image 3</option>

                                    <option value="image_4">Image 4</option>

                                    <option value="image_5">Image 5</option>

                                </select>
                                <input type="file" name="images-1-image" accept="image/*" id="id_images-1-image">
                            </li>
                            <li class="img01flex2">
                                <label for="id_images-1-DELETE">Delete:</label>
                                <input type="checkbox" name="images-1-DELETE" id="id_images-1-DELETE"><input
                                    type="hidden" name="images-1-id" id="id_images-1-id"><input type="hidden"
                                    name="images-1-property_pg" id="id_images-1-property_pg">

                            </li>
                        </ul>
                    </div>

                    <div class="field" id="imgfields">
                        <div class="label">
                            Image No.3
                        </div>
                        <ul class="imgno1">
                            <li class="img01flex1">
                                <select name="images-2-image_type" id="id_images-2-image_type">
                                    <option value="image_1">Image 1</option>

                                    <option value="image_2">Image 2</option>

                                    <option value="image_3">Image 3</option>

                                    <option value="image_4">Image 4</option>

                                    <option value="image_5">Image 5</option>

                                </select>
                                <input type="file" name="images-2-image" accept="image/*" id="id_images-2-image">
                            </li>
                            <li class="img01flex2">
                                <label for="id_images-2-DELETE">Delete:</label>
                                <input type="checkbox" name="images-2-DELETE" id="id_images-2-DELETE"><input
                                    type="hidden" name="images-2-id" id="id_images-2-id"><input type="hidden"
                                    name="images-2-property_pg" id="id_images-2-property_pg">

                            </li>
                        </ul>
                    </div>

                    <div class="field" id="imgfields">
                        <div class="label">
                            Image No.4
                        </div>
                        <ul class="imgno1">
                            <li class="img01flex1">
                                <select name="images-3-image_type" id="id_images-3-image_type">
                                    <option value="image_1">Image 1</option>

                                    <option value="image_2">Image 2</option>

                                    <option value="image_3">Image 3</option>

                                    <option value="image_4">Image 4</option>

                                    <option value="image_5">Image 5</option>

                                </select>
                                <input type="file" name="images-3-image" accept="image/*" id="id_images-3-image">

                            </li>
                            <li class="img01flex2">
                                <label for="id_images-3-DELETE">Delete:</label>
                                <input type="checkbox" name="images-3-DELETE" id="id_images-3-DELETE"><input
                                    type="hidden" name="images-3-id" id="id_images-3-id"><input type="hidden"
                                    name="images-3-property_pg" id="id_images-3-property_pg">

                            </li>
                        </ul>
                    </div>

                    <div class="field" id="imgfields">
                        <div class="label">
                            Image No.5
                        </div>
                        <ul class="imgno1">
                            <li class="img01flex1">
                                <select name="images-4-image_type" id="id_images-4-image_type">
                                    <option value="image_1">Image 1</option>

                                    <option value="image_2">Image 2</option>

                                    <option value="image_3">Image 3</option>

                                    <option value="image_4">Image 4</option>

                                    <option value="image_5">Image 5</option>

                                </select>
                                <input type="file" name="images-4-image" accept="image/*" id="id_images-4-image">
                            </li>
                            <li class="img01flex2">
                                <label for="id_images-4-DELETE">Delete:</label>
                                <input type="checkbox" name="images-4-DELETE" id="id_images-4-DELETE"><input
                                    type="hidden" name="images-4-id" id="id_images-4-id"><input type="hidden"
                                    name="images-4-property_pg" id="id_images-4-property_pg">

                            </li>
                        </ul>
                    </div>

                    <div class="field btns">
                        <a href="#page2dets"><button type="button" class="prev-2 prev"
                                id="page3prev">Previous</button></a>
                        <a href="#page4dets"><button type="button" class="next-2 next" id="page3next">Next</button>
                        </a>
                    </div>
                </div>

                <div class="page" id="page4dets" style="display: none;">
                    <br><br>
                    <div class="lastpagewrap">
                        <input type="checkbox" required>
                        <label for="Confirm">Confirm and Submit</label>
                    </div>
                    <div class="field btns finalpage">
                        <a href="#page3dets"><button type="button" class="prev-3 prev"
                                id="page4prev">Previous</button></a>
                        <button type="submit" class="submit" id="submit_buttonid">Submit</button>
                    </div>
                </div>
            </form>
        </div>   
    </div>
    </div>
    </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/SellerDetMain2.js' %}"></script>>

{% endblock %}