{%extends "base(Home).html"%}
{% load static %}
{% block head_block %}
 <title>My Dashboard</title>
    <link rel="stylesheet" href="new_dash.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css">
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        #header1 {top: 0px!important;}
        .maintopwrap{margin-top: 75px;}
    </style>
      {% endblock %}
      {%block body_block%}
    <div class="app-container">
        <div class="app-content">
         
            <div class="app-content-actions">
                <h1 class="app-content-headerText">Welcome Username!</h1>
                <button class="mode-switch" title="Switch Theme">
                    <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                        <defs></defs>
                        <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
                </button>
                <div class="app-content-actions-wrapper">
                    <div class="app-content-actions-inside d-flex">
                    <button class="app-content-headerButton">Post Property</button>
                    <div class="filter-button-wrapper">
                        <button class="action-button filter jsFilter">
                            <span>Filter</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" 
                               viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                               stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                               class="feather feather-filter">
                               <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"/>
                            </svg>
                        </button>
                        <div class="filter-menu">
                            <label for="category">Category</label>
                            <select id="category">
                                <option value="all">All Categories</option>
                                <option value="sell">Sell</option>
                                <option value="rent">Rent</option>
                                <option value="pg">Pg</option>
                            </select>
                        </div>
                    </div>
                    </div>
                    <div class="app-content-actions-inside d-flex">
                    <button class="action-button active" id="gridbtn" title="Grid View">
                        <span style="margin-left: 2px;">Property</span> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-grid">
                            <rect x="3" y="3" width="7" height="7" />
                            <rect x="14" y="3" width="7" height="7" />
                            <rect x="14" y="14" width="7" height="7" />
                            <rect x="3" y="14" width="7" height="7" />
                        </svg>
                    </button>
                    <button class="action-button" id="listbtn" title="List View">
                        <span style="margin-left: 2px;">Leads</span> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-list">
                            <line x1="8" y1="6" x2="21" y2="6" />
                            <line x1="8" y1="12" x2="21" y2="12" />
                            <line x1="8" y1="18" x2="21" y2="18" />
                            <line x1="3" y1="6" x2="3.01" y2="6" />
                            <line x1="3" y1="12" x2="3.01" y2="12" />
                            <line x1="3" y1="18" x2="3.01" y2="18" />
                        </svg>
                    </button>
                </div>
                </div>
            </div>
            <div class="products-area-wrapper gridView">
                <!-- ////sell/// -->
                {% for property in user_properties %}
                <div class="products-row" data-category="sell">
                    <div class="ribbon-2">sell</div>
                    <button class="cell-more-button">
                        <i class="bi bi-share-fill"></i>
                    </button>
                    <div class="product-cell image">
                        <img src="https://images.unsplash.com/photo-1555041469-a586c61ea9bc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
                            alt="product">
                        <span>{{ property.project_society_name }}</span>
                    </div>
                    <div class="product-cell sales"><span class="cell-label">S No:</span>{{ forloop.counter }}</div>
                    <div class="product-cell price"><span class="cell-label">Property city:</span>{{ property.project_city }}</div>
                    <div class="product-cell category"><span class="cell-label">Property type:</span>{{ property.apartment_type }}</div>
                    <div class="product-cell stock"><span class="cell-label">Property Status:</span>{{ property.status }}</div>
                    <div class="product-cell status-cell">
                        <span class="cell-label">Status:</span>
                        <span class="d-flex">
                            <a href="{% url 'edit_property' property.slug %}"><button type="button" class="statusbutton"><span class="status edit"> Edit </span></button> </a>
                                <a href="{% url 'delete_property' property.slug %}"><button type="button" class="statusbutton"><span class="status delete"> Delete</span></button></a>
                        </span>
                    </div>
                </div>

                <!-- ///rent/// -->
                {% for property in user_rental_properties %}
                <div class="products-row" data-category="rent">
                    <div class="ribbon-2">rent</div>
                    <button class="cell-more-button">
                        <i class="bi bi-share-fill"></i>
                    </button>
                    <div class="product-cell image">
                        <img src="https://images.unsplash.com/photo-1555041469-a586c61ea9bc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
                            alt="product">
                        <span>{{property.r_property_name}}</span>
                    </div>
                    <div class="product-cell sales"><span class="cell-label">S No:</span>{{ forloop.counter }}</div>
                    <div class="product-cell price"><span class="cell-label">Property city:</span>{{ property.project_city }}</div>
                    <div class="product-cell category"><span class="cell-label">Property type:</span>{{ property.total_rooms }}</div>
                    <div class="product-cell stock"><span class="cell-label">Facing:</span>{{ property.facing }}</div>
                    <div class="product-cell status-cell">
                        <span class="cell-label">Status:</span>
                        <span class="d-flex">
                            <a href="{% url 'edit_rental_property' property.slug %}"><button type="button" class="statusbutton"><span class="status edit"> Edit </span></button></a>
                            <a href="{% url 'delete_property' property.slug %}"><button type="button" class="statusbutton"><span class="status delete"> Delete</span></button></a>
                    </span>
                    </div>
                </div>
                
                <!-- ////pg///// -->
                {% for property in user_pg_properties %}
                <div class="products-row" data-category="pg">
                    <div class="ribbon-2">pg</div>
                    <button class="cell-more-button">
                        <i class="bi bi-share-fill"></i>
                    </button>
                    <div class="product-cell image">
                        <img src="https://images.unsplash.com/photo-1555041469-a586c61ea9bc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
                            alt="product">
                        <span>{{ property.pg_property_name }}</span>
                    </div>
                    <div class="product-cell sales"><span class="cell-label">S No:</span>{{ forloop.counter }}</div>
                    <div class="product-cell price"><span class="cell-label">Property city:</span>{{ property.project_city }}</div>
                    <div class="product-cell category"><span class="cell-label">Sharing type:</span>{{ property.sharing_type }} Sharing</div>
                    <div class="product-cell stock"><span class="cell-label">Food Availability:</span>{{ property.food_availability }}</div>
                    <div class="product-cell status-cell">
                        <span class="cell-label">Status:</span>
                        <span class="d-flex">
                            <a href="{% url 'edit_pg_property' property.slug %}"><button type="button" class="statusbutton"><span class="status edit"> Edit </span></button></a>
                            <a href="{% url 'delete_property' property.slug %}"><button type="button" class="statusbutton"><span class="status delete"> Delete</span></button></a>
                    </span>
                    </div>
                </div>
              
            </div>
            <div class="products-area-wrapper tableView" style="display: none;">
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Property Name</th>
                            <th>Customer Name</th>
                            <th>Number</th>
                            <th>Email</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ property.property_Name }}</td>
                            <td>{{ property.name }}</td>
                            <td>{{ property.phone }}</td>
                            <td>{{ property.email }}</td>
                            <td>{{ property.message }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="./new_dash.js"></script>
    <script>
        new DataTable('#example', {
            scrollY: true,
            layout: {
                topStart: {
                    pageLength: {
                        menu: [ 10, 25, 50, 100 ]
                    }
                },
                topEnd: {
                    search: {
                        placeholder: 'Type search here'
                    }
                },
                bottomEnd: {
                    paging: {
                        numbers: 3
                    }
                }
            }
        });
    </script>
    <script>
        document.getElementById('category').addEventListener('change', function() {
            var selectedCategory = this.value;
            var cards = document.querySelectorAll('.products-row');

            cards.forEach(function(card) {
                if (selectedCategory === 'all' || card.getAttribute('data-category') === selectedCategory) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            });
        });
    </script>
{% endblock %} 