{%extends "base(Home).html"%}
{% load static %}

{% block head_block %}
<title>Real Estate Company in Bangalore that Helps to Buy Home</title>
<meta name="keyword"
  content="real estate consultant in bangalore, best real estate agents in Bangalore, real estate broker in Bangalore, real estate company in Bangalore, real estate platform">
<meta name="description"
  content="Search Homes India Pvt Ltd is the leading real estate company in Bangalore that support you to buy your dream home at your budget and with the best offers">
  <link rel="stylesheet" type="text/css" href="{% static 'css/aboutresponsive.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/aboutstyle.css' %}">
  <style>
     #header1 {top: 0px!important;}
    #scndaboutsect{margin-top: 65px;}
  </style>
{% endblock %}

{%block body_block%}
<section class="scndaboutsect">
  <div class="secnd-responsive-container-block scndbigContainer">
      <div class="secnd-responsive-container-block Container scndbottomContainer">
          <div class="scndallText scndbottomText">
              <p class="secnd-text-blk scndheadingText">
                  About Us
              </p>
              <p class="secnd-text-blk scndsubHeadingText">
                  We build to your bespoke
              </p>
              <p class="secnd-text-blk scnddescription">
                  Search Homes India Pvt Ltd. was founded in 2015 and came into existence with the goal of
                  providing one-to-one solutions for all your needs related to buying, selling, or renting
                  properties. <br> <br>
                  We provide our customers with prompt and professional service. Our commitment to integrity,
                  quality, and transparency are the foundation of our business and are reflected in everything we
                  do.
                  We believe that you will be pleased with our service and quality of work, as well as the value
                  you receive for the cost
                  <span id="dots1">...</span><span id="more1">.<br><br>We specialize in buying or selling of
                      multiple residential and commercial properties like apartments, villas, plots, and farmlands
                      which allows us to meet our clients' needs more precisely. <br><br>
                      It all started with an understanding that buyers need a better way to search for their dream
                      homes and properties, this realization has led to our founding principles today: simplicity
                      and personal attention.</span><button onclick="readMore('1')" id="myBtn1">Read more</button>
              </p>
              <a>
                  <button class="scndexplore">
                      View More
                  </button>
              </a>
          </div>
          <div class="videoContainer">
              <iframe class="mainVideo" controls="controls" width="640" height="360"
                  src="https://www.youtube.com/embed/zliz78_OLtk" title="Search Homes India Pvt. Ltd."
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
              <img class="scnddotsImg scndimage-block"
                  src="{% static 'images/pinkdots.svg' %}">
          </div>
      </div>
  </div>
</section>

<section class="fourthsection">
  <div class="responsive-container-block outer-container">
      <div class="responsive-container-block inner-container">
        <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-4 wk-ipadp-4 headings-container">
          <p class="text-blk heading-text">
            Our Co-Founder
          </p>
          <p class="text-blk sub-heading-text" style="letter-spacing: 0px;">
            Introducing our real estate visionary! With a keen eye for innovation and excellence, they set new industry standards and drive unparalleled success. Join us on our journey toward visionary leadership and transformative real estate experiences!
          </p>
        </div>
        <div class="responsive-cell-block wk-desk-8 wk-ipadp-8 wk-tab-12 wk-mobile-12 team-members-container">
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
            <div class="card">
              <img class="card-img" src="{% static 'images/Pankajsir-img.jpg' %}">
              <p class="text-blk name">
               Pankaj Singh
              </p>
              <div class="sociallinks d-flex justify-content-between align-items-center">
              <p class="text-blk position">
                CEO
              </p>
              <div class="social-icons">
                  <a href="https://www.twitter.com" target="_blank">
                    <img class="twitter-icon" src="{% static 'images/twit-icon.svg' %}">
                  </a>
                  <a href="https://www.facebook.com" target="_blank">
                    <img class="facebook-icon" src="{% static 'images/fb-icon.svg' %}">
                  </a>
                  <a href="https://www.instagram.com" target="_blank">
                      <img class="instagram-icon" width="20" height="20" src="{% static 'images/insta-icon.webp' %}">
                    </a>
                </div>
              </div>
            </div>
          </div>

          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
            <div class="card">
              <img class="card-img" src="{% static 'images/vipulsir-img.jpg' %}">
              <p class="text-blk name">
                Vipul Mishra
              </p>
              <div class="sociallinks d-flex justify-content-between align-items-center">
                  <p class="text-blk position">
                    CEO
                  </p>
                  <div class="social-icons">
                    <a href="https://www.twitter.com" target="_blank">
                      <img class="twitter-icon" src="{% static 'images/twit-icon.svg' %}">
                    </a>
                    <a href="https://www.facebook.com" target="_blank">
                      <img class="facebook-icon" src="{% static 'images/fb-icon.svg' %}">
                    </a>
                    <a href="https://www.instagram.com" target="_blank">
                        <img class="instagram-icon" width="20" height="20" src="{% static 'images/insta-icon.webp' %}">
                      </a>
                    </div>
                  </div>
            </div>
          </div>

        </div>
      </div>
    </div>
   
</section>

<section id="services-page" class="padding our-value" style="background-image: url(../static/images/AboutImage.jpg);">
<div class="container">

  <div class="row mb-20">
    <div class="col-sm-1 col-md-2"></div>
    <div class="col-xs-12 col-sm-10 col-md-8 text-center">
      <h2 class="text-uppercase">Company Overview</h2>
      <div class="line_1-1"></div>
      <div class="line_2-2"></div>
      <div class="line_3-3"></div>
      <br>
      <p class="heading_space" style="color:white;">
        "To provide superior Real Estate full-service with in-depth market knowledge and ethical practice" <br>
        "Be recognized as a leading Company in property services as well as a reliable source of market information
        and advice"
      </p>
    </div>
    <div class="col-sm-1 col-md-2"></div>
  </div>

  <div class="row" style="padding: 16px;">
    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
      <i class="bigicon icon_moto"></i>
      <div class="services-page-box">
        <h2>OUR MOTTO</h2>
        <p style="text-align:justify;font-size: 14px;line-height: 19px;color: white;">Our motto is simple: "We're here to
          help you find your perfect home." Whether you're
          a first-time home buyer or a seasoned pro, we'll work tirelessly to help you find the
          home of your dreams. We believe that everyone deserves a place to call their own,
          and we'll do everything in our power to make that happen for you..</p>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
      <i class="bigicon widthnew icon_vision"></i>
      <div class="services-page-box">
        <h2>MISSION &amp; VISION</h2>
        <p style="text-align:justify;font-size: 14px;line-height: 19px;color: white;">Our company's vision is to become
          India's no. 1 real estate platform, which deals
          with every aspect of the consumer's needs in real estate. We bring customers,
          brokers, builders, sellers, home loan providers, and other ancillary services together on a single platform
          to make the process of buying,<span id="dots2" style="display: inline;">...</span><span id="more2" style="display: none;">
            selling, or renting a property
            easier than ever before.<br><br> The Company's vision is to be a one-stop solution for all things related
            to real estate
            where you create a microsite/profile for their own advertisements for properties or
            real estate-related services. This will allow customers to have everything they need
            in one place without going anywhere else.<br><br>Everything will be centralized on our portal and it will
            make your real estate
            experience simple, effortless, and inexpensive by providing the best realty
            information on the web.</span><button onclick="readMore('2')" id="myBtn2">Read more</button></p>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
      <i class="bigicon icon_team"></i>
      <div class="services-page-box">
        <h2>OUR TEAM</h2>
        <p style="text-align:justify;font-size: 14px;line-height: 19px;color: white;">We have a team of professionals who are
          committed to providing our
          customers with a high degree of customer satisfaction, which is why we
          ensure that the property matches your budget and requirement. We also
          provide other real estate services such as:<span id="dots3" style="display: inline;">...</span><span id="more3" style="display: none;"><br><br> 1. The
            assistance in legal documentation<br>
            2. Land preparation assistance<br>
            3. Interiors designing<br>
            4. Home loan assistance<br>
            5. Registration certificate<br>
            6. Property management assistance.<br>
            7. Escalate the client's complains and resolve them promptly<br><br>Our team of real estate experts are
            always available to help you find the perfect
            property for your needs. Contact us today to know more about our services!</span><button onclick="readMore('3')" id="myBtn3">Read more</button></p>
      </div>
    </div>

  </div>

</div>
</section>

<section class="firstsect">
  <div class="responsive-container-block bigContainer">
      <div class="responsive-container-block Container">
          <div class="imgContainer">
              <img class="blueDots"
                  src="{% static 'images/bluedot.svg' %}">
              <img class="mainImg"
                  src="{% static 'images/houseimg.svg' %}">
          </div>
          <div class="responsive-container-block textSide">
              <p class="text-blk heading">
                  Our Core Principles
              </p>
              <p class="text-blk subHeading">
                  <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis -->
              </p>
              <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                  <div class="cardImgContainer">
                      <!-- <img class="cardImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg"> -->
                      <i class="bigicon icon_focus"></i>
                  </div>
                  <div class="cardText">
                      <p class="text-blk cardHeading">
                          FOCUS
                      </p>
                      <p class="text-blk cardSubHeading">
                          “It is not that we have too little time to do all the things we need to do, it is that
                          we feel the need to do too many things in the time we have.”
                      </p>
                  </div>
              </div>
              <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                  <div class="cardImgContainer">
                      <i class="bigicon icon_timefl"></i>
                  </div>
                  <div class="cardText">
                      <p class="text-blk cardHeading">
                          FLEXIBILITY
                      </p>
                      <p class="text-blk cardSubHeading">
                          “We offer flexible options to our clients and tailor a solution that fits with their
                          specific situation whether they're looking to buy or sell”
                      </p>
                  </div>
              </div>
              <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                  <div class="cardImgContainer">
                      <i class="bigicon icon_passion"></i>
                  </div>
                  <div class="cardText">
                      <p class="text-blk cardHeading">
                          PASSION
                      </p>
                      <p class="text-blk cardSubHeading">
                          “In the real estate business, you learn more about people, community issues and life. We
                          belive in Custumer Satisfaction, Credibility and Professionalism”
                      </p>
                  </div>
              </div>
              <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                  <div class="cardImgContainer">
                      <i class="bigicon icon_value "></i>
                  </div>
                  <div class="cardText">
                      <p class="text-blk cardHeading">
                          OUR VALUES
                      </p>
                      <p class="text-blk cardSubHeading">
                          * Long Term relationships with Clients <br>
                          * Constant Growth and Development <br>
                          * Always Delivering Best results <br>
                          * Services that does not end at the transaction
                      </p>
                  </div>
              </div>
              <a style="margin: 0 left; padding-top: 20px;">
                  <button class="explore">
                      Explore our Services
                  </button>
              </a>
          </div>
          <img class="redDots" src="{% static 'images/pinkdots.svg' %}">
      </div>
  </div>
</section>

<section class="thirdsect">
  <section class="image-text-eig parallaxie">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
                  <div class="image-text-eig-details">
                      <h4 style="font-size: 22px">LET'S FIND A HOME THAT'S PERFECT FOR YOU</h4>
                      <br>
                      <h5>THEY'RE TALKING ABOUT US</h5>
                      <p>With our constant innovations, Search Homes India is
                          making waves throughout the real estate industry.</p>
                      <a href="/contact" class="btn_fill" title="Contact Now"
                          style="background-color: #001B54;">Contact Now</a>
                  </div>
              </div>
          </div>
      </div>

  </section>
</section>

<div class="modal fade" id="SiteVisitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background: #062d7b;color: white;font-weight: 800;text-align: center;">
        <a data-dismiss="modal" class="pull-right" style="font-size: 33px;line-height: 21px;" aria-label="Close"><span
            aria-hidden="true" title="Close Button">&times;</span></a>
        <h4 class="modal-title" id="myModalLabel" style="color:#fff">Contact Us</h4>
      </div>
      <div class="modal-body" style="padding-bottom: 0px;">
        <form class="contact-form" id="Contactform">
          {% csrf_token %}
          <div class="row" style="margin-right: 0;
          margin-left: 0;padding-top: 10px;">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <!-- <input type="hidden" name="Propdetail" id="Propdetail4" value="{{ Prop_Data.PropertyName }}"> -->
              <div class="form-group">
                <input type="text" id="name" name="name" class="form-control" placeholder="Your Name" required>
              </div>

              <!-- Name valid or invalid checker div's -->
              <div class="valid-feedback" id="namevalid">
                Looks good!
              </div>
              <div class="invalid-feedback" id="nameinvalid">
                Please Enter a valid Name.
              </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="form-group">
                <input type="email" id="email" name="email" class="form-control" value="@gmail.com"
                  placeholder="Your E-mail" required>
              </div>

              <!-- Email validation alert boxes. -->
              <div class="valid-feedback" id="emailvalid">
                Looks good!
              </div>
              <div class="invalid-feedback" id="emailinvalid">
                Please Enter a valid Email-Address.
              </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="form-group">
                <input type="tel" id="phone" name="Number" class="form-control" placeholder="Your Phone Number"
                  maxlength="10" onkeypress="return /[0-9]/i.test(event.key)" required>
              </div>
              <!-- Contact valid or invalid checker div's -->
              <div class="valid-feedback" id="phonevalid">
                Looks good!
              </div>
              <div class="invalid-feedback" id="phoneinvalid">
                Please Enter a valid Contact Number.
              </div>
            </div>

          </div>

          <div class="row" style="margin-right: 0;
          margin-left: 0;">
            <div class="col-md-12">
              <div class="form-group">
                <textarea class="form-control" style="resize: none;" name="message" placeholder="Message" id="message"
                  required>
                </textarea>
              </div>
            </div>
            <!-- Message valid or invalid checker div's -->
            <div class="valid-feedback" id="messagevalid">
              Looks good!
            </div>
            <div class="invalid-feedback" id="messageinvalid">
              Please Enter a valid Message.
            </div>
          </div>

          <div class="row" style="margin-right: 0;
          margin-left: 0;">
            <!-- Alert blocks to show the alerts regarding the submission of the form -->
            <!-- success alert block -->
            <div class="alert alert-success alert-dismissible" role="alert" id="success">
              <strong>ThankYou for your response!</strong> Our team will get back to you soon.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <!-- failure alert block -->
            <div class="alert alert-danger alert-dismissible" role="alert" id="failure">
              <strong>Something went wrong!</strong> Please fill the details properly.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="col-md-12 top20">
              <div class="form-group">
                <button type=" submit" class="btn_fill" id="submit" name="btn_submit">
                  Submit</button>
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer" style="background: #062d7b;color: white;font-weight: 800;">
      </div>
    </div>
  </div>
</div>
<!-- popmodal ends here -->
<script src="{% static 'js/contactCheck.min.js' %}"></script> 
<script>
function readMore(value) {
    let dotss = 'dots' + value;
    let more = 'more' + value;
    let myBtn = 'myBtn' + value;

    var dots = document.getElementById(dotss);
    var moreText = document.getElementById(more);
    var btnText = document.getElementById(myBtn);

    if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Read more";
        moreText.style.display = "none";
    } else {
        dots.style.display = "none";
        btnText.innerHTML = "Read less";
        moreText.style.display = "inline";
    }
}
</script>

{% endblock %}