{%extends "base(Home).html"%}
{% load static %}

{% block head_block %}
<title>About Us | Search Homes India- Best Real Estate Portal</title>
<meta name="keyword" content="real estate consultant in bangalore, best real estate agents in Bangalore, real estate broker in Bangalore, real estate company in Bangalore, real estate platform">
<meta name="description" content="Search Homes India, Founded in 2015, leads as India's best property portal, Provides Real Estate Services to fulfill all of the client's demands.">
<link rel="stylesheet" type="text/css" href="https://static.searchhomesindia.com/css/about.css">
<link rel="stylesheet" type="text/css" href="https://static.searchhomesindia.com/css/bootstrap.min.css">
<style>
    #header1 {top: 0px!important;z-index: 100;}
    .dropdown2 {width: 120px!important;border: none!important;}
    </style>
   {% endblock %}
   
   {%block body_block%}
    <main class="aboutmain">

        <section class="about1stsection">
            <div class="firstcontainer">
                <div class="leftsectionabout">
                    <h1>
                        About <br/>
                        Us
                    </h1>
                    <h2>Welcome to Search Homes India!</h2>
                    <p>
                        At Search Homes India, we firmly believe in the significance of discovering your dream home. It's not just about transactions; it's about uncovering a space where aspirations are realized and cherished memories are forged, transcending mere commercial endeavors. Our mission is to ensure that every client's journey when buying or selling a home is not only seamless but also deeply fulfilling.<br>
                        <br> 
                        We are dedicated to simplifying and enriching the home-buying or selling experience for each of our clients. This commitment drives us to deliver exceptional service, going above and beyond to exceed expectations. Our passion for real estate is unwavering, fueling our relentless pursuit of excellence in every aspect of our work. You can rely on Search Homes India to provide you with real estate guidance from experts who care about your fulfillment and happiness. Let us embark on this exciting adventure together, as we work tirelessly to turn your real estate dreams into reality.
                    </p>
                </div>
                <div class="rightsectionabout">
                    <div class="rightsideimg">
                        <img src="https://static.searchhomesindia.com/images/aboutimg1.png" alt="About Top Img" >
                    </div>
                    <div class="bottomimg">
                        <img src="https://static.searchhomesindia.com/images/icon1.png" alt="icon img">
                    </div>
                </div>
            </div>
        </section>

        <section class="about2stsection">
            <div class="aboutcmmnheading">
                <h2>COMAPNY OVERVIEW</h2>
            </div>
            <div class="lines1"></div>
            <div class="lines2"></div>
            <div class="scndcontainer">
                <p>Experience excellence in real estate with our complete services tailored to your needs. <br> Count on
                    us for dependable service, transparent transactions, <br> and a focus on your happiness.</p>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="cardimg">
                                    <img src="https://static.searchhomesindia.com/images/outmotto.png"  alt="Our Motto Img">
                                </div>
                                <div class="cardhead">
                                    <h4> Our motto </h4>
                                </div>
                                <div class="cardpara">
                                    <p>
                                        Our goal is to assist customers in making informed real estate decisions. We are
                                        dedicated to providing unparalleled service, expert guidance, and personalized
                                        attention every step of the way. By leveraging our extensive network, market
                                        insights, and innovative technology, we ensure that our clients achieve their
                                        real estate goals with confidence and peace of mind.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="cardimg">
                                    <img src="https://static.searchhomesindia.com/images/ourservice.png"  alt="Our Services Img">
                                </div>
                                <div class="cardhead">
                                    <h4> Our service </h4>
                                </div>
                                <div class="cardpara">
                                    <p>
                                        We provide a wide range of services to meet your real estate needs. Whether you
                                        want to buy, sell, or rent a property, we offer property listings, market
                                        analysis, property management, and investment consulting. <br>With our expertise
                                        and resources, we can help you achieve your real estate goals efficiently and
                                        effectively.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="cardimg">
                                    <img src="https://static.searchhomesindia.com/images/ourteam.png" alt="Our Team Img">
                                </div>
                                <div class="cardhead">
                                    <h4> Our team </h4>
                                </div>
                                <div class="cardpara">
                                    <p>
                                        Our team is committed to ensuring customer satisfaction by helping you find the
                                        perfect property and providing various real estate services, including legal
                                        documentation, interior design, home loan facilitation, and property management.
                                        Resolving client complaints promptly is a top priority. Contact us today for all
                                        your real estate needs!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#1b6c9f" fill-opacity="1"
                        d="M0,96L40,117.3C80,139,160,181,240,186.7C320,192,400,160,480,149.3C560,139,640,149,720,176C800,203,880,245,960,250.7C1040,256,1120,224,1200,229.3C1280,235,1360,277,1400,298.7L1440,320L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
                    </path>
                </svg>
            </div>
        </section>

        <section class="about3stsection">
            <div class="headingwrap">
                <div class="aboutcmmnheading">
                    <h2>Our Core Principles</h2>
                </div>
                <div class="lines1"></div>
                <div class="lines2"></div>
            </div>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                            <div class="cardImgContainer">
                                <i class="bigicon icon_focus"></i>
                            </div>
                            <div class="cardText">
                                <p class="text-blk cardHeading">
                                    FOCUS
                                </p>
                                <p class="text-blk cardSubHeading">
                                    In the competitive Indian real estate market, consider essential factors such as
                                    budget, location, property type, and legal due diligence. To make the search process
                                    go more quickly, choose credible real estate websites and brokers. Avoid
                                    distractions so you can make educated judgments and locate your dream house quickly.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                            <div class="cardImgContainer">
                                <i class="bigicon icon_timefl"></i>
                            </div>
                            <div class="cardText">
                                <p class="text-blk cardHeading">
                                    FLEXIBILITY
                                </p>
                                <p class="text-blk cardSubHeading">
                                    We provide tailored solutions for buying and selling properties. Our flexible
                                    approach includes customizable property searches, financing options, and marketing
                                    strategies to ensure a seamless real estate experience aligned with your goals.
                                    Trust us to support you in navigating the dynamic real estate market with
                                    confidence.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                            <div class="cardImgContainer">
                                <i class="bigicon icon_value"></i>
                            </div>
                            <div class="cardText">
                                <p class="text-blk cardHeading">
                                    VALUE
                                </p>
                                <p class="text-blk cardSubHeading">
                                    We prioritize long-term client relationships, staying ahead of market trends with
                                    cutting-edge technology and industry insights. Our goal is to consistently deliver
                                    exceptional results, whether it's finding the perfect home or securing a lucrative
                                    investment. We provide ongoing support and guidance, making us a trusted partner in
                                    your real estate endeavors.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about4stsection">
            <div class="headingwrap">
                <div class="aboutcmmnheading">
                    <h2>Why choose us?</h2>
                </div>
                <div class="lines1"></div>
                <div class="lines2"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="chooseustext">
                            <p>
                                When you choose Search Homes India, you are teaming up with a dedicated group that is
                                passionately committed to your real estate success. We understand that each client is
                                unique, whether you are a first-time homebuyer or a seasoned investor, and we tailor our
                                services to meet your specific needs and preferences. 
                                <br> <br>
                                Our experienced professionals are
                                devoted to guiding you through every step of the buying or selling process, ensuring a
                                seamless and personalized experience from property search and negotiation to closing.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="chooseimg">
                            <img src="https://static.searchhomesindia.com/images/chooseimg.png" alt="Choose Us Img">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about5stsection">
            <div class="headingwrap">
                <div class="aboutcmmnheading">
                    <h2>Get in touch</h2>
                </div>
                <div class="lines1"></div>
                <div class="lines2"></div>
            </div>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="getintouch">
                            <p>
                                Search Homes India is your one-stop shop for all things real estate in all over India. Their expert team can help you find your dream home, whether you're buying, selling, or renting. They offer personalized guidance and support to make your real estate journey seamless.Contact us at <a href="mailto:info@searchhomesindia.com"> info@searchhomesindia.com </a> now to start your seamless real estate journey.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    {% endblock %}