{%extends "base(Home).html"%}
{% load static %}
{% block head_block %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All-in-One Builder Solutions- Sales, Marketing, and Management</title>
    <meta name="title" content="All-in-One Builder Solutions- Sales, Marketing, and Management">
    <meta name="description" content="Our all-in-one solutions cover sales, marketing, and property management, providing you with a seamless and stress-free experiences with Search Homes India.">
    <meta name="keywords" content="Property Sales Agent, Real Estate Developer Services, Commission-Based, Real Estate Services, Builder Commission, Project Marketing, Real Estate Investment">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://static.searchhomesindia.com/css/shiservices.css">
    <style>
        #header1 {top: 0px!important;}
        #home_decore_main{margin-top: 65px;}
    </style>
{% endblock %}
{%block body_block%}
<main id="home_decore_main">
    <div class="homebanner">
        <img src="https://static.searchhomesindia.com/images/buildersolution_lap.webp" alt="HomeDecor_LaptopImg" id="HomeDecor_LaptopImg">
        <img src="https://static.searchhomesindia.com/images/buildersolution_mob.webp" alt="HomeDecor_MobileImg" id="HomeDecor_MobileImg">
        <button type="button" class="Bannerbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">I'm interested</button>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-lg-12 mt-3">
                <div class="topline">
                    <h1>
                        Partner with Us to Showcase Your Property
                    </h1>
                    <h6>
                        At Search Homes India, we pride ourselves on offering comprehensive solutions that cover every aspect of the real estate journey. Our all-in-one builder solutions are meticulously designed to handle sales, marketing, and property management, ensuring a seamless and stress-free experience for builders and developers.
                    </h6>
                </div>
            </div>

            <div class="col-lg-12 mt-4">
                <div class="benefitbox">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="leftpara">
                                <h5>Sales Solution</h5>
                                <ul>
                                    <li>
                                        Generate high-quality leads for your projects.
                                    </li>
                                    <li>
                                        Customer interactions to improve engagement and conversion rates.
                                    </li>
                                    <li>
                                        Sales Support for every step of the purchasing process.
                                    </li>
                                    <li>
                                        Quality Assurance and Control for superior construction standards
                                    </li>
                                    <li>
                                        Customizable Design Options to meet client preferences and needs.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="rightpara">
                                <h5>Marketing Solutions </h5>
                                <ul>
                                    <li>
                                        Online advertising and reach a larger audience.
                                    </li>
                                    <li>
                                        Highlight your work and showcase your unique selling qualities virtually.
                                    </li>
                                    <li>
                                        Build buzz and engage potential consumers directly via promotional events.                                    </li>
                                    <li>
                                        Encourage satisfied customers to refer friends and family by offering incentives.                                    </li>
                                    <li>
                                        Keep buyers informed about new projects, offers, and updates through Email Campaigns.                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-12 mt-5">
                <div class="row">
                    <div class="col-lg-6 text-left">
                        <div class="leftcontent">
                            <h3>Get Listed Your Property</h3>
                            <p>
                                Let us handle the complexities of sales, marketing, and property management, so you can focus on what you do best – building exceptional properties.
                            </p>
                                <button type="button" class="Bannerbtn1" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                I'm interested
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="rightcontentimg">
                            <img src="https://static.searchhomesindia.com/images/Business_sideimg.svg" alt="Inteior-svg-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="homedecor_footer d-flex align-items-center justify-content-center text-center">
        <h2>Showcase Your Properties to a Target Audience!</h2>
        <div class="homedecor_footer_line1"></div>
        <div class="homedecor_footer_line2"></div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Reach Out To Us</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div> 
                <div class="modal-body">
                    <form class="form" id="form" method="post" enctype="multipart/form-data" action="{% url 'builder_commission_view' %}">
                        {% csrf_token %}
                        <div class="form-input">
                            <label>Name</label>
                            <input type="text" class="input" name="name" required>
                        </div>
                        <div class="form-input">
                            <label>Phone Number</label>
                            <input type="number" class="input" name="phone_number" required>
                        </div>
                        <div class="form-input">
                            <label>Email</label>
                            <input type="email" class="input" name="email" required>
                        </div>
                        <div class="textarea">
                            <label>Is there anything else you would like to tell us?</label>
                            <textarea name="other_question"></textarea>
                        </div>
                        <button class="submit" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %} 