{% extends "base(Home).html" %}
{% load static %}
{% block head_block %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Real Estate Platform : Apply For Job And Grow With Us</title>
    <meta name="description" content="View Search Homes India career page 
    to grow your career in the real estate platform of Bangalore, 
    Chennai, Hyderabad. Check out the Job vacancies & Apply">
    <meta name="keywords" content="Job vacancy in bangalore,Career growth in real estate, 
    job vacancy in Chennai, real estate job in Chennai, job vacancy for fresher in Bangalore, 
    job opening in Bangalore and Chennai, digital marketing job in bangalore, search homes india career page">
    <link rel="stylesheet" href="https://static.searchhomesindia.com/css/career.css">
    <style>
      #header1 {top: 0px!important;}
    .careerimg{margin-top: 65px;}
    @media only screen and (max-width:768px){
        .carermiddle{
            padding: 30px 10px ;
        }
    }
    </style>
    {% endblock %}
    {%block body_block%}
    <div id="main1">
        <div class="careerimg">
            <img src="https://static.searchhomesindia.com/images/careerbanner.webp" loading="lazy" alt="">
        </div>

        <section class="carermiddle">
            <div class="headwrapps">
                <div class="jobheading">
                    <h1>Exciting Career Opportunities Await: <br> Apply Now</h1>
                </div>
                <div class="jobheadline1"></div>
                <div class="jobheadline2"></div>
            </div>
            <div class="container">
                <div class="row">

                    <div class="col-lg-6">

                        <div class="sales mt-5">
                            <div class="accorheading">
                                <h2> Sales Jobs </h2>
                            </div>
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                            aria-expanded="false" aria-controls="flush-collapseOne">
                                            City Head
                                        </button>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul>
                                                <li> Develop and execute city-wide real estate strategy to increase
                                                    company ROI.</li>
                                                <li> Conduct market analysis & identify growth opportunities.</li>
                                                <li> Lead and manage a high-performing team.</li>
                                                <li>Review team works & do best practice to improve the performance.
                                                </li>
                                                <li>Identify & capitalize on new business opportunities and
                                                    partnerships.</li>
                                                <li>Manage the financial aspects of real estate operations, meeting
                                                    targets.</li>
                                                <li style="text-align: center;"> <button onclick="openForm()"
                                                        class="applybtns popupbtn">Apply Now</button></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                            aria-expanded="false" aria-controls="flush-collapseTwo">
                                            Sales Manager
                                        </button>
                                    </h2>
                                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Lead and inspire a sales team to consistently surpass targets.</li>
                                                <li>Develop strategic plans for effective sales execution.</li>
                                                <li> Lead and manage a high-performing team.</li>
                                                <li>Analyze metrics to drive continuous performance improvement.</li>
                                                <li>Cultivate and maintain strong client relationships.</li>
                                                <li>Provide ongoing training for team development.</li>
                                                <li style="text-align: center;"><button onclick="openForm()"
                                                        class="applybtns popupbtn">Apply Now</button></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                            aria-expanded="false" aria-controls="flush-collapseThree">
                                            Team Lead
                                        </button>
                                    </h2>
                                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Develop and execute sales plans for growth.</li>
                                                <li>Assess team performance for target achievement.</li>
                                                <li>Network with regional representatives and executives.</li>
                                                <li>Analyze metrics to drive continuous performance improvement.</li>
                                                <li>Cultivate relationships with key customer.</li>
                                                <li>Monitor and improve team performance.</li>
                                                <li style="text-align: center;"><button onclick="openForm()"
                                                        class="applybtns popupbtn">Apply Now</button></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseFour"
                                            aria-expanded="false" aria-controls="flush-collapseFour">
                                            Sales Executive
                                        </button>
                                    </h2>
                                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul>
                                                <li> Generate leads and build client relationships.</li>
                                                <li>Conduct property presentations and negotiations.</li>
                                                <li> Close deals and ensure smooth transactions.</li>
                                                <li> Stay informed about local market trends.</li>
                                                <li style="text-align: center;"><button onclick="openForm()"
                                                        class="applybtns popupbtn">Apply Now</button></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseFive"
                                            aria-expanded="false" aria-controls="flush-collapseFive">
                                            Business Development Executive
                                        </button>
                                    </h2>
                                    <div id="flush-collapseFive" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Conduct market research and analysis.</li>
                                                <li>Generate leads and build a strong client base.</li>
                                                <li>Develop strategic partnerships within the real estate sector.</li>
                                                <li>Drive sales and revenue growth.</li>
                                                <li>Collaborate with internal teams for seamless execution.</li>
                                                <li>Provide regular reports and analysis.</li>
                                                <li style="text-align: center;"><button onclick="openForm()"
                                                        class="applybtns popupbtn">Apply Now</button></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="Marketing mt-5">
                            <div class="accorheading">
                                <h2> Marketing Jobs </h2>
                            </div>

                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6">
                                            Digital Marketing Manager
                                        </button>
                                    </h2>
                                    <div id="flush-collapse6" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Develop Digital Strategies for Brand and Leads.</li>
                                                <li>Lead & Manage a High-Performing Digital Marketing Team.</li>
                                                <li>Stay updated on industry trends and tech.</li>
                                                <li>Analyze & Report on KPIs, providing actionable insights.</li>
                                                <li>Efficiently Manage Digital Marketing Budgets.</li>
                                                <li style="text-align: center;"><button onclick="openForm()"
                                                        class="applybtns popupbtn">Apply Now</button></li>

                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse7"
                                            aria-expanded="false" aria-controls="flush-collapse7">
                                            Digital Marketing Executive
                                        </button>
                                    </h2>
                                    <div id="flush-collapse7" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Develop and Execute digital marketing strategies.</li>
                                                <li>Create engaging content for social media, websites, and emails.</li>
                                                <li>Manage Social media profiles and execute campaigns.</li>
                                                <li>Implement SEO Best Practices.</li>
                                                <li> Plan and Execute PPC, Email Marketing campaigns.</li>
                                                <li>Monitor and Analyze digital campaign performance.</li>
                                                <li style="text-align: center;"><button onclick="openForm()"
                                                        class="applybtns popupbtn">Apply Now</button></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse8"
                                            aria-expanded="false" aria-controls="flush-collapse8">
                                            Google Ads Specialist
                                        </button>
                                    </h2>
                                    <div id="flush-collapse8" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Create/Manage Impactful PPC campaigns.</li>
                                                <li>Optimize Budgets for maximum ROI.</li>
                                                <li>Analyze Data, Refine Keyword Strategies.</li>
                                                <li>Proven Real Estate SEO & SEM Experience.</li>
                                                <li>Proficient in Google Ads, Analytics, Tag Manager. </li>
                                                <li>Collaborate with cross-functional teams.</li>
                                                <li style="text-align: center;"><button onclick="openForm()"
                                                        class="applybtns popupbtn">Apply Now</button></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse9"
                                            aria-expanded="false" aria-controls="flush-collapse9">
                                            Social Media Specialist
                                        </button>
                                    </h2>
                                    <div id="flush-collapse9" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Develop and implement impactful social media strategies.</li>
                                                <li>Craft captivating content consistent with the brand.</li>
                                                <li>Manage & interact with followers on social media accounts, staying
                                                    on top of trends.</li>
                                                <li>Schedule posts and stay updated on platform changes.</li>
                                                <li>Create and Optimize campaigns for various projects.</li>
                                                <li>Generate quality leads for effective conversions.</li>
                                                <li style="text-align: center;"><button onclick="openForm()"
                                                        class="applybtns popupbtn">Apply Now</button></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse10"
                                            aria-expanded="false" aria-controls="flush-collapse10">
                                            SEO Specialist
                                        </button>
                                    </h2>
                                    <div id="flush-collapse10" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Conduct keyword research & analysis for SEO-friendly content
                                                    Creation.</li>
                                                <li>Optimize On & off page elements and website structure.</li>
                                                <li>Address technical SEO issues and improve site performance.</li>
                                                <li>Develop and execute link-building strategies.</li>
                                                <li>Monitor website performance using SEO tools.</li>
                                                <li>Stay updated on industry trends and algorithm changes.</li>
                                                <li style="text-align: center;"><button onclick="openForm()"
                                                        class="applybtns popupbtn">Apply Now</button></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6">

                        <div class="IT mt-5">
                            <div class="accorheading">
                                <h2> IT Jobs </h2>
                            </div>
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse11"
                                            aria-expanded="false" aria-controls="flush-collapse11">
                                            Full Stack Developer
                                        </button>
                                    </h2>
                                    <div id="flush-collapse11" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul>

                                                <li> Develop and maintain Server Site & Client Site .</li>
                                                <li> Create interactive UI using React, Angular, or Vue.</li>
                                                <li> Design server-side logic and APIs with Python, Java.</li>
                                                <li> Manage databases (SQL, MYSQL) for optimal performance.</li>
                                                <li> Integrate third-party APIs and collaborate with teams.</li>
                                                <li> Write tests, conduct testing, and document processes.</li>
                                                <li> Participate in code reviews for a collaborative approach.</li>
                                                <li> Must have Knowledge of waterfall and agile methods</li>
                                                <li style="text-align: center;"><button onclick="openForm()"
                                                        class="applybtns popupbtn">Apply Now</button></li>


                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse12"
                                            aria-expanded="false" aria-controls="flush-collapse12">
                                            Front End Developer
                                        </button>
                                    </h2>
                                    <div id="flush-collapse12" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Develop and maintain responsive web applications.</li>
                                                <li>Collaborate with designers for UI implementation.</li>
                                                <li>Ensure code quality, speed, and scalability.</li>
                                                <li>Integrate front-end with back-end logic.</li>
                                                <li>Conduct code reviews and troubleshoot issues.</li>
                                                <li>Stay updated on front-end technologies.</li>
                                                <li>Must have Knowledge of Html5,Css3,Js,Mysql and React</li>
                                                <li style="text-align: center;"><button onclick="openForm()"
                                                        class="applybtns popupbtn">Apply Now</button></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse13"
                                            aria-expanded="false" aria-controls="flush-collapse13">
                                            Back End Developer
                                        </button>
                                    </h2>
                                    <div id="flush-collapse13" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Design and implement server-side logic and databases.</li>
                                                <li>Develop and maintain APIs for seamless communication.</li>
                                                <li>Collaborate with cross-functional teams for software solutions.</li>
                                                <li>Write unit tests, conduct debugging, and resolve issues.</li>
                                                <li>Cultivate relationships with key customer.</li>
                                                <li>Monitor and improve team performance.</li>
                                                <li>Backend TechStack: Python,PHP,Django,Flask,Mysql</li>
                                                <li style="text-align: center;"><button onclick="openForm()"
                                                        class="applybtns popupbtn">Apply Now</button></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                        <div class="Others mt-5">
                            <div class="accorheading">
                                <h2> Admin Jobs </h2>
                            </div>

                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse14"
                                            aria-expanded="false" aria-controls="flush-collapse14">
                                            HR
                                        </button>
                                    </h2>
                                    <div id="flush-collapse14" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Administer HR Policies for Compliance.</li>
                                                <li>Manage Recruitment and Onboarding.</li>
                                                <li>Maintain accurate employee records and databases.</li>
                                                <li>Collaborate on staffing needs and workforce planning.</li>
                                                <li style="text-align: center;"><button onclick="openForm()"
                                                        class="applybtns popupbtn">Apply Now</button></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse15"
                                            aria-expanded="false" aria-controls="flush-collapse15">
                                            Tele Calling
                                        </button>
                                    </h2>
                                    <div id="flush-collapse15" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Make outbound calls to promote Products/Sevices.</li>
                                                <li>Identify and qualify leads, update CRM.</li>
                                                <li> Deliver effective sales pitches and handle inquiries.</li>
                                                <li>Build and maintain customer relationships.</li>
                                                <li>Cultivate and maintain strong client relationships.</li>
                                                <li>Achieve individual and team sales targets.</li>
                                                <li style="text-align: center;"><button onclick="openForm()"
                                                        class="applybtns popupbtn">Apply Now</button></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse16"
                                            aria-expanded="false" aria-controls="flush-collapse16">
                                            Accountant
                                        </button>
                                    </h2>
                                    <div id="flush-collapse16" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Manage general ledger and ensure accurate financial records.</li>
                                                <li>Handle accounts payable and receivable efficiently.</li>
                                                <li>Prepare monthly, quarterly, and annual financial statements.</li>
                                                <li>Assist in budgeting, forecasting, and variance analysis.</li>
                                                <li>Ensure compliance with accounting standards and support audits.</li>
                                                <li>Collaborate with other departments for financial data.</li>
                                                <li style="text-align: center;"><button onclick="openForm()"
                                                        class="applybtns popupbtn">Apply Now</button></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse17"
                                            aria-expanded="false" aria-controls="flush-collapse17">
                                            Business Analyst
                                        </button>
                                    </h2>
                                    <div id="flush-collapse17" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Analyze business data for decision-making.</li>
                                                <li>Gather project requirements and create process maps.</li>
                                                <li>Generate reports, dashboards, and actionable insights.</li>
                                                <li>Collaborate with cross-functional teams.</li>
                                                <li>Evaluate project risks and provide mitigation strategies.</li>
                                                <li>Maintain thorough documentation of processes and requirements.</li>
                                                <li style="text-align: center;"><button onclick="openForm()"
                                                        class="applybtns popupbtn">Apply Now</button></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse18"
                                            aria-expanded="false" aria-controls="flush-collapse18">
                                            Quality Analyst
                                        </button>
                                    </h2>
                                    <div id="flush-collapse18" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>CRM Mangement Oversee data integrity and accuracy.</li>
                                                <li>Evaluate, verify, and Analyse real estate leads.</li>
                                                <li>Collaborate With internal team to verify lead quality standards.
                                                </li>
                                                <li>Generate actionable reports & document assessments.</li>
                                                <li>Collaborate with internal teams for seamless execution.</li>
                                                <li>PEnhance Property Listings & Updated On Tool</li>
                                                <li style="text-align: center;"><button onclick="openForm()"
                                                        class="applybtns popupbtn">Apply Now</button></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </section>

        <section>
            <div class="col-md-4 careerform">
                <div class="crossbtns" onclick="closeForm()">x</div>
                <form class="contact-form" id="Contactform" method="POST" enctype="multipart/form-data" action="{% url 'carrierdata' %}">
                    {% csrf_token %}
                  <div class="form-group">
                      <label for="name">Full Name</label>
                      <input type="text" name="name" id="name" class="form-control" placeholder="Enter your name and surname" required="required">
                      <!-- Name valid or invalid checker div's -->
                      <!-- <div class="valid-feedback" id="namevalid">Looks good!</div>
                      <div class="invalid-feedback" id="nameinvalid">Please Enter a valid Name.</div> -->
                  </div>
                  <div class="form-group">
                      <label for="email" required="required">Email address</label>
                      <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter your email address" required="required">
                      <!-- <div class="valid-feedback" id="emailvalid">Looks good!</div>
                      <div class="invalid-feedback" id="emailinvalid">Please Enter a valid Email-Address.</div> -->
                  </div>
                  <div class="form-group">
                      <label for="phone" required="required">Mobile No.</label>
                      <input type="tel" id="phone" name="phone" class="keyword-input form-control" placeholder="Mobile No." required="required">
                      <!-- Contact valid or invalid checker div's -->
                      <!-- <div class="valid-feedback" id="phonevalid">Looks good!</div>
                      <div class="invalid-feedback" id="phoneinvalid">Please Enter a valid Contact Number.</div> -->
                  </div>
                  <div class="form-group">
                      <label for="vacancy">Department</label>
                      <select class="form-control selectpicker" data-live-search="true" id="vacancy" name="vacancy" required>
                          <option value="-1">Select Department</option>
                          <option value="Marketing">Marketing</option>
                          <option value="Sales">Sales</option>
                          <option value="IT/Information Technology">IT/Information Technology</option>
                      </select>
                      <!-- <div class="valid-feedback" id="vacancyvalid">Looks good!</div>
                      <div class="invalid-feedback" id="vacancyinvalid">Please choose right options.</div> -->
                  </div>
                  <div class="form-group">
                      <label for="position">Applying For Position</label>
                      <input type="text" name="position" class="form-control" id="position" placeholder="Enter Position.." required="required">
                      <!-- <div class="valid-feedback" id="positionvalid">Looks good!</div>
                      <div class="invalid-feedback" id="positioninvalid">Please Enter a valid Name.</div> -->
                  </div>
                  <div class="form-row">
                      <div class="form-group">
                          <label for="message">Message</label>
                          <textarea name="message" class="form-control" placeholder="Message" id="message" rows="2" required></textarea>
                          <!-- <div class="valid-feedback" id="messagevalid">Looks good!</div>
                          <div class="invalid-feedback" id="messageinvalid">Please Enter a valid Message.</div> -->
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="mr-4">Upload your CV:</label>
                      <input type="file" name="resume" id="resume" required="required">
                      <!-- <div class="valid-feedback" id="filevalid">Looks good!</div>
                      <div class="invalid-feedback" id="fileinvalid">Please Enter a valid Name.</div> -->
                  </div>
                  <!-- Success and failure alerts with IDs -->
                    <!-- <div class="alert alert-success alert-dismissible" role="alert" id="success">
                        <strong>Thank You for your response!</strong> Our team will get back to you soon.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert alert-danger alert-dismissible" role="alert" id="failure">
                        <strong>Something went wrong!</strong> Please fill the details properly.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div> -->

                    <!-- Adjusted submit button with type="button" -->
                    <button type="submit" class="careersub" id="submit" name="btn_submit">Submit</button>
              </form>
            </div>
        </section>

        <section class="careertop">
            <div class="container ">
                <div class="row borderss">
                    <div class="col-lg-6 d-flex p-2">
                        <div class="careleftimg">
                            <div class="imgcircle">
                                <img src="https://static.searchhomesindia.com/images/careersideimg1.webp" loading="lazy" alt="">
                            </div>
                        </div>
                        <div class="carerightimg">
                            <div class="imgcircle1">
                                <img src="https://static.searchhomesindia.com/images/careersideimg2.webp" loading="lazy" alt="">
                            </div>
                            <div class="imgcircle2 mt-4">
                                <img src="https://static.searchhomesindia.com/images/careersideimg3.webp" loading="lazy" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="careerheading">
                            <h1>Let's Grow Together: <br> Join Our Team!</h1>
                        </div>
                        <p style="text-align: justify;"><b> Welcome to Search Homes India </b>, a dynamic and thriving
                            real estate platform with a strong presence in three vibrant cities: Bangalore, Hyderabad,
                            and Chennai. We're Hiring across Ages for Exciting Career Opportunities –
                        <p style="text-align: center;"> <b> Your Next Chapter Awaits !</b> </p>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="accorheading">
                <h2 style="color:rgb(18,113,136); margin-top: 80px; margin-bottom: -50px;">Benefits For Choosing Us</h2>
            </div>

            <div class="container Benefits">

                <div class="row">
                    <div class="col-lg-4 mt-3">
                        <div class="box22">
                            <div class="box-text">
                                <p>Fast-Track Your Career in Just 3 Months! </p>
                            </div>
                        </div>
                    </div>

                    <div class=" col-lg-4 mt-3">
                        <div class="box22">

                            <div class="box-text">
                                <p>Competitive Salary, Provident Fund, and Incentive</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-4  mt-3">
                        <div class="box22">

                            <div class="box-text">
                                <p>Health Insurance: Safeguard your well-being </p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-4  mt-3">
                        <div class="box22">

                            <div class="box-text">
                                <p>Fuel Your Professional Growth with Development Opportunities! </p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-4  mt-3">
                        <div class="box22">

                            <div class="box-text">
                                <p> Immerse Yourself in a Collaborative, Innovative Work Environment! </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4   mt-3">
                        <div class="box22">

                            <div class="box-text">
                                <p>Rewards, Recognition, and Celebration Parties Await You!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="accorheading">
                <h2 style="color:rgb(18,113,136); margin-top: 80px; margin-bottom: -50px;">Event Celebration</h2>
            </div>
            <div class="container">
            <div class="swiper14 mySwiper16">
                <div class="swiper-wrapper">
                <div class="swiper-slide ss15">
                    <img src="https://static.searchhomesindia.com/images/c-1.webp" loading="lazy" />
                </div>
                <div class="swiper-slide ss15">
                    <img src="https://static.searchhomesindia.com/images/c-2.webp" loading="lazy"  />
                </div>
                <div class="swiper-slide ss15">
                    <img src="https://static.searchhomesindia.com/images/c-3.webp" loading="lazy"  />
                </div>
                <div class="swiper-slide ss15">
                    <img src="https://static.searchhomesindia.com/images/c-4.webp" loading="lazy" />
                </div>
                <div class="swiper-slide ss15">
                    <img src="https://static.searchhomesindia.com/images/c-5.webp" loading="lazy"  />
                </div>
                <div class="swiper-slide ss15">
                    <img src="https://static.searchhomesindia.com/images/c-6.webp" loading="lazy"  />
                </div>
                <div class="swiper-slide ss15">
                    <img src="https://static.searchhomesindia.com/images/c-7.webp" loading="lazy"  />
                </div>
                <div class="swiper-slide ss15">
                    <img src="https://static.searchhomesindia.com/images/c-8.webp" loading="lazy"  />
                </div>
                <div class="swiper-slide ss15">
                    <img src="https://static.searchhomesindia.com/images/c-9.webp" loading="lazy"  />
                </div>
                <div class="swiper-slide ss15">
                    <img src="https://static.searchhomesindia.com/images/c-10.webp" loading="lazy"  />
                </div>
                
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
            </div>
        </section>

    </div>
    <script src="https://static.searchhomesindia.com/js/swiper-bundle1.js"></script>
    <script src="https://static.searchhomesindia.com/js/career.js"></script>
    {% endblock %}