{%extends "base(Home).html"%}
{% load static %}

{% block head_block %}
<title>Compare Properties of Bangalore at Search Homes India</title>
<meta name="keyword" content="properties in bangalore, properties near me, apartment near me, houses to buy near me, best builders in
  bangalore, buy house in bangalore, best apartments in bangalore">
<meta name="description" content="Search Homes India Pvt Ltd enables you to compare the properties in Bangalore with the
  details you want before purchasing a property">
{% endblock %}

{%block body_block%}
<!-- custom css for get a call button -->
<style>
  @media screen and (max-width:768px) {
    .callus {
      right: -16% !important;
    }

    /* This css sets the compare container into center in mobile view */
    .mobile {
      left: 0 !important;
    }
  }
  /* Custom css for the buttons */
  .btn-new {
    padding: 10px 12px;
    text-transform: capitalize;
  }
  /* Custom css for the buttons */
  .btn-div {
    position: relative;
    left: 74%;
  }
  /* custom css for the results card */
  .card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }
  /* custom css for card body */
  .card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
  }
  /* custom css for card images */
  .card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
  }
  /* custom css for card title */
  .card-title {
    margin-bottom: .5rem;
  }
  /* custom css for card paragraphs */
  .card-text{
    margin-top: 0;
    margin-bottom: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  /* custom css for badges */
  .badge {
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    float: none !important;
  }
  /* custom css for badges text color */
  .text-dark {
    color: #ffffff!important;
  }
  /* custom css for badges background color */
  .bg-info {
    background-color: #161d6f!important;
  }
  /* custom css for buttons */
  .btn-primary {
    float: right;
    color: #062d79;
    background-color: #ffffff;
    border-color: #062d79;
  }
  /* custom css for buttons for their particular style */
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    color: #fff;
    background-color: #062d79;
    border-color: #062d79;
  }
  /* custom css for list items */
  .list-group-item {
    display: flex;
    justify-content: space-between;
  }
  /*custom css for styling the compare results*/
  .results{
    filter: drop-shadow(2px 2px 2px #161d6f);
  }


  /* Css for adding the ribbon into the results */
  .ribbon {
  /* This will set the position of the ribbon into the top right corner */
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  /* This css style will set the span tag at the correct position and rotate it to the correct dimension along with the correct graident color */
  font-size: 8px;
  font-weight: bold;
  color: #FFF;
  text-transform: capitalize;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#99BBCC 0%, #062D7B 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
/* This is used to add the corner into the ribbon ends like this < */
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #062D7B;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #062D7B;
}
/* This is used to add the corner into the ribbon ends like this > */
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #062D7B;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #062D7B;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-5-24 12:50:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-top for showing the results in a decorative way
 * ----------------------------------------
 */
.fade-in-top {
	-webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
</style>
<!-- custom css for get a call button -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<!--===== PAGE TITLE =====-->
<div class="page-title page-main-section parallaxie" style="background-image: url(../static/images/citylarge.gif);">
  <div class="container padding-bottom-top-120 text-uppercase text-center">
    <div class="main-title">
      <h1>Compare Your Properties At</h1>
      <h5>SearchHomesIndia</h5>
      <div class="line_4"></div>
      <div class="line_5"></div>
      <div class="line_6"></div>
      <a href="/" title="Home">home</a><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
    </div>

  </div>
</div>

<!--===== #/PAGE TITLE =====-->
<!-- whatsApp and WeareHiring button -->
<a target="_blank" class="back-to1" style="display: block;top: 93%;left: 2%;" title="WhatsApp"
      href="http://api.whatsapp.com/send?phone=918147267372&amp;text=I%20am%20looking%20property%20in%20bangalore">
      <img loading=lazy src="{% static 'images/wp.png' %}" alt="WhatsApp"
        style="width: 150%;float: left;margin-left: -5px;margin-top: -100px;" class="my-floatHiring" /></a>
    <a href="/career/" class="back-to1" style="display: block;" title="career">
      <img loading=lazy src="{% static 'images/weare.png' %}" alt="wearehiring"
        style="width: 115px;float: right;margin-right: -22px;margin-top: -40px;" class="my-floatHiring"
        data-src="https://mk0homznspaceco9ygoq.kinstacdn.com/wp-content/uploads/2019/06/Were-Hiring-Button-HNS-B.png"
        loading="lazy"></a>
<!-- Call us button -->
<!-- <a href="#." class="back-to"><i class="icon-arrow-up2"></i></a> -->
<a href="#." title="sitevisitmodal" class="short-topup back-to1 callus" data-toggle="modal" data-target="#SiteVisitModal"
  style="background: #4ce84c;width: 146px;height: 31px;padding: 2px 3px;transform: rotate(90deg);top: 60%;right: -4.5%;box-sizing: border-box;position: fixed;float: right; display:block; color: white;">
  <p style="font-family: 'FontAwesome';font-size: 20px;">
    Get a Call Back
  </p>
</a>
<!-- Call us button -->

<div class="row" style="background-color: aliceblue;padding: 2em;">
  <div class="col-sm-10 mobile" style="top: 0; left: 14%;">
    <div class="col-md-10 search_2">
      <center>
        <h2>Compare Properties and get the best offer.</h2>
      </center>
      <br>
      <div class="row">

        <div class="col-md-6 col-sm-6">
          <div class="single-query">
            <form>
            <input type="text" class="keyword-input" id="text1" name="query" placeholder="Enter property name.."
              list="properties">

            <datalist id="properties">
              {% for details in property_details %}
              <option value="{{details.PropertyName}}"></option>
              {% endfor %}
            </datalist>
            
            <div class="query-submit-button form-group btn-div">
              <br>
              <button id="button1" type="submit" class="btn_fill btn-new">Get Details</button>
            </div>
          </form>

            <div>

              <div class="results" id="ajaxdetails1">

              </div>
            </div>
          </div>
        </div>


      <div class="col-md-6 col-sm-6">
        <div class="single-query">
          <form>
          <input type="text" class="keyword-input" id="text3" name="query" placeholder="Enter property name.."
            list="properties">
          <datalist id="properties">
            {% for details in property_details %}
            <option value="{{details.PropertyName}}"></option>
            {% endfor %}
          </datalist>
          <div class="query-submit-button form-group btn-div">
            <br>
            <button id="button3" type="submit" class="btn_fill btn-new">Get Details</button>
          </div>
        </form>

          <div>

            <div class="results" id="ajaxdetails3">

            </div>
          </div>


        </div>
      </div>





    </div>
    <!-- </form> -->
  </div>
</div>
<!-- </div>
    
      </div> -->
</div>
<!-- #/BANNER -->
<!-- Contact Modal for TRENDING and Upcoming Projects -->
<div class="modal fade" id="SiteVisitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background: #062d7b;color: white;font-weight: 800;text-align: center;">
        <a data-dismiss="modal" class="pull-right" style="font-size: 33px;line-height: 21px;" aria-label="Close"><span
            aria-hidden="true" title="closebutton">&times;</span></a>
        <h4 class="modal-title" id="myModalLabel" style="color:#fff">Contact Us</h4>
      </div>
      <div class="modal-body" style="padding-bottom: 0px;">
        <form class="contact-form" id="Contactform">
          {% csrf_token %}
          <div class="row" style="margin-right: 0;
          margin-left: 0;padding-top: 10px;">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <!-- <input type="hidden" name="Propdetail" id="Propdetail4" value="{{ Prop_Data.PropertyName }}"> -->
              <div class="form-group">
                <input type="text" id="name" name="name" class="form-control" placeholder="Your Name" required>
              </div>

              <!-- Name valid or invalid checker div's -->
              <div class="valid-feedback" id="namevalid">
                Looks good!
              </div>
              <div class="invalid-feedback" id="nameinvalid">
                Please Enter a valid Name.
              </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="form-group">
                <input type="email" id="email" name="email" class="form-control" value="@gmail.com"
                  placeholder="Your E-mail" required>
              </div>

              <!-- Email validation alert boxes. -->
              <div class="valid-feedback" id="emailvalid">
                Looks good!
              </div>
              <div class="invalid-feedback" id="emailinvalid">
                Please Enter a valid Email-Address.
              </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="form-group">
                <input type="tel" id="phone" name="Number" class="form-control" placeholder="Your Phone Number"
                  maxlength="10" onkeypress="return /[0-9]/i.test(event.key)" required>
              </div>
              <!-- Contact valid or invalid checker div's -->
              <div class="valid-feedback" id="phonevalid">
                Looks good!
              </div>
              <div class="invalid-feedback" id="phoneinvalid">
                Please Enter a valid Contact Number.
              </div>
            </div>

          </div>

          <div class="row" style="margin-right: 0;
          margin-left: 0;">
            <div class="col-md-12">
              <div class="form-group">
                <textarea class="form-control" style="resize: none;" name="message" placeholder="Message" id="message"
                  required>
                </textarea>
              </div>
            </div>
            <!-- Message valid or invalid checker div's -->
            <div class="valid-feedback" id="messagevalid">
              Looks good!
            </div>
            <div class="invalid-feedback" id="messageinvalid">
              Please Enter a valid Message.
            </div>
          </div>

          <div class="row" style="margin-right: 0;
          margin-left: 0;">
            <!-- Alert blocks to show the alerts regarding the submission of the form -->
            <!-- success alert block -->
            <div class="alert alert-success alert-dismissible" role="alert" id="success">
              <strong>ThankYou for your response!</strong> Our team will get back to you soon.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <!-- failure alert block -->
            <div class="alert alert-danger alert-dismissible" role="alert" id="failure">
              <strong>Something went wrong!</strong> Please fill the details properly.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="col-md-12 top20">
              <div class="form-group">
                <button type=" submit" class="btn_fill" id="submit" name="btn_submit">
                  Submit</button>
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer" style="background: #062d7b;color: white;font-weight: 800;">
      </div>
    </div>
  </div>
</div>
<!-- popmodal ends here -->

<script src="{% static 'js/contactCheck.min.js' %}"></script>



<!-- This is for calling of the Ajax call and doing of Compare from the backend  and fetching of the data and sending into frontend. -->
<script>

  let html; //this variable is an empty html for appending the details.
  $(document).ready(function () {

    let val1;  //this variable is of storing of the input value 
    let container; //this container variable is of output div value 

    $('button').click(function (e) {
      e.preventDefault();
      if (this.id == 'button1') {  // comparison of the  button1 with the clicked id.
        val1 = $('#text1').val();  //this is to get the text1 value  
        container = document.getElementById('ajaxdetails1'); //this is to get the ajaxdetails1 id and store in container
      }


      else if (this.id == 'button3') {  // comparison of the  button3 with the clicked id.
        val1 = $('#text3').val();   //this is to get the text3 value 
        container = document.getElementById('ajaxdetails3'); //this is to get the ajaxdetails3 id and store in container
      };


      $.ajax({
        url: '/compare_property/',  //this is to send the compare_property url in backend 
        data: { val1: val1 },   //by sending the val1 to it
        dataType: 'json',   //datatype will be of json type 
        success: function (data) {    // success function 
          if (data != 0) {          //comparison for data not equal to 0
            $.each(data, function (key, value) {
              // appending the retreive value in the html attribute  
              html = `
              <div class='fade-in-top'>
                <div class="ribbon"><span>Contact For Offers!</span></div>
                <div class='card'>
                  <a href="/viewproperty/${value.slug}" title="${value.slug}"><img src="${value.Property_Image}" class="card-img-top mx-2"  alt="${value.slug}" height=100% width=100% style="height:200px;"></img></a>
                  <div class="card-body">
                    <a href="/viewproperty/${value.slug}" title="${value.slug}"><h3 class="card-title">${value.PropertyName}</h3></a>
                    <p class="card-text">${value.Property_Description}</p>
                    
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><span class="badge bg-info text-dark">Location:</span>  ${value.Location}</li>
                      <li class="list-group-item"><span class="badge bg-info text-dark">Status:</span>  ${value.PropertyStatus}</li>
                      <li class="list-group-item"><span class="badge bg-info text-dark">Price:</span>  ${value.Property_Price}</li>
                      <li class="list-group-item"><span class="badge bg-info text-dark">BHK:</span>  ${value.BHK}</li>
                      <li class="list-group-item"><span class="badge bg-info text-dark">ProjectArea:</span>  ${value.Project_Area}</li>
                      <li class="list-group-item"><span class="badge bg-info text-dark">PerSqftPrice:</span>  ${value.PerSqftPrice}</li>
                    </ul>
                    <a href="/viewproperty/${value.slug}" title="${value.slug}" class="btn btn-primary">Check the property</a>
                  </div> 
                 </div> 
                  </div> 
                </div>
              </div>`;
            });
            container.innerHTML = html;    //sending to the container 
          }
          else {
            //else for the wrong input. 
            html = `<h4 style="color:red"> Please Enter the Valid Property Name</h4>`;
            container.innerHTML = html;  //appending the html to container 
          }

        },
        //else for the failure of the result 
        error: function (errorThrown) {

        }
      });

    });

  });

</script>





{% endblock %}