{%extends "base(Home).html"%}
{% load static %}
{% block head_block %}
<link rel="stylesheet" href="https://static.searchhomesindia.com/css/thankyou.css">
<title>Delete Property</title>
<style>
   #header1 {top: 0px!important;}
    .insidecontain{margin-top: 95px;}
</style>
{% endblock %}
{%block body_block%}

<div class="main">
  <div class="vh-100 d-flex justify-content-center align-items-center">
      <div class="col-md-8">
          <div class="border border-3 border-success"></div>
          <div class="card  bg-white shadow p-5">
              <div class="mb-4 text-center">
                  <img src="https://static.searchhomesindia.com/images/question-mark.gif" alt="">
              </div>
              <div class="text-center">
                  <h1>Are you sure !</h1>
                  {% if property.project_society_name %}
                    <p><b><u>{{ property.project_society_name }}</u></b></p>
                  {% elif property.r_property_name %}
                    <p><b><u>{{ property.r_property_name }}</u></b></p>
                  {% elif property.pg_property_name %}
                    <p><b><u>{{ property.pg_property_name }}</u></b></p>
                  {% else %}
                    <p>Sorry No Property Name Found</p>
                  {% endif %}
                  <p>You want to delete this property ?</p>
                  {% if property %}
                  <form method="post" action="{% url 'confirm_delete' property.slug %}">
                    {% csrf_token %}
                    <!-- <input type="submit" value="Confirm Delete"> -->
                    <button type="submit" class="btn btn-outline-success">Confirm</button></a>
                    <a href="{% url 'dashboard' %}"> <button type="submit" class="btn btn-outline-success">Back Home</button></a>
                </form>
                 {% else %}
                    <p>The property you are trying to delete does not exist or has already been deleted.</p>
                    <a href="{% url 'dashboard' %}">Back to Dashboard</a>
                 {% endif %}
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}