{%extends "base(Home).html"%}
{% load static %}
{% block head_block %}
<title>Ask Your Questions to Property Dealers in Bangalore</title>
<meta name="keyword"
  content="property dealers in bangalore, luxury apartments in bangalore for sale, best apartments in bangalore, individual house for sale in bangalore, real estate consultant in bangalore">
<meta name="description"
  content="Ask your questions to property dealer in Bangalore for more information regarding purchasing your dream home or apartments at your convenient">
<link rel="stylesheet" href="{% static 'css/faqfile.css' %}">
<style>
  #header1 {top: 0px!important;}
    .main{margin-top: 73px;}
</style>
{% endblock %}
{%block body_block%}

<main class="main">
  <section class="card">
    <div class="card__img">
      <img class="card__img-mobile" src="{% static 'images/illustration-woman-online-mobile.svg' %}" alt="Woman online Mobile" />
    </div>

    <div class="col-lg-7 mx-auto">
      <div class="card__text">
        <h1 style="text-align: center;">Frequently Asked Question And <br> Answer</h1>

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Why should I choose Search Homes India?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>We are the country's leading property management company and we offer a number of
                  services to cater for your needs whether it be finding a rental home, buying or selling off
                  you property. Our service is tailored to meet your needs and will not leave you
                  disappointed.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What kind of properties are listed on your website?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>We offer a wide variety of apartments, plots and villas that are either for sale or to rent.
                  We have property in many different areas around Bangalore, Chennai and in many
                  more places.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Why should I buy instead of rent?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
               
                <p>Renting is a huge headache. When renting, you only have a rental contract that expires
                  after 1 or 2 years. Second, it will be difficult to move because you are still in debt with
                  house prices. <br><br>Besides there are a lot of financial benefits for buying homes. Property value increases
                  over time to time as it is an investment and provides you with the double benefit of
                  having property that is yours and renting out the house which generates some extra
                  monthly income for you. There is an exemption to Income Tax on the annual gain from
                  selling a house, so this is a major factor for those who are looking at starting a business.</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                    aria-expanded="false" aria-controls="collapseFour">
                    Who should I contact in case I face any issues?
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>All our professionals will be available to assist you 24x7 in case of any issues. You can
                    call us or chat with us on our website to get assistance immediately without any
                    hassles.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                  aria-expanded="false" aria-controls="collapseFive">
                  what is your main purposes?
              </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Our main purpose is to make the process of buying or selling property as easy, efficient
                  and transparent as possible.</p>
              </div>
          </div>
      </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              How can I book a property through Search Homes India?
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>If you are interested in property and want to book it, please give us a call or send in a
                query via the contact form or send us enquiry through social media pages. Our team will
                get back to you within 24 hours to discuss your preferences in detail with you.
              </p>
            </div>
          </div>
        </div>
      
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              Do you offer home loan services?
            </button>
          </h2>
          <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>We do provide loan assistance if required.</p>
            </div>
          </div>
        </div>
      
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              How soon would I receive a call from you after placing my requirement?
            </button>
          </h2>
          <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Our team will reach you within 10-15 minutes at working hours to discuss your
                preferences in detail with you.</p>
            </div>
          </div>
        </div>
      
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              What documents would I need at the time of possession?
            </button>
          </h2>
          <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              
              <p>1. Original copies of the chain of title agreements and Building Plan approvals <br>
                2. Original registration and stamp duty receipts <br>
                3. Possession Letter <br>
                4. Original share certificate (In case of societies) <br>
                5. Proof of payment of all dues like maintenance charges, electricity bills, phone, water and
                property taxes up to the date of handing possession <br>
                6. NOC from the Society or other concerned body confirming no objection to the transfer</p>
              
            </div>
          </div>
        </div>
      
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
              How could I verify that the documents shown to me by the seller are genuine?
            </button>
          </h2>
          <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
           
              <p>1. Projects approvals can be verified from the corporation or the sanctioning authority's office.
                <br>
                2. Ownership documents can be confirmed from the Sub Registrar's office where they are registered.
                <br>
                3. Share certificate related to societies can be verified from the concerned Society itself.</p>
            </div>
          </div>
        </div>
      
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
              What documents do I need to check if I am buying a resale property?
            </button>
          </h2>
          <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Clear and marketable Title, Sale Deed, Encumbrance Certificate, latest tax receipts, Occupancy
                Certificate,
                Building Plan Approvals and Possession Certificate.</p>
            </div>
          </div>
        </div>
      
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
              What documents should I check before buying a new property?
            </button>
          </h2>
          <div id="collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>1. Sale Deed <br>
                2. Title Deed <br>
                3. Approved Building plans <br>
                4. Completion Certificate ( Newly Constructed) <br>
                5. Commencement Certificate( Under-construction property) <br>
                6. Conversion Certificate( If agricultural land is covered to non-agricultural) <br>
                7. Khata Certificate (especially in Bangalore) <br>
                8. Encumbrance Certificate <br>
                9. Latest Tax Receipts <br>
                10. Occupancy Certificate</p>
            </div>
          </div>
        </div>
      
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
              How much commission do you charge for a builder's property sale?
            </button>
          </h2>
          <div id="collapseThirteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Fees are negotiable. Though, remember the saying “you get what you pay for” is very true when it
                comes to real estate.</p>
            </div>
          </div>
        </div>
      
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
              Do you act as a buyer's agent?
            </button>
          </h2>
          <div id="collapseFourteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>No, we will help you to buy a property that we have for sale and answer all of your questions
                openly and transparently.</p>
            </div>
          </div>
        </div>
      
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
              Why should we refer people to you?

            </button>
          </h2>
          <div id="collapseFifteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              
              <p>First of all, we want you to only introduce us to the people that you care because we believe the
                people you really care about deserve to get the best advice possible.</p>

            </div>
          </div>
        </div>
      
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
              What is your main purpose?
            </button>
          </h2>
          <div id="collapseSixteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              
              <p>It's important that you know our purpose for you to be so outrageously happy with the help we
                provide that you'll gladly introduce us to 2 people you really care for.</p>
            </div>
          </div>
        </div>
      
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
              At what stage of my search I will be contacting you for help?
            </button>
          </h2>
          <div id="collapseSeventeen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>I would like to hear from you as soon as you know you want to buy a home.</p>

            </div>
          </div>
        </div>
      
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
              I have a very busy schedule, how available and flexible will you be for me ?
            </button>
          </h2>
          <div id="collapseEighteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>We often have more than one buyer client at a time and most everyone wants to look on evenings
                and weekends. So we will schedule you a proper timings for your comfortable zone.</p>
            </div>
          </div>
        </div>
      
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
              What's something buyers care too much about?
            </button>
          </h2>
          <div id="collapseNineteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>All buyer's are waiting for their beautiful and perfect dream house to pop up on their screen.
              </p>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}