{%extends "base(Home).html"%}
{% load static %}
{% block head_block %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Affordable Home Loan Services at Search Homes India</title>
    <meta name="title" content="Explore Affordable Home Loan Services at Search Homes India">
    <meta name="description" content="Our dedicated team provides complete assistance to help you secure the ideal home loan at favorable terms. Start your journey with Search Homes India!">
    <meta name="keywords" content="home loan, mortgage, real estate loan, property loan, home financing">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://static.searchhomesindia.com/css/shiservices.css">
    <style>
        #header1 {top: 0px!important;}
        #home_decore_main{margin-top: 65px;}
    </style>
{% endblock %}
{%block body_block%}
    <main id="home_decore_main">
        <div class="homebanner">
            <img src="https://static.searchhomesindia.com/images/homeloan_lap.jpg" alt="HomeDecor_LaptopImg" id="HomeDecor_LaptopImg">
            <img src="https://static.searchhomesindia.com/images/homeloan_mob.png" alt="HomeDecor_MobileImg" id="HomeDecor_MobileImg">
            <button type="button" class="Bannerbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">I'm
                interested</button>
        </div>
        <div class="container">
            <div class="row">

                <div class="col-lg-12 mt-3">
                    <div class="topline">
                        <h1>
                            Welcome to Your Dream Home Journey
                        </h1>
                        <h6>
                            At Search Homes India, we believe that everyone deserves a place to call home. Our home loan
                            solutions are designed to make your dream of owning a home a reality. With competitive
                            rates, flexible terms, and personalized service, we're here to help you every step of the
                            way.
                        </h6>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="benefitbox">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="leftpara">
                                    <h5>Why Choose Our Home Loans?</h5>
                                    <ul>
                                        <li>
                                            Competitive Rates
                                        </li>
                                        <li>
                                            Flexible Terms
                                        </li>
                                        <li>
                                            Expert Guidance
                                        </li>
                                        <li>
                                            Easy Application Process
                                        </li>
                                        <li>
                                            Quick Approvals
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="rightpara">
                                    <h5>Home Loan Features</h5>
                                    <ul>
                                        <li>
                                            Fixed and Adjustable Rates
                                        </li>
                                        <li>
                                            Low Down Payment Options
                                        </li>
                                        <li>
                                            First-Time Homebuyer Programs
                                        </li>
                                        <li>
                                            Refinancing Option
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 mt-5">
                    <div class="stephead">
                        <h2>
                            Your Trusted Partner with Easy Home Loans
                        </h2>
                    </div>

                    <div class="banking_partners_section">
                        <div class="row">
                            <div class="col-lg-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <div class="Diffbankbox">
                                    <div class="Diffbankleft">
                                        <img src="https://static.searchhomesindia.com/images/sbi.svg" alt="SBI Regular Home Loan">
                                    </div>
                                    <div class="Diffbanright">
                                        <div class="Diffbanrighthead">
                                            <p class="nb__3crRf">SBI Regular Home Loan </p>
                                        </div>
                                        <div class="Diffbanrightmid">
                                            <p class="nb__3y-Ya">Interest rate : </p>
                                            <p class="nb__3LOsG"> 8.5% onwards</p>
                                        </div>
                                        <div class="Diffbanrightbtm">
                                            <p class="nb__3y-Ya">Max tenure : </p>
                                            <p class="nb__3LOsG"> 30 years</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <div class="Diffbankbox">
                                    <div class="Diffbankleft">
                                        <img src="https://static.searchhomesindia.com/images/hdfc.svg" alt="HDFC Regular Home Loan">
                                    </div>
                                    <div class="Diffbanright">
                                        <div class="Diffbanrighthead">
                                            <p class="nb__3crRf">HDFC Regular Home Loan</p>
                                        </div>
                                        <div class="Diffbanrightmid">
                                            <p class="nb__3y-Ya">Interest rate : </p>
                                            <p class="nb__3LOsG"> 8.7% onwards</p>
                                        </div>
                                        <div class="Diffbanrightbtm">
                                            <p class="nb__3y-Ya">Max tenure : </p>
                                            <p class="nb__3LOsG"> 30 years</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <div class="Diffbankbox">
                                    <div class="Diffbankleft">
                                        <img src="https://static.searchhomesindia.com/images/bom.png" alt="Bank of Maharastra" style="width: 75px;">
                                    </div>
                                    <div class="Diffbanright">
                                        <div class="Diffbanrighthead">
                                            <p class="nb__3crRf">Bank of Maharastra</p>
                                        </div>
                                        <div class="Diffbanrightmid">
                                            <p class="nb__3y-Ya">Interest rate : </p>
                                            <p class="nb__3LOsG"> 8.7% onwards</p>
                                        </div>
                                        <div class="Diffbanrightbtm">
                                            <p class="nb__3y-Ya">Max tenure : </p>
                                            <p class="nb__3LOsG"> 30 years</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <div class="Diffbankbox">
                                    <div class="Diffbankleft">
                                        <img src="https://static.searchhomesindia.com/images/icici.svg" alt="ICICI Regular Home Loan">
                                    </div>
                                    <div class="Diffbanright">
                                        <div class="Diffbanrighthead">
                                            <p class="nb__3crRf">ICICI Regular Home Loan</p>
                                        </div>
                                        <div class="Diffbanrightmid">
                                            <p class="nb__3y-Ya">Interest rate : </p>
                                            <p class="nb__3LOsG"> 8.65% onwards</p>
                                        </div>
                                        <div class="Diffbanrightbtm">
                                            <p class="nb__3y-Ya">Max tenure : </p>
                                            <p class="nb__3LOsG"> 30 years</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <div class="Diffbankbox">
                                    <div class="Diffbankleft">
                                        <img src="https://static.searchhomesindia.com/images/bob.svg" alt="Bank of Baroda Regular">
                                    </div>
                                    <div class="Diffbanright">
                                        <div class="Diffbanrighthead">
                                            <p class="nb__3crRf">Bank of Baroda Regular</p>
                                        </div>
                                        <div class="Diffbanrightmid">
                                            <p class="nb__3y-Ya">Interest rate : </p>
                                            <p class="nb__3LOsG"> 8.45% onwards</p>
                                        </div>
                                        <div class="Diffbanrightbtm">
                                            <p class="nb__3y-Ya">Max tenure : </p>
                                            <p class="nb__3LOsG"> 30 years</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <div class="Diffbankbox">
                                    <div class="Diffbankleft">
                                        <img src="https://static.searchhomesindia.com/images/axis.svg" alt="Axis Regular Home Loan">
                                    </div>
                                    <div class="Diffbanright">
                                        <div class="Diffbanrighthead">
                                            <p class="nb__3crRf">Axis Regular Home Loan</p>
                                        </div>
                                        <div class="Diffbanrightmid">
                                            <p class="nb__3y-Ya">Interest rate : </p>
                                            <p class="nb__3LOsG"> 8.65% onwards</p>
                                        </div>
                                        <div class="Diffbanrightbtm">
                                            <p class="nb__3y-Ya">Max tenure : </p>
                                            <p class="nb__3LOsG"> 30 years</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <div class="Diffbankbox">
                                    <div class="Diffbankleft">
                                        <img src="https://static.searchhomesindia.com/images/bajaj.svg" alt="Bajaj Regular Home Loan">
                                    </div>
                                    <div class="Diffbanright">
                                        <div class="Diffbanrighthead">
                                            <p class="nb__3crRf">Bajaj Regular Home Loan</p>
                                        </div>
                                        <div class="Diffbanrightmid">
                                            <p class="nb__3y-Ya">Interest rate : </p>
                                            <p class="nb__3LOsG"> 8.45% onwards</p>
                                        </div>
                                        <div class="Diffbanrightbtm">
                                            <p class="nb__3y-Ya">Max tenure : </p>
                                            <p class="nb__3LOsG"> 30 years</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <div class="Diffbankbox">
                                    <div class="Diffbankleft">
                                        <img src="https://static.searchhomesindia.com/images/kotak.svg" alt="Kotak Home Loan">
                                    </div>
                                    <div class="Diffbanright">
                                        <div class="Diffbanrighthead">
                                            <p class="nb__3crRf">Kotak Home Loan</p>
                                        </div>
                                        <div class="Diffbanrightmid">
                                            <p class="nb__3y-Ya">Interest rate : </p>
                                            <p class="nb__3LOsG"> 8.75% onwards</p>
                                        </div>
                                        <div class="Diffbanrightbtm">
                                            <p class="nb__3y-Ya">Max tenure : </p>
                                            <p class="nb__3LOsG"> 25 years</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <div class="Diffbankbox">
                                    <div class="Diffbankleft">
                                        <img src="https://static.searchhomesindia.com/images/godrej_logo.svg" alt="Godrej Finance Regular">
                                    </div>
                                    <div class="Diffbanright">
                                        <div class="Diffbanrighthead">
                                            <p class="nb__3crRf">Godrej Finance Regular</p>
                                        </div>
                                        <div class="Diffbanrightmid">
                                            <p class="nb__3y-Ya">Interest rate : </p>
                                            <p class="nb__3LOsG"> 8.64% onwards</p>
                                        </div>
                                        <div class="Diffbanrightbtm">
                                            <p class="nb__3y-Ya">Max tenure : </p>
                                            <p class="nb__3LOsG"> 30 years</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 mt-5">
                    <button type="button" class="Bannerbtn1 " data-bs-toggle="modal"
                    data-bs-target="#exampleModal" style="margin-left: 20%; width: 60%;">Reach Us For Easy Home Loans</button>
                </div>

                <div class="col-lg-12 mt-5">

                    <div class="stephead">
                        <h2>
                            How to Get Started
                        </h2>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="homeloansteps">
                                <div class="homeloanstepleft">
                                    <img src="https://static.searchhomesindia.com/images/step-1.svg" alt="step-1">
                                </div>
                                <div class="homeloanstepright">
                                    <p>Explore Your Options</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="homeloansteps">
                                <div class="homeloanstepleft">
                                    <img src="https://static.searchhomesindia.com/images/step-2.svg" alt="step-2">
                                </div>
                                <div class="homeloanstepright">
                                    <p>Get Pre-Qualified</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="homeloansteps">
                                <div class="homeloanstepleft">
                                    <img src="https://static.searchhomesindia.com/images/step-3.svg" alt="step-3">
                                </div>
                                <div class="homeloanstepright">
                                    <p>Apply Online</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="homeloansteps">
                                <div class="homeloanstepleft">
                                    <img src="https://static.searchhomesindia.com/images/step-4.svg" alt="step-4">
                                </div>
                                <div class="homeloanstepright">
                                    <p>Close on Your Loan</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 mt-5">
                    <div class="row">
                        <div class="col-lg-6 text-left">
                            <div class="leftcontent">
                                <h3>Ready to Make Your Move?</h3>
                                <p>Take the first step toward owning your dream home. Contact us today to speak with a
                                    home loan specialist or start your application online.</p>
                                <button type="button" class="Bannerbtn1" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">I'm interested</button>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="rightcontentimg">
                                <img src="https://static.searchhomesindia.com/images/homeloan_sideimg.svg" alt="homeloan_sideimg">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="homedecor_footer d-flex align-items-center justify-content-center">
            <h2>Turning Your Homeownership Dreams into Reality</h2>
            <div class="homedecor_footer_line1"></div>
            <div class="homedecor_footer_line2"></div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Reach Out To Us</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="form" id="form" method="post" enctype="multipart/form-data" action="{% url 'home_loan_view' %}">
                            {% csrf_token %}
                            <div class="form-input">
                                <label>Name</label>
                                <input type="text" class="input" name="name" required>
                            </div>
                            <div class="form-input">
                                <label>Phone Number</label>
                                <input type="number" class="input" name="phone_number" required>
                            </div>
                            <div class="form-input">
                                <label>Email</label>
                                <input type="email" class="input" name="email" required>
                            </div>
                            <div class="form-input">
                                <label>Age</label>
                                <input type="number" class="input" name="age" required>
                            </div>
                            <div class="form-input">
                                <label>Gender</label>
                                <select name="gender" class="input" required>
                                    <option value=""></option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                            <div class="form-input">
                                <label>Enter your loan details</label>
                                <select name="loan_details" class="input" required>
                                    <option value=""></option>
                                    <option value="Upto 15 lac">Upto 15 lac</option>
                                    <option value="15-25 lac">15-25 lac</option>
                                    <option value="25-40 lac">25-40 lac</option>
                                    <option value="40-60 lac">40-60 lac</option>
                                    <option value="60-75 lac">60-75 lac</option>
                                    <option value="75 lacs+">75 lacs+</option>
                                </select>
                            </div>
                            <div class="form-input">
                                <label>City</label>
                                <select name="city" class="input" required>
                                    <option value=""></option>
                                    <option value="Bengaluru">Bengaluru</option>
                                    <option value="Chennai">Chennai</option>
                                    <option value="Hyderabad">Hyderabad</option>
                                    <option value="Delhi">Delhi</option>
                                    <option value="Pune">Pune</option>
                                </select>
                            </div>
                            <div class="form-input">
                                <label>Pincode</label>
                                <input type="number" class="input" name="pincode" required>
                            </div>
                            <div class="form-input">
                                <label>Property Identified</label>
                                <select name="property_identified" class="input" required>
                                    <option value=""></option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="form-input">
                                <label>Profession Type</label>
                                <select name="profession_type" class="input" required>
                                    <option value=""></option>
                                    <option value="Salaried">Salaried</option>
                                    <option value="Self - Employed">Self - Employed</option>
                                    <option value="Retired">Retired</option>
                                    <option value="Home maker">Home maker</option>
                                </select>
                            </div>
                            <div class="form-input">
                                <label>Monthly Income</label>
                                <select name="monthly_income" class="input" required>
                                    <option value=""></option>
                                    <option value="10k - 20k">10k - 20k</option>
                                    <option value="20k - 40k">20k - 40k</option>
                                    <option value="40k - 60k">40k - 60k</option>
                                    <option value="60k - 1lac">60k - 1lac</option>
                                    <option value="1lac - 2lac">1lac - 2lac</option>
                                    <option value="2lac - 4lac">2lac - 4lac</option>
                                    <option value="4lac+">4lac+</option>
                                </select>
                            </div>
                            <div class="form-input">
                                <label>Any Existing EMI</label>
                                <input type="text" class="input" name="any_existing_emi" required>
                            </div>
                            <div class="form-input">
                                <label>Select Bank</label>
                                <select name="bank_name" class="input" required onchange="showOtherInput()" id="selectBank">
                                    <option value=""></option>
                                    <option value="SBI Regular Home Loan">SBI Regular Home Loan</option>
                                    <option value="HDFC Regular Home Loan">HDFC Regular Home Loan</option>
                                    <option value="ICICI Regular Home Loan">ICICI Regular Home Loan</option>
                                    <option value="Bank of Baroda Regular">Bank of Baroda Regular</option>
                                    <option value="Axis Regular Home Loan">Axis Regular Home Loan</option>
                                    <option value="Bank of Maharastra">Bank of Maharastra</option>
                                    <option value="Bajaj Regular Home Loan">Bajaj Regular Home Loan</option>
                                    <option value="Kotak Home Loan">Kotak Home Loan</option>
                                    <option value="Godrej Finance Regular">Godrej Finance Regular</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            <div id="otherBankInput" class="form-input" style="display: none;">
                                <label for="otherBank">Specify Bank</label>
                                <input type="text" id="otherBank" name="other_bank" class="input" placeholder="Enter bank name">
                            </div> 
                            <button class="submit" type="submit">Submit</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </main>
    <script>
        function showOtherInput() {
            var selectBox = document.getElementById("selectBank");
            var userInputDiv = document.getElementById("otherBankInput");
            var selectedValue = selectBox.value;

            if (selectedValue === "Others") {
                userInputDiv.style.display = "block";
            } else {
                userInputDiv.style.display = "none";
            }
        }
    </script>
{% endblock %} 