{%extends "base(Home).html"%}
{% load static %}
{% block head_block %}

<title>Privacy Policy - Search Homes India Private Limited</title>
<meta name="description" content="Our Privacy Policy is to ensure your information is fully secure.
Read our company&#39;s privacy policy and learn how we handle your
personal information.">
<meta name="keywords" content="search homes india privacy policy, privacy policy of
search homes india, , search homes india policy">
<link rel="stylesheet" href="https://static.searchhomesindia.com/css/privacy.css">
<style>
    #header1 {top: 0px!important;}.Privacymain{margin-top: 65px;}.margin-t2{margin-top: 2%;}.margin-b2{margin-bottom: 2%;}
</style>
{% endblock %}
{%block body_block%}

    <main class="Privacymain">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="privacytop">
                        <img src="https://static.searchhomesindia.com/images/Privacy_img.jpg"
                            alt="">
                    </div>
                    <div class="privacyheading">
                        <h1>PRIVACY POLICY</h1>
                        <div class="btline-1"></div>
                        <div class="btline-2"></div>
                        <div class="btline-3"></div>
                    </div>
                    <div class="privacypara">
                        <ul>
                            <li>
                                <h2>Consent:</h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                        Search Homes India Pvt Ltd. was founded in 2015 and came into
                                        existence with the goal of providing one-to-one solutions for all your needs related to buying, selling, or renting properties.
                                        Hereinafter referred to as (“Company”, “We”, “Us”)
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        This website is operated by Search Homes India Pvt Ltd. We are committed to safeguarding the privacy and personal information of our customers. It is important for you to understand how we handle
                                         your personal information and ensure compliance with relevant laws, including data protection and privacy laws in India.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        We urge you to carefully read our privacy policy and terms & conditions to understand our practices regarding your information. By engaging with us, whether contractually or otherwise, you acknowledge that you have read and understood this privacy policy and agree to its terms and conditions. Your access or use of our services, creation of an account, or engagement as a supplier,
                                         reseller, or customer implies your consent to the collection, storage, and use of your information as described herein.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        Please review the policy periodically for updates, as it may change. Your continued use of our services following any modifications will be deemed as acceptance of the revised policy.
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>B.	APPLICABILITY OF THE POLICY</h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                        <b>i.</b>	This privacy statement is applicable to all users, including both registered and unregistered, of the services provided by us.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        <b>ii.</b>	This privacy policy applies to the information collected by us via email, text message and any other electronic communication related to our services.
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>C.	COLLECTION OF INFORMATION</h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                        Depending on your interaction with us, we collect various types of information, including personal and non-personal information, such as: 
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        <b>i.</b>	Information provided during registration for our services, including name, email address, phone number, postal code and other details subject to the kind of services or particulars of business between us, shall be regarded as your personal information.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                       <b>ii.</b>	Information regarding your internet connection and the status of devices which are used by you at the time of availing our services. 
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        <b>iii.</b>	Information collected automatically whether directly or indirectly depending upon your usage on our website such as extended communication with us/other vendor/any third party on our behalf, location, your preferences, special requests, categories, favorites, comments, reviews, time zone and other account settings. 
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        <b>iv.</b>	Information regarding your browsing details (logs), searches, activities, URL of last website.
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>D.	USE OF INFORMATION</h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                        The information collected through direct or indirect modes will be used by us for various purposes including:
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        <b>i.</b>	Customizing browsing experiences.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                        <b>ii.</b>	Enhancing Communication between us and enhance and improve service quality. 
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                       <b>iii.</b>	Monitoring and improving functionality, performance, and service, fixing errors, fraud prevention, administration and connected matters regarding the security of different channels of communication used by us.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                       <b>iv.</b>	Research and Development.  
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                       <b>v.</b>	Compliance with the legal obligations under the provisions, rules, regulations, guidelines provided by the government authorities for the time being in force. 
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                       <b>vi.</b>	Fulfilling and responding to your requests and demands regarding our services. 
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>E.	SHARING OF INFORMATION</h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                        The information that we collect will be shared by us as per our policy, your prior consent and the legal requirements of law for the time being in force:
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                       <b>i.</b>	The personal/non-personal information collected by us shall be shared for the purposes of its collection, with any of the other companies that we
                                         hold ownership of, any other third party whose services we will avail, in case of any company being merged or acquired by another company- details of your information with the acquired company will be shared with the acquiring company or any other purposes as shall be disclosed at the time of such collection.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                       <b>ii.</b>	Any services that are being availed by us through any third party, will require information by them and such information will be shared by us on need-to-know basis.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                       <b>iii.</b>	The various threats to the information being stored needs to be detected and accordingly handled in case of any violations. The information that is under threat, has been violated or is required to be shared with any legal authority for the time being in force shall be subject to be shared accordingly.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                       <b>iv.</b>	Interactions with social media platforms on the website shall be recorded and viewed for improving your available options regarding our services, and such interactions will be guided by the privacy policies of the social media networks only. 
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                       <b>v.</b>	The information will be used to enforce the terms and conditions, and all other agreements. 
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                       <b>vi.</b>	Disclosures pertaining to your information that we think are mandatory and for your benefit shall be made in accordance with all the laws for the time being in force.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                       <b>vii.</b>	The details regarding any updates in our privacy policy shall be communicated in a timely manner and in a procedure that shall be mandated by the government authorities for the same.
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>F.	ANONYMOUS DATA</h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                        The generalized use of your information without limitation by any third party, not restricted by this privacy policy, will be made possible after we have used tools available with us to make your information anonymous and un-identifiable to your person. 
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>G.	COOKIES </h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                       <b>i.</b>	Cookies are those files that get stored to the device’s hardware when a user accesses a website to record their activities and preferences by tracking their activities while accessing the website. 
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                       <b>ii.</b>	Cookies will not have access to the user’s device information that do not concern with the website activities. They are used to collect information only pertaining to the mandatory and the non-mandatory preferences allowed by the user for being stored on his device’s hardware. 
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                       <b>iii.</b>	However, the cookie polices of any third party that the user shall engage with should be read and consented to carefully as we will not be liable in case of any breach of your personal information.  
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                      <b>iv.</b> Cookies that are necessary to enhance the user experience and the overall website experience will be installed on the website, and shall be activated by default when any user
                                         accesses the website. The user shall have the option of saving their preferences and not consenting to the non-necessary cookies.
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>H.	SECURITY/ PROTECTION</h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                       <b>i.</b>	The safety of your personal/non-personal information shall be a contributory effort.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                       <b>ii.</b>	To prevent any events of unauthorized access of your information, we will provide measures and safeguards according to the security standards of the industry for your data security. Although, all such protection shall be prone to the threats of data transmission across the internet, and across the World Wide Web. 
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                       <b>iii.</b>	Any disclosure of your information to anyone by you, or anyone other than you having access to the credentials of your account with us, shall be an un-identifiable situation and will result in your data security being breached. 
                                    </li>
                                </ol>
                                <p class="margin-t2 margin-b2">
                                    Therefore, we cannot be made liable for any disclosures that occur due to errors during the transmission, any cases of un-authorized access or any other situation that shall be beyond our control.
                                </p>
                            </li>

                            <li>
                                <h2>I.	DATA RETENTION </h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                       <b>i.</b>	As has been clearly laid down by this Privacy Policy, your information shall be strictly used for the purposes for which it is collected but the retention of your information shall be in accordance with the laws for the time being in force. 
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                       <b>ii.</b>	If you desire to discontinue your business with us, you may raise a request with the Grievance Officer mentioned in the policy for the deletion of your account and your personal/non-personal information. Post such deactivation your information shall be used in manners that cannot be traced back to your identity. 
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>J.	CONSENT</h2>
                                <p class="margin-t2 margin-b2">Your consent to this privacy policy shall be confirmed once you access or use the services provided by us. </p>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                       <b>i.</b>	This consent shall be inclusive for the purpose of collecting, storing, retaining, usage and any disclosures of your information. This shall not exclude the information you share with us about any person you claim to be an authorized representative of.
                                    </li>
                                    <li class="margin-t2 margin-b2">
                                       <b>ii.</b>	The consent to all the above-mentioned action shall be extended to all the platforms that serve us with any other services and consent to communications with them through any of the modes of communication specified in the Privacy Policy.
                                    </li>
                                </ol>
                            </li>

                            <li>
                                <h2>K.	CHANGES IN PRIVACY POLICY </h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                        Changes to this Privacy Policy shall be our rights and any such rights as to make amends to the policy. These changes and amendments shall be reflective of any change in the laws for the time being in force or any internal changes in the methods of our collection of your information. The use of your information shall also be in accordance with such changes at that time. It is your duty to review and keep up with any changes to the policy, as your consent to continued usage after such change shall be considered impliedly. 
                                    </li>
                                </ol>
                            </li>

                            <!-- <li>
                                <h2>L.	GRIEVANCE OFFICER </h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                       <b>i.</b>	Name of Grievance Officer <br>
                                       <b>ii.</b>	Contact details (Phone and e-mail)
                                    </li>
                                </ol>
                            </li> -->

                            <li>
                                <h2>M.	CONTACT US </h2>
                                <ol>
                                    <li class="margin-t2 margin-b2">
                                        Any contact or communication between us shall be facilitated through the e-mail address or any other mode of communication provided through the Grievance Officer’s details. 
                                    </li>
                                </ol>
                            </li>
                            
                        </ul>
                    </div>

                    <!-- <div class="privacybtm">
                        <h5>Get in touch with us</h5>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="privacycontact">
                                    <div class="priconwrap1"><i class="ShiIcons icon_phonecall"></i></div>
                                    <div class="priconwrap2">
                                        <h6>Toll-Free No.</h6>
                                        <a href="">
                                            <p>0755-2726-2690</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="privacycontact">
                                    <div class="priconwrap1"><i class="ShiIcons1 icon_mail"></i></div>
                                    <div class="priconwrap2">
                                        <h6>Mail us at</h6>
                                        <a href="">
                                            <p>info@searchhomesindia.com</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="privacycontact">
                                    <div class="priconwrap1"><i class="ShiIcons icon_phonecall"></i></div>
                                    <div class="priconwrap2">
                                        <h6>WhatsApp No.</h6>
                                        <a href="">
                                            <p>+91-89711785944</p>
                                        </a>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div> -->

                </div>
            </div>

        </div>
    </main>

{% endblock %}