{%extends "base(Home).html"%}
{% load static %}
{% block head_block %}
<link rel="stylesheet" href="https://static.searchhomesindia.com/css/SellerDetailForm1.css">
<style>
   #header1 {top: 0px!important;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;border: none;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 
                0 1px 2px rgba(0, 0, 0, 0.06);transition: box-shadow 0.3s ease;}
  .firstsect{margin-top: 65px;}dl, ol, ul {list-style: auto!important;}
</style>
{% endblock %}
{% block body_block %}
    <div class="PropEnterForm">
        <!-- ============posting form for all start============ -->
               <section class="firstsect forselling">
                   <div class="coverimg">
                       <img src="https://static.searchhomesindia.com/images/Banner1.webp" alt="">
                   </div>
                   <!-- <div class="coverimg1 mobile">
                       <img src="https://static.searchhomesindia.com/images/Banner2M.jpg" alt="">
                   </div> -->
                       <div class="EnterFormWrap">
                           <div class="brand-logo"><img src="https://static.searchhomesindia.com/images/shi_logo_small.png" alt=""></div>
                           <div class="EnterForm1">
                               <div class="Formheading">
                                   <h5>Here We Go, Tell Us :-</h5>
                               </div>
                               <form id="selectForm" method="post" action="{% url 'select_user_and_property_type' %}">
                                {% csrf_token %}
                                   <div class="Frommid1">
                                       <h6 class="Formmidhead">Who You Are :-</h6>
                                       <div class="mid1buttss" id="mid1buttss">
                                            <input type="hidden" id="userTypeField" name="user_type">
                                            <button type="button" class="obabutns" onclick="selectUserTypeP('owner')">Owner</button>
                                            <button type="button" class="obabutns" onclick="selectUserTypeP('agent')">Agent</button>
                                            <button type="button" class="obabutns" onclick="selectUserTypeP('builder')">Builder</button>
                                       </div>
                                   </div>
                                   <div class="Frommid2">
                                       <h6 class="Formmidhead">You are here to :-</h6>
                                       <div class="mid2buttss" id="mid2buttss">
                                            <input type="hidden" id="propertyTypeField" name="property_type">
                                            <button type="button" class="srlbutns" onclick="selectPropertyTypeP('sell')">Sell</button>
                                            <button type="button" class="srlbutns" onclick="selectPropertyTypeP('rental')">Rental</button>
                                            <button type="button" class="srlbutns" onclick="selectPropertyTypeP('pg')">Pg/Co-living</button>
                                       </div>
                                   </div>
                                   <div class="selectbuttwrap d-flex align-items-center justify-content-around">
                                    <div class="formbttm"><Button type="submit">Start Now</Button></div>
                                    <a href="/"><div class="formbttm"><Button type="button" >Back To Home</Button></div></a>
                                   </div>
                               </form>
                               <p style="font-weight: 600; text-align: center; margin-top: 5px;">Just Few More Steps</p>
                           </div>
                       </div>
               </section>
       <!-- ============posting form for all end============ -->
       
<!-- ============how to fill for all start============ -->
    <section class="scndsect">
        <div class="header__center headerforall">How it works</div>
        <div class="container">
            <div class="row howwork">
                <div class="col-lg-12 howworkinn">
                    <div class="leftimgs "><img src="https://static.searchhomesindia.com/images/steps1.png" alt=""></div>
                    <div class="rightimgs">
                        <h6><b>Sign Up</b></h6>
                            <ul>
                                <li>Register with your phone number today!</li>
                                <li>Verify your account using the one-time password (OTP) sent to your phone.</li>
                            </ul>
                    </div>
                </div>
            </div>
            <div class="row howwork">
                <div class="col-lg-12 howworkinn">
                    <div class="leftimgs "><img src="https://static.searchhomesindia.com/images/steps2.png" alt=""></div>
                    <div class="rightimgs">
                        <h6><b>Share Property Details</b></h6>
                        <ul>
                            <li>Provide property Type, Location, Rooms, Amenities - All Included!</li>
                            <li>Great pictures, Great Results- Upload Your Property Photos & Shine</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row howwork">
                <div class="col-lg-12 howworkinn">
                    <div class="leftimgs"><img src="https://static.searchhomesindia.com/images/steps3.png" alt=""></div>
                    <div class="rightimgs">
                        <h6><b>Review & Submit</b></h6>
                        <ul>
                            <li>Carefully review the details of your listing.</li>
                            <li>Accept the terms and conditions</li>
                            <li>Click "Submit" and await confirmation. Congratulations, Your property is now listed!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ============how to fill for all end============ -->
  
      <!-- ============FndQ for all start============ -->
    <section class="thirdsect">
        <div class="header__center headerforall">Frequently Asked Question</div>
        <div class="accordwrap">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false"
                            aria-controls="flush-collapseOne">
                            <i class="ShiIcons3 icon_thumG"></i> What type of property can I post for selling/renting?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">List your residential properties for rent, lease, or sale on Search Homes India – the ultimate real estate platform for owners, 
                            agents, and builders. Connect with potential tenants and buyers looking for flats, houses, plots, and more.
                             Sell or rent out your property swiftly with our efficient and effective portal.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false"
                            aria-controls="flush-collapseTwo">
                            <i class="ShiIcons3 icon_thumG"></i> Can I list my property for free, and is there a limit to the number of properties I can list?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Yes! You can Post unlimited properties for free on Search Homes India and enjoy full access to buyer/tenant
                             enquiries without any restrictions. Maximize your listings and reach a broader audience effortlessly.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            <i class="ShiIcons3 icon_thumG"></i> What information do I need to provide when creating a property listing?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">You'll need to provide essential details such as property type, location, size, number of bedrooms and bathrooms, amenities, a compelling property 
                            description, and the mandatory field "*". Additionally, high-quality photos can significantly enhance your listing.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                            <i class="ShiIcons3 icon_thumG"></i>Is there a limit to the number of photos I can upload for my property listing?
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">We encourage you to showcase your property effectively. You can upload a maximum of 6 photos.
                             Ensure they are clear, high-resolution images that highlight the key features of your property.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive">
                            <i class="ShiIcons3 icon_thumG"></i> Can I edit my property listing after it has been submitted?
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Yes, you can edit your property listing at any time. Log in to your account, go to the " Dashboard" section, 
                            and select the type of listing and choose property you wish to edit. Make the necessary changes and save the updates.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSix" aria-expanded="false"
                            aria-controls="flush-collapseSix">
                            <i class="ShiIcons3 icon_thumG"></i> What security measures are in place to protect my personal information?
                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">We take the security and privacy of our users seriously. Your contact information is kept confidential, 
                            and communication occurs through our secure platform. Please review our privacy policy for more details.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ============FndQ for all start============ -->
       
       
</div>
<script src="https://static.searchhomesindia.com/js/LoginForm.js"></script>
<script>
    function selectUserTypeP(userType) {
        document.getElementById('userTypeField').value = userType;
    }
    function selectPropertyTypeP(propertyType) {
        document.getElementById('propertyTypeField').value = propertyType;
    }
</script>

{% endblock %}
