{%extends "base(Home).html"%}
{% load static %}

{% block head_block %}
<title>Search Home India Helps Searching Properties in Bangalore</title>
<meta name="keyword" content="properties in bangalore, properties near me, houses for sale near me, homes for sale near me,apartment near me, villas for sale near me, luxury villas in bangalore">
<meta name= "description" content = "Searching Property in Bangalore!No need to worry. Search Homes India helps to get the right property based on your budget and requirement">
{% endblock %}

{%block body_block%}
<!--===== PAGE TITLE =====-->
<div class="page-title page-main-section parallaxie" style="background-image: url(../static/images/gal.jpg);">
  <div class="container padding-bottom-top-120 text-uppercase text-center">
    <div class="main-title">
      <h1>Smart Search</h1>
      <h5>10 Years Of Experience!</h5>
      <div class="line_4"></div>
      <div class="line_5"></div>
      <div class="line_6"></div>
      <a href="/" title="Home">home</a><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span><!--<a href="#.">Timeline</a> -->
    </div>
  </div>
</div>
<!--===== #/PAGE TITLE =====-->


<!--===== Timeline =====-->
<section id=timeline>
  <div class="demo-card-wrapper">
    <div class="demo-card demo-card--step1">
      <div class="head">
        <div class="number-box">
          <span>01</span>
        </div>
        <h2><span class="small">Difficulty In</span> Searching?</h2>
      </div>
      <div class="body">
        <p>Feeling difficulty in searching homes? No worries we make your work simpler and easier with accurate results.</p>
        <img src="{% static 'smartsearchimages/smartnew.jpg' %}" alt="Graphic" style="width:404px;height: 230px;">
      </div>
    </div>

    <div class="demo-card demo-card--step2">
      <div class="head">
        <div class="number-box">
          <span>02</span>
        </div>
        <h2><span class="small">This Is How</span>It Works</h2>
      </div>
      <div class="body">
        <p>As you can see the general search bar on our website you may feel difficult to search based on  your credentials.That’s the reason we have Smart Search technology which is displayed on property listing page.</p>
        <img src="{% static 'smartsearchimages/smartsearch2.jpg' %}" alt="Graphic" style="width:404px;height: 200px;">
      </div>
    </div>

    <div class="demo-card demo-card--step3">
      <div class="head">
        <div class="number-box">
          <span>03</span>
        </div>
        <h2><span class="small">SMART</span> SEARCH TECHNOLOGY</h2>
      </div>
      <div class="body">
        <p>Smart Search option consists of
	Keyword,
	Location,
	Property type,
	Sub Types,
	Property Status,
	Price range.This filtration would help the user to get the exact properties based on their credentials.
			</p>
        <img src="{% static 'smartsearchimages/advance1.jpg' %}" alt="Graphic" style="width:404px;height: 220px;">
      </div>
    </div>

    <div class="demo-card demo-card--step4">
      <div class="head">
        <div class="number-box">
          <span>04</span>
        </div>
        <h2><span class="small">How Its Helpful</span> For Users</h2>
      </div>
      <div class="body">
        <p>The Property details includes entire description quick summary along with the location of the property which helps the user to get end to end details.</p>
        <img src="{% static 'smartsearchimages/smartsearch4.jpg' %}" alt="Graphic" style="width:404px;height: 220px;" >
      </div>
    </div>
	

    <div class="demo-card demo-card--step5">
      <div class="head">
        <div class="number-box">
          <span>05</span>
        </div>
        <h2><span class="small">Extraordinary</span>features</h2>
      </div>
      <div class="body">
        <p>Our website also provides with the option of similar properties which will meet your requirements based on filtration.Once the property is viewed instead of scrolling back to home page u can directly access home page at the footer section.</p>
        <img src="{% static 'smartsearchimages/smart5.jpg' %}" alt="Graphic" style="width:404px;height: 200px;">
      </div>
    </div>
	
	 <div class="demo-card demo-card--step5">
      <div class="head">
        <div class="number-box">
          <span>06</span>
        </div>
        <h2><span class="small">Pop Up</span> Form</h2>
      </div>
      <div class="body">
        <p>Footer section consists of quick links and useful links of our website.For any further information about property the user has to fill the popup form that appears automatically    "THINK SMART SEARCH SMART"</p>
        <img src="{% static 'smartsearchimages/smart66.jpg' %}" alt="Graphic" style="width:404px;height: 210px;">
      </div>
    </div> 
	<!-- <div class="demo-card demo-card--step5">
      <div class="head">
        <div class="number-box">
          <span>05</span>
        </div>
        <h2><span class="small">Extraordinary</span>features</h2>
      </div>
      <div class="body">
        <p>Our website also provides with the option of similar properties which will meet your requirements based on filtration.Once the property is viewed instead of scrolling back to home page u can directly access home page at the footer section.</p>
        <img src="images/smart5.jpg" alt="Graphic" style="width:404px;height: 200px;">
      </div>
    </div> -->
	
	 
	
	
	 
  </div>
</section>
<!--===== #/Timeline =====-->
{% endblock %}