{%extends "base(Home).html"%}
{% load static %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'css/SellerDetMain2.css' %}">
<style>
    #header1 {top: 0px!important;}
    .insidecontain{margin-top: 65px;}
    .active, .btnsss:hover {
   background: transparent!important;
   }
   .image-item{
    border: 2px solid grey;
    margin-right: 10%;
   }
   .image-update a{
      font-size: 14px;
   }
   @media only screen and (max-width:768px) {
      .image-update a{
      font-size: 7px;
      }
   }
</style>
{% endblock %}
{%block body_block%}

<div class="maincontent">

    <div class="col-lg-12" style="width: 100%; position: fixed; background-color: #fff!important;z-index: 999; left: 0px;">
        <div class="progress-bar mx-auto">
            <div class="progresstop">
                <div class="title">
                    Progress bar
                </div>
            </div>
            <div class="progressbottom">

                <div class="step">
                    <p class="progresp">
                        Basic Details
                    </p>
                    <div class="bullet progres1">
                        <span>1</span>
                    </div>
                    <div class="check"></div>
                </div>
                <div class="step">
                    <p>
                        Essential Detail
                    </p>
                    <div class="bullet">
                        <span>2</span>
                    </div>
                    <div class="check"></div>
                </div>
                <div class="step">
                    <p>
                        Images
                    </p>
                    <div class="bullet">
                        <span>3</span>
                    </div>
                    <div class="check"></div>
                </div>
                <div class="step">
                    <p>
                        Submit
                    </p>
                    <div class="bullet">
                        <span>4</span>
                    </div>
                    <div class="check"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="background-size:100%; background-repeat: no-repeat;">
        <div class="row">
            <div class="col-lg-12" style="margin-top: 150px;">
    <div class="rightprogress mx-auto">
        <div class="form-outer">

            <form method="post" enctype="multipart/form-data" id="submit_propertyid">
                {% csrf_token %}
                <div class="page slide-page" id="page1dets">
                    <div class="titlee">
                        Basic Details
                    </div>

                    <div class="field">
                        <div class="label">
                            I am <span class="req">*</span>
                        </div>
                        <label for="id_u_property_type_1"> Owner</label>
                        <input type="radio" name="u_property_type" value="owner" required id="id_u_property_type_1"
                            class="iamradio"  {% if property.u_property_type == 'owner' %} checked {% endif %}>
                        <label for="id_u_property_type_2" id="fielabs">Agent</label>
                        <input type="radio" name="u_property_type" value="agent" required id="id_u_property_type_2"
                            class="iamradio" {% if property.u_property_type == 'agent' %} checked {% endif %}>
                        <label for="id_u_property_type_3" id="fielabs">Builder</label>
                        <input type="radio" name="u_property_type" value="builder" required
                            id="id_u_property_type_3" class="iamradio" {% if property.u_property_type == 'builder' %} checked {% endif %}>

                    </div>

                    <div class="field">
                        <div class="label">
                            Here to <span class="req">*</span>
                        </div>
                        <label for="sell">Sell</label>
                        <input type="radio" name="hereto" value="sell" required class="iamradio" checked>
                        <label for="Rent/Lease" id="fielabs">Rent/Lease</label>
                        <input type="radio" name="hereto" value="Rent/Lease" class="iamradio" disabled>
                        <label for="Pg/Colive" id="fielabs">Pg/Co-live</label>
                        <input type="radio" name="hereto" value="Pg/Colive" class="iamradio" disabled>
                    </div>

                    <div class="field">
                        <div class="label">
                            Enter City <span class="req">*</span>
                        </div>
                        <select name="project_city" id="id_project_city" required>

                            <option value="" {% if property.project_city == '' %} selected {% endif %}>Select City</option>

                            <option value="bengaluru" {% if property.project_city == 'bengaluru' %} selected {% endif %}>Bengaluru</option>

                            <option value="chennai" {% if property.project_city == 'chennai' %} selected {% endif %}>Chennai</option>

                            <option value="mumbai" {% if property.project_city == 'mumbai' %} selected {% endif %}>Mumbai</option>

                            <option value="hyderabad" {% if property.project_city == 'hyderabad' %} selected {% endif %}>Hyderabad</option>

                            <option value="delhi" {% if property.project_city == 'delhi' %} selected {% endif %}>Delhi</option>

                            <option value="pune" {% if property.project_city == 'pune' %} selected {% endif %}>Pune</option>


                        </select>
                    </div>   

                    <div class="field">
                        <div class="label">
                            Enter Locality <span class="req">*</span>
                        </div>
                        <input type="text" placeholder="Enter Locality" name="landmark" maxlength="100" required
                            id="id_landmark"  value="{{ property.landmark }}">
                    </div>

                    <div class="field">
                        <div class="label">
                            Project/Society Name <span class="req">*</span>
                        </div>
                        <input type="text" placeholder="Society name" name="project_society_name" maxlength="100"
                            required id="id_project_society_name" value="{{ property.project_society_name }}">
                    </div>

                    <div class="field">
                        <div class="label">
                            Property Type <span class="req">*</span>
                        </div>
                        <select name="apartment_type" required id="id_apartment_type">

                            <option value="" {% if property.apartment_type == '' %} selected {% endif %}> Select Type</option>

                            <option value="villa" {% if property.apartment_type == 'villa' %} selected {% endif %}>Villa</option>

                            <option value="plot" {% if property.apartment_type == 'plot' %} selected {% endif %}>Plot</option>

                            <option value="1bhk" {% if property.apartment_type == '1bhk' %} selected {% endif %}>1 BHK</option>

                            <option value="2bhk" {% if property.apartment_type == '2bhk' %} selected {% endif %}>2 BHK</option>

                            <option value="3bhk" {% if property.apartment_type == '3bhk' %} selected {% endif %}>3 BHK</option>

                            <option value="4bhk" {% if property.apartment_type == '4bhk' %} selected {% endif %}>4 BHK</option>

                            <option value="5bhk" {% if property.apartment_type == '5bhk' %} selected {% endif %}>5 BHK</option>

                        </select>
                    </div>

                    <div class="field">
                        <div class="label">
                            Status Type <span class="req">*</span>
                        </div>
                        <select name="status" required id="id_status">

                            <option value="" {% if property.status == '' %} selected {% endif %}> Select Status</option>

                            <option value="ongoing" {% if property.status == 'ongoing' %} selected {% endif %}>Ongoing</option>

                            <option value="readytomove" {% if property.status == 'readytomove' %} selected {% endif %}>Ready To Move</option>

                            <option value="upcoming" {% if property.status == 'upcoming' %} selected {% endif %}>UpComing</option>

                        </select>
                    </div>

                    <div class="field">
                        <div class="label">
                            Super Area/ Plot Area(Sqft) <span class="req">*</span>
                        </div>
                        <input type="number" placeholder="Super area" name="super_area" step="0.01" required
                            id="id_super_area"  value="{{ property.super_area }}">
                    </div>

                    <div class="field">
                        <div class="label">
                            Carpet Area/ Plot Area(Sqft) <span class="req">*</span>
                        </div>
                        <input type="number" placeholder="Carpet area" name="carpet_area" step="0.01"  required
                            id="id_carpet_area"  value="{{ property.carpet_area }}">
                    </div>

                    <div class="field">
                        <div class="label">
                            Furnished Status <span class="req">*</span>
                        </div>
                        <select name="furnished_status" required id="id_furnished_status">

                            <option value="" {% if property.furnished_status == '' %} selected {% endif %}>Select Status</option>

                            <option value="furnished" {% if property.furnished_status == 'furnished' %} selected {% endif %}>Furnished</option>

                            <option value="semi-furnished" {% if property.furnished_status == 'semi-furnished' %} selected {% endif %}>Semi-Furnished</option>

                            <option value="unfurnished" {% if property.furnished_status == 'unfurnished' %} selected {% endif %}>Unfurnished</option>

                        </select>
                    </div>

                    <div class="field">
                        <div class="label">
                            Approval Status <span class="req">*</span>
                        </div>
                        <select name="approval_status" id="id_approval_status" required>

                            <option value="others" {% if property.approval_status == 'others' %} selected {% endif %}>Others</option>

                            <option value="reraapproved" {% if property.approval_status == 'reraapproved' %} selected {% endif %}>RERA Approved</option>

                            <option value="bda_bmrda" {% if property.approval_status == 'bda_bmrda' %} selected {% endif %}>BDA/BMRDA Approved</option>

                            <option value="notapproved" {% if property.approval_status == 'notapproved' %} selected {% endif %}>Not Approved</option>

                        </select>
                    </div>

                    <div class="field">
                        <div class="label">
                            Project Rera Id
                        </div>

                        <input type="text" placeholder="Rera Id" name="project_rera_id" maxlength="100"
                            id="id_project_rera_id"  value="{{ property.project_rera_id }}">
                    </div>

                    <div class="field">
                        <div class="label">
                            Possession Date
                        </div>

                        <input type="date" name="possession_date" id="id_possession_date" value="{{ property.possession_date|date:'Y-m-d' }}">
                    </div>

                    <div class="field">
                        <div class="label">
                            Builder Name
                        </div>

                        <input type="text" placeholder="Builder name" name="builder_name" maxlength="100"
                            id="id_builder_name"  value="{{ property.builder_name }}">
                    </div>

                    <div class="field">
                        <div class="label">
                            Age of Construction
                        </div>
                        <input type="text" placeholder="In months or Years" name="age_of_construction"
                            maxlength="100" id="id_age_of_construction"  value="{{ property.age_of_construction }}">
                    </div>

                    <div class="field">
                        <a href="#page2dets"><button type="button" class="firstNext next" id="page1next">Next</button></a>
                    </div>


                </div>
                <div class="page" id="page2dets" style="display: none;">
                    <div class="titlee">
                        Essential Details:
                    </div>
                    <div class="field">
                        <div class="label">
                            Total Floors <span class="req">*</span>
                        </div>

                        <input type="number" placeholder="Total floors" name="total_floors" min="0" 
                            id="id_total_floors" value="{{ property.total_floors }}" required>
                    </div>
                    <div class="field">
                        <div class="label">
                            Total Units <span class="req">*</span>
                        </div>

                        <input type="number" placeholder="Total units" name="total_units" min="0" 
                            id="id_total_units" value="{{ property.total_units }}" required>
                    </div>

                    <div class="field">
                        <div class="label">
                            Floor Number <span class="req">*</span>
                        </div>

                        <input type="number" placeholder="Floor Number" name="floor_number" min="0" required
                            id="id_floor_number" value="{{ property.floor_number }}">
                    </div>

                    <div class="field">
                        <div class="label">
                            Developement Area (Acre) <span class="req">*</span>
                        </div>

                        <input type="number" placeholder="Developement area" name="development_area" step="0.01"
                            id="id_development_area" value="{{ property.development_area }}" required>
                    </div>
                    <div class="field">
                        <div class="label">
                            No. of Towers <span class="req">*</span>
                        </div>

                        <input type="number" placeholder="No of Towers" name="no_of_tower" min="0"
                            id="id_no_of_tower" value="{{ property.no_of_tower }}" required>
                    </div>

                    <div class="field">
                        <div class="label">
                            Balconies <span class="req">*</span>
                        </div>
                        <select name="balconies" id="id_balconies" required>

                            <option value="" {% if property.balconies == '' %} selected {% endif %}>Select Balconies</option>

                            <option value="1" {% if property.balconies == '1' %} selected {% endif %}>1</option>

                            <option value="2" {% if property.balconies == '2' %} selected {% endif %}>2</option>

                            <option value="3" {% if property.balconies == '3' %} selected {% endif %}>3</option>

                            <option value="4" {% if property.balconies == '4' %} selected {% endif %}>4</option>

                            <option value="5" {% if property.balconies == '5' %} selected {% endif %}>5</option>

                            <option value="0" {% if property.balconies == '0' %} selected {% endif %}>Others</option>

                            <option value="-1" {% if property.balconies == '-1' %} selected {% endif %}>N/A</option>

                        </select>
                    </div>

                    <div class="field">
                        <div class="label">
                            Bedrooms <span class="req">*</span>
                        </div>
                        <select name="bedrooms" id="id_bedrooms" required>

                            <option value="" {% if property.bedrooms == '' %} selected {% endif %}>Select Bedrooms</option>

                            <option value="1" {% if property.bedrooms == '1' %} selected {% endif %}>1</option>

                            <option value="2" {% if property.bedrooms == '2' %} selected {% endif %}>2</option>

                            <option value="3" {% if property.bedrooms == '3' %} selected {% endif %}>3</option>

                            <option value="4" {% if property.bedrooms == '4' %} selected {% endif %}>4</option>

                            <option value="5" {% if property.bedrooms == '5' %} selected {% endif %}>5</option>

                            <option value="0" {% if property.bedrooms == '0' %} selected {% endif %}>Others</option>

                            <option value="-1" {% if property.bedrooms == '-1' %} selected {% endif %}>N/A</option>

                        </select>
                    </div>

                    <div class="field">
                        <div class="label">
                            Bathrooms <span class="req">*</span>
                        </div>
                        <select name="bathrooms" id="id_bathrooms" required>

                            <option value="" {% if property.bathrooms == '' %} selected {% endif %}>Select Bathrooms</option>

                            <option value="1" {% if property.bathrooms == '1' %} selected {% endif %}>1</option>

                            <option value="2" {% if property.bathrooms == '2' %} selected {% endif %}>2</option>

                            <option value="3" {% if property.bathrooms == '3' %} selected {% endif %}>3</option>

                            <option value="4" {% if property.bathrooms == '4' %} selected {% endif %}>4</option>

                            <option value="5" {% if property.bathrooms == '5' %} selected {% endif %}>5</option>

                            <option value="0" {% if property.bathrooms == '0' %} selected {% endif %}>Others</option>

                            <option value="-1" {% if property.bathrooms == '-1' %} selected {% endif %}>N/A</option>

                        </select>
                    </div>

                    <div class="field">
                        <div class="label">
                            Lifts <span class="req">*</span>
                        </div>
                        <select name="lifts" required id="id_lifts" required>

                            <option value="" {% if property.lifts == '' %} selected {% endif %}>Select</option>

                            <option value="yes" {% if property.lifts == 'yes' %} selected {% endif %}>YES</option>

                            <option value="no" {% if property.lifts == 'no' %} selected {% endif %}>No</option>

                        </select>
                    </div>

                    <div class="field">
                        <div class="label">
                            Property Pricing <span class="req">*</span>
                        </div>

                        <input type="text" placeholder="Pricing" name="property_price" maxlength="30" required
                            id="id_property_price"  value="{{ property.property_price }}">
                    </div>

                    <div class="field">
                        <div class="label">
                            Facing
                        </div>
                        <input type="text" placeholder="facing" name="facing" maxlength="30" id="id_facing"  value="{{ property.facing }}">
                    </div>

                    <div class="field">
                        <div class="label">
                            Parking <span class="req">*</span>
                        </div>
                        <select name="car_parking" required id="id_car_parking">

                            <option value="" {% if property.car_parking == '' %} selected {% endif %}>Select Type</option>

                            <option value="yes" {% if property.car_parking == 'yes' %} selected {% endif %}>YES</option>

                            <option value="no" {% if property.car_parking == 'no' %} selected {% endif %}>No</option>

                        </select>
                    </div>

                    <div class="field">
                        <div class="label">
                            About Project <span class="req">*</span>
                        </div>
                        <textarea name="about_project" placeholder="Describe in detail" maxlength="300"  id="id_about_project" style="height: 55px; font-size: 15px;">{{ property.about_project }}</textarea>
                    </div>

                    <div class="field">
                        <div class="label">
                            Address <span class="req">*</span>
                        </div>
                        <input type="text" placeholder="Address & Pincode" name="address" maxlength="255" required
                            id="id_address"  value="{{ property.address }}">
                    </div>

                    <div class="field btns">
                        <a href="#page1dets"> <button type="button" class="prev-1 prev"
                                id="page2prev">Previous</button> </a>
                        <a href="#page3dets"> <button type="button" class="next-1 next" id="page2next">Next</button>
                        </a>
                    </div>
                </div>

                <div class="page" id="page3dets" style="display: none;">
                    <div class="titlee">
                        For Better Response Uploads Images
                    </div>
                    <div class="field">
                        <div class="label">
                            Cover Image
                        </div>
                        {% if property.get_cover_img_url %}
                            <img src="{{ property.get_cover_img_url }}" alt="Current Image">
                        {% else %}
                            <!-- Display a placeholder image or a message when no image is present -->
                            <span>No cover image available</span>
                        {% endif %}
                        <!-- Input field to upload a new image -->
                        <input type="file" name="project_cover_img" accept="image/*" id="id_project_cover_img" style="margin-left: 5%;">
                    </div>
                    
                    {{ form.image_formset.management_form }}
                    <div class="image-container">
                        {% for form in form.image_formset %}
                            <div class="image-item">
                                <div class="label">
                                    Image-{{ forloop.counter }}
                                </div>
                                <div class="image-preview">
                                    {% if form.instance.image %}
                                        <img src="{{ form.instance.image.url }}" alt="Current Image" style="width: 50%;">
                                    {% else %}
                                        <span>No image available</span>
                                    {% endif %}
                                </div>
                                <div class="image-details">
                                    <div class="image-type">
                                        {{ form.image_type }}
                                    </div>
                                    <div class="image-update">
                                        {{ form.image }}
                                    </div>
                                    <div class="image-actions">
                                        {{ form.DELETE }}
                                        {{ form.id }}
                                    </div>
                                </div>
                            </div><br>
                        {% endfor %}
                    </div>

                    <div class="field btns">
                        <a href="#page2dets"><button type="button" class="prev-2 prev"
                                id="page3prev">Previous</button></a>
                        <a href="#page4dets"><button type="button" class="next-2 next" id="page3next">Next</button>
                        </a>
                    </div>
                </div>

                <div class="page" id="page4dets" style="display: none;">
                    <div class="lastpagewrap">
                        <input type="checkbox" required>
                        <label for="Confirm">Confirm and Submit</label>
                    </div>
                    <div class="field btns finalpage">
                        <a href="#page3dets">
                            <button type="button" class="prev-3 prev"id="page4prev">Previous</button>
                        </a>
                        <button type="submit" class="submit" id="submit_buttonid">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    </div>
    </div>
    </div>
    
</div>

    <!-- Add jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/SellerDetMain2.js' %}"></script>

{% endblock %}