{%extends "base(Home).html"%}
{% load static %}

{% block head_block %}
<title>Look at the Different View of Different Properties in Bangalore</title>
<meta name="keyword" content="properties in bangalore, flats in bangalore to buy, house for sale in bangalore, villas in bangalore, luxury apartments in bangalore, properties near me, apartment near me">
<meta name= "description" content = "Search Homes India Pvt Ltd helps you to look at the different view of different properties in Bangalore and get the idea of which one is suitable for you">
{% endblock %}

{%block body_block%}

<!--===== PAGE TITLE =====-->
<div class="page-title page-main-section parallaxie" style="background-image: url(../static/images/back.jpg);">
  <div class="container padding-bottom-top-120 text-uppercase text-center">
    <div class="main-title">
      <h1>TIMELINE</h1>
      <h5>10 Years Of Experience!</h5>
      <div class="line_4"></div>
      <div class="line_5"></div>
      <div class="line_6"></div>
      <a href="/" title="Home">home</a><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
      <!--<a href="#.">Timeline</a> -->
    </div>
  </div>
</div>
<!--===== #/PAGE TITLE =====-->


<!--===== Timeline =====-->
<section id=timeline>
  <div class="demo-card-wrapper">
    <div class="demo-card demo-card--step1">
      <div class="head" style="background-color:skyblue">
        <div class="number-box">
          <span>01</span>
        </div>
        <h2><span class="small">YOUR GATEWAY </span> TO A RICHER LIFE </h2>
      </div>
      <div class="body">
        <p>Search Homes India Private Limited</p>
        <video width="420" controls>
          <source src="{% static 'video/homepage.mp4' %}" type="video/mp4">
        </video>
        <!-- <iframe width="420" height="250" src="https://www.youtube.com/embed/0go2nfVXFgA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      </div>
    </div>

    <div class="demo-card demo-card--step2">
      <div class="head" style="background-color:skyblue">
        <div class="number-box">
          <span>02</span>
        </div>
        <h2><span class="small">where Dream</span>Comes Home</h2>
      </div>
      <div class="body">
        <p>Brigade Orchards Signature Villas in Devanahalli, North Bangalore</p>
        <video width="420" controls>
          <source src="{% static 'video/brigade1.mp4' %}" type="video/mp4">
        </video>
      </div>
    </div>

    <div class="demo-card demo-card--step3">
      <div class="head" style="background-color:skyblue">
        <div class="number-box">
          <span>03</span>
        </div>
        <h2><span class="small">Move To</span> What Moves You</h2>
      </div>
      <div class="body">
        <p>Prestige Lakeside Habitat
        </p>
        <video width="420" controls>
          <source src="{% static 'video/prestige.mp4' %}" type="video/mp4">
        </video>
      </div>
    </div>

    <div class="demo-card demo-card--step4">
      <div class="head" style="background-color:skyblue">
        <div class="number-box">
          <span>04</span>
        </div>
        <h2><span class="small">We Are</span> Life Changers</h2>
      </div>
      <div class="body">
        <p>Sobha Royal Pavilion</p>
        <video width="420" controls>
          <source src="{% static 'video/sobha.mp4' %}" type="video/mp4">
        </video>
      </div>
    </div>


    <div class="demo-card demo-card--step5">
      <div class="head" style="background-color:skyblue">
        <div class="number-box">
          <span>05</span>
        </div>
        <h2><span class="small">Windmills</span>Of Your Mind</h2>
      </div>
      <div class="body">
        <p>Total Environment</p>
        <video width="420" controls>
          <source src="{% static 'video/total.mp4' %}" type="video/mp4">
        </video>
      </div>
    </div>

    <div class="demo-card demo-card--step5">
      <div class="head" style="background-color:skyblue">
        <div class="number-box">
          <span>06</span>
        </div>
        <h2><span class="small">Everyone Deserves The</span>Opportunity Of Home</h2>
      </div>
      <div class="body">
        <p>Shriram Properties</p>
        <video width="420" controls>
          <source src="{% static 'video/shriram.mp4' %}" type="video/mp4">
        </video>
      </div>
    </div>
    <!-- <div class="demo-card demo-card--step5">
      <div class="head">
        <div class="number-box">
          <span>05</span>
        </div>
        <h2><span class="small">Extraordinary</span>features</h2>
      </div>
      <div class="body">
        <p>Our website also provides with the option of similar properties which will meet your requirements based on filtration.Once the property is viewed instead of scrolling back to home page u can directly access home page at the footer section.</p>
        <img src="images/smart5.jpg" alt="Graphic" style="width:404px;height: 200px;">
      </div>
    </div> -->





  </div>
</section>
<!--===== #/Timeline =====-->



{% endblock %}